= "Actions globales"
= menu_item "Constantes", cst_heures_path, :index, :cst_heures, can?(:read, CstHeure), params
= menu_item "Retour Configuration", configuration_path, :index, :configuration, can?(:manage, :configuration), params