= semantic_form_for(@constante) do |f|
  = f.inputs do
    = f.input :sigle
    = f.input :descriptif
    = f.input :valeur
    = f.hidden_field :annee_civile
  = f.buttons do
    = f.commit_button "Valider"