- content_for :left_menu do
  = render :partial => 'actions'
%h1= "Constantes liées à l'année civile"
%br
= semantic_form_for(@annee_civile, :url => cst_heures_path()) do |f|
  = f.inputs do
    = f.input :annee, :label => "Année civile", :collection => @annees_civiles, :label_method => :annee, :include_blank => " - Choisissez une année civile -"
  = f.buttons do
    = f.commit_button "Valider"
%br
.header_02= "Année #{@annee_civile.annee}"
%ol.info
  - if @constantes.count == 0
    %p= "Aucune constante définie"
  - else
    %table{:style => "min-width: 400px"}
      %tr
        %th{:style => "text-align:left; width: 100px"}= "Sigle"
        %th{:style => "text-align:left; width: 250px"}= "Descriptif"
        %th{:style => "text-align:left; width: 90px"}= "Valeur"
        %th{:style => "text-align:left; width: 40px"}
        %th{:style => "text-align:left; width: 40px"}
      - @constantes.each do |constante|
        %tr
          %td= constante.sigle
          - if constante.descriptif
            %td= constante.descriptif.force_encoding("UTF-8")
          - else
            %td= ""
          %td= constante.valeur
          %td
            = link_to image_tag('report_edit_small.png'), edit_cst_heure_path(constante)
          %td
            = link_to image_tag('destroy_small.png'), cst_heure_path(constante), :method => :delete, data: { :confirm => "Etes vous sûr ?" }
%br
= link_to "Ajouter une constante", new_cst_heure_path(:annee_civile_id => @annee_civile.id)
