- if @type_id_externe && !@type_id_externe.new_record?
  = "Actions sur #{@type_id_externe.display_name}"
  = menu_item "Modifier le type d'id externe", [:edit, @type_id_externe], :edit, :type_id_externes, can?(:edit, @type_id_externe), params
  = menu_item "Supprimer le type d'id externe", @type_id_externe, :destroy, :type_id_externes, can?(:destroy, @type_id_externe), params, :method => :delete, data: {:confirm => "Etes-vous sûr ?"}

= "Actions globales"
= menu_item "Liste des types d'identifiant", type_id_externes_path, :index, :type_id_externes, can?(:read, TypeIdExterne), params
= menu_item "Ajouter un type d'identifiant", new_type_id_externe_path, :new, :type_id_externes, can?(:create, TypeIdExterne), params