- content_for :left_menu do
  = render :partial => 'actions'
%h1= "Types d'identifiants externes"
%br
- if @type_id_externes.count == 0
  %p= "Aucun type d'identifiant externe pour le moment"
- else
  %table{:style => "min-width: 400px"}
    %tr
      %th= "Nom"
      %th= "Description"
    - @type_id_externes.each do |tie|
      %tr
        %td= tie.nom
        %td= tie.description
        %td
          = link_to 'Modifier', [:edit, tie]
          = " | "
          = link_to 'Supprimer', tie, :method => :delete, data: {:confirm => "Etes vous sûr ?"}