.clear
.spacer 

.header_02= "Planning des prochaines semaines (en %)"

-# Add a frame with a light gray background
%ol.info

  %table{:style => "border-collapse: collapse;"}
  
    -# The header of the table with the dates (monday - friday)
    %tr
      %th{:align => "center", :width => "150"} Projet
      - current_weeks.each do |week|
        %th{:align => "center", :width => "100"}= h week
  
    -# Check every affectation of this resource
    - row = 0
    - @personne.affectation_projets.each do |affectation|
      - if !affectation.projet.is_archive?
        - rates = current_rates(affectation)
        
        - # If there is any entry, then we add the row
        - if rates.any?
          %tr
            -# Add the row header
            - row += 1
            %td{:align => "left", :style => (row % 2 == 0) ? "background-color:#DDDDDD" : ""}= h affectation.display_name
            
            -# Add the entries
            - col = 0
            - rates.each do |rate|
              - col += 1
              
              - if col == 2
                -# Set a specific color for the current week
                %td{:align => "center", :style => (row % 2 == 0) ? "background-color:#C2D0DA" : "background-color:#D9E6F1"}= h rate

              - else 
                -# Else we have a lightgray line every odd row
                %td{:align => "center", :style => (row % 2 == 0) ? "background-color:#DDDDDD" : ""}= h rate
