%h1 Editing type_personne
- form_for(@type_personne) do |f|
  = f.error_messages
  %p
    = f.label :typePersonne
    %br
    = f.text_field :typePersonne
  %p
    = f.submit "Update"
= link_to 'Show', @type_personne
|
-#{link_to 'Back', type_personnes_path}
