%h1 Listing type_personnes
%table
  %tr
    %th Typepersonne
  - for type_personne in @type_personnes
    %tr
      %td= h type_personne.typePersonne
      %td= link_to 'Show', type_personne
      %td= link_to 'Edit', edit_type_personne_path(type_personne)
      %td= link_to 'Destroy', type_personne, data: {:confirm => 'Are you sure?'}, :method => :delete
%br
= link_to 'New type_personne', new_type_personne_path
= link_to 'Menu principal', enseignement_path
