%h1 New type_personne
- form_for(@type_personne) do |f|
  = f.error_messages
  %p
    = f.label :typePersonne
    %br
    = f.text_field :typePersonne
  %p
    = f.submit "Create"
= link_to 'Back', type_personnes_path
