%h2
  Les champs marqués d'une étoile (*) sont obligatoires.
  %br
  Les champs marqués d'un dièse (#) seront mis à jour à chaque login depuis LDAP.
  %br
  %br
= semantic_form_for(@personne) do |f|
  = f.inputs do 
    - if !@personne.est_fictive
      = f.hidden_field :est_fictive
      = f.input :initiale, :label => "Initiales"
      = f.input :prenom, :label => "Prénom #"
      = f.input :nom, :label => "Nom #"
      = f.input :username, :label => "Nom d'utilisateur LDAP"
      = f.input :id_sagex, :label => "Identifiant SAGEX"
      = f.input :telInterne, :label => "Téléphone interne"
      = f.input :bureau, :label => "Lieu de travail #"
      = f.input :emailTravail, :label => "E-mail professionel #"
      = f.input :axe_strategique, :label => "Axe", :include_blank => " - Choisissez un axe -"
      -# TODO : trouver un moyen de définir ce droit de manière déclarative avec cancan
      - if can? :manage_type_personne, @personne
        = f.input :type_personne, :label => "Statut", :include_blank => " - Choisissez un statut -"
      = f.input :institut
      = f.input :actif
    - else
      = f.hidden_field :est_fictive
      = f.input :initiale, :label => "Initiales"
      = f.input :prenom, :label => "Prénom"
      = f.input :nom, :label => "Nom"
      = f.input :type_personne, :label => "Statut", :include_blank => " - Choisissez un statut -"
      = f.input :institut
  = f.buttons do
    = f.commit_button "Valider"
