Menus :
%div{:style => "margin-left:5px"}
  = link_to 'Nouveau desideratum', {:controller => 'personnes', :action=>'gestion_desideratas', :id=> @personne.id}, :class => "menu"
  = link_to "Profil de l'utilisateur", @personne, :class => "menu"
