-# menus relatifs aux personnes
- if @personne && !@personne.new_record?
  = "Actions sur #{@personne.initiale}"
  = menu_item "Profil de l'utilisateur", @personne, :show, :personnes, can?(:show, @personne), params
  = menu_item "Modifier le profil publique", [:edit, @personne], :edit, :personnes, can?(:edit, @personne), params
  = menu_item "Modifier les données privées", [:edit, @personne.personne_prive], :edit, :personne_privees, can?(:edit, @personne.personne_prive), params
  -# = menu_item "Modifier l'horaire", [:edit_horaire, @personne], :edit_horaire, :personnes, can?(:edit_horaire, @personne), params
  = menu_item "Modifier les droits", [:edit_roles, @personne], :edit_roles, :personnes, can?(:edit_roles, @personne), params
  = menu_item "Contrats", [@personne,:contrats], :index, :contrats, can?(:read, @personne.contrats.build), params
  = menu_item "Cahier des charges", [@personne, @personne.cahier_charge_assistants.pour_annee_civile(AnneeCivile.courante).first], :show, :cahier_charge_assistants, can?(:read, @personne.cahier_charge_assistants.pour_annee_civile(AnneeCivile.courante).first), params
  - if can? :manage, :affectations_en_general
    = menu_item "Affecter à un projet",  new_personne_affectation_projet_path(@personne, {:vient_de => :personne}), :new, :affectation_projet, can?(:create,  AffectationProjet), params
  = menu_item "Modifier desideratas", [:gestion_desideratas, @personne], :gestion_desideratas, :personnes, can?(:gestion_desideratas, @personne), params
  = menu_item "Saisie des heures (sem)", [:semaine,  @personne, :plage_horaire_saisies], :semaine, :plage_horaire_saisies, can?(:consulter_heures_saisies, @personne), params
  = menu_item "Saisie des heures (mois)", calendar_path(@personne,Date.today.year, Date.today.month), :mois, :plage_horaire_saisies, can?(:consulter_heures_saisies, @personne), params
  = menu_item "Résumé heures #{AnneeCivile.courante.annee}", resume_heures_plage_contractuelles_path(:personne_id=>@personne.id), :resume_heures, :plage_contractuelles, can?(:resume_heures, @personne), params


%br
= "Actions globales sur les personnes"
= menu_item "Liste des personnes", personnes_path, :index, :personnes, can?(:index, Personne), params
= menu_item "Ajouter une personne", new_personne_path, :new, :personnes, can?(:create, Personne), params
= menu_item "Ajouter une personne fictive", new_personne_fictive_personnes_path, :new_personne_fictive, :personnes, can?(:manage, :personnes_fictives, Personne), params
= menu_item "Résumé global des droits", droits_personnes_path, :droits, :personnes, can?(:droits, Personne), params
= menu_item "Exportation heures SAGEX", exportation_heures_sagex_path, :page, :exportation_heures_sagex, can?(:manage, :exportation_heures_sagex), params
= menu_item "Annulation report H.-Supp.", heures_supplementaires_plage_contractuelles_path, :heures_supplementaires, :plage_contractuelles, can?(:manage, PlageContractuelle), params
%br
- if can? :resume_global_heures, Personne
  = "Collaborateurs"
  = menu_item "Résumé heures Janvier-Juin", resume_heures_collaborateurs_sem1_personnes_path, :resume_heures_collaborateurs_sem1, :personnes, can?(:resume_global_heures, Personne), params
  = menu_item "Résumé heures Juillet-Dec", resume_heures_collaborateurs_sem2_personnes_path, :resume_heures_collaborateurs_sem2, :personnes, can?(:resume_global_heures, Personne), params
%br
- if can? :resume_global_heures, Personne
  = "Professeurs"
  = menu_item "Résumé heures Janvier-Juin", resume_heures_professeurs_sem1_personnes_path, :resume_heures_professeurs_sem1, :personnes, can?(:resume_global_heures, Personne), params
  = menu_item "Résumé heures Juillet-Dec", resume_heures_professeurs_sem2_personnes_path, :resume_heures_professeurs_sem2, :personnes, can?(:resume_global_heures, Personne), params