- for personne in @personnes
  - if personne.type_personne_id != 0
    %div{:style => "float:left;width:300px;"}
      - link_to(personne) do
        = h personne.nom
        = h personne.prenom
        (#{h personne.initiale})
    %div{:style => "float:left;width:50px;"}
      - if !(personne.axe_strategique==nil)
        = h personne.axe_strategique.sigle
      - else
        = "---"
    %div{:style => "float:left;width:250px;text-align:center;"}
      = h personne.type_personne.typePersonne
    %div{:style => "float:left;", :width => "200px"}
      = #Droits :           |
        #  USER   : nothing |
        #  Sec   : manage   |
        #  Admin   : manage |
      - if can? :delete, personne
        = link_to 'Effacer', personne, data: { :confirm => 'Etes-vous sur de vouloir supprimer cet élément?'}, :method => :delete
      = # fin droits
    <div style='clear:both;''>
    %br
