- mois = ['Janv', 'Fev', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Sept', 'Oct', 'Nov', 'Dec']
- row = 0
%table{:width => 688, :style => "table-layout:fixed"} 
  %col{:width => 110}
  - (1..12).each do 
    %col{:width => 44}
  %col{:width => 50}

  %tr
    %th{:style => "text-align:left; color:#4682B4; overflow: hidden"} 
    - mois.each do |un_mois|
      %th{:style => "text-align:left; overflow: hidden"}= un_mois
    %th{:style => "text-align:left; color:#000000; overflow: hidden"} Total


  %tr{:style => (row % 2 == 0) ? "background-color:#DDDDDD" : "background-color:#C2D0DA"}
    %td{:style => "text-align:left; color:#4682B4"}="Total effectué"
    - @mois.each do |mois|
      %td=PlageHoraireSaisie.heure_en_format_heures_minutes(total_effectue[mois.mois])
    %td{:style => "text-align:left; color:#000000; font-weight:bold"}=PlageHoraireSaisie.heure_en_format_heures_minutes(total_effectue[:total])
  - row += 1

  %tr{:style => (row % 2 == 0) ? "background-color:#DDDDDD" : "background-color:#C2D0DA"}
    %td{:style => "text-align:left; color:#4682B4"}="A effectuer"
    - @mois.each do |mois|
      %td=PlageHoraireSaisie.heure_en_format_heures_minutes(a_effectuer[mois.mois])
    %td{:style => "text-align:left; color:#000000; font-weight:bold"}=PlageHoraireSaisie.heure_en_format_heures_minutes(a_effectuer[:total])
  - row += 1

  %tr{:style => (row % 2 == 0) ? "background-color:#DDDDDD" : "background-color:#C2D0DA"}
    %td{:style => "text-align:left; color:#4682B4"}="Heures sup"
    - @mois.each do |mois|
      %td=PlageHoraireSaisie.heure_en_format_heures_minutes(heures_sup[mois.mois])
    %td{:style => "text-align:left; color:#000000; font-weight:bold"}=PlageHoraireSaisie.heure_en_format_heures_minutes(heures_sup[:total])
  - row += 1

  %tr{:style => (row % 2 == 0) ? "background-color:#DDDDDD" : "background-color:#C2D0DA"}
    %td{:style => "text-align:left; color:#4682B4"}="Heures sup cumul"
    - @mois.each do |mois|
      %td=PlageHoraireSaisie.heure_en_format_heures_minutes(cumul_heures_sup[mois.mois])
    %td{:style => "text-align:left; color:#000000; font-weight:bold"}=PlageHoraireSaisie.heure_en_format_heures_minutes(cumul_heures_sup[:total])


