- mois = ['Janv', 'Fev', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Sept', 'Oct', 'Nov', 'Dec']
- row = 0
%table{:width => 688, :style => "table-layout:fixed"} 
  -# Définition de la taille des colonnes (taille fixe)
  %col{:width => 110}
  - (1..12).each do 
    %col{:width => 44}
  %col{:width => 50}

  %tr
    %th{:style => "text-align:left; color:#4682B4; overflow: hidden"} 
    - mois.each do |un_mois|
      %th{:style => "text-align:left; overflow: hidden"}= un_mois
    %th{:style => "text-align:left; color:#000000; overflow: hidden"} Total

  - affectations.each do |ap|
    - row+=1
    %tr{:style => (row % 2 == 0) ? "background-color:#DDDDDD" : "background-color:#C2D0DA"}
      %td{:style => "text-align:left; color:#4682B4"}=ap[:nom]
      - @mois.each do |mois|
        %td=PlageHoraireSaisie.heure_en_format_heures_minutes(ap[mois.mois])
      %td{:style => "text-align:left; color:#000000; font-weight:bold"}=PlageHoraireSaisie.heure_en_format_heures_minutes(ap[:total])