%span.boiteUniteAcquise{:id => "ue_acquis_#{unite.id}"}
  %div{:style => "float:left;width:100%;"}
    %div{:align => "left", :style => "float:left;width:50%;"}
      = unite.abreviation
    %div{:align => "right", :id => "ue_lvl_#{unite.id}", :style => "float:left;width:50%"}
      = select unite.id, 'interet_unite_id', interet.collect {|elt| [ elt.interet, elt.id ]}
    = observe_field unite.id.to_s + '_interet_unite_id',                                              |
        :url=>{:action=>'modification_interet_unite', :unite => unite, :personne_id => personne_id }, |
      :with => 'id_interet_unite'                                                                     |
  %br
