%h1
  Assigner #{h @personne.prenom} #{h @personne.nom} (#{h @personne.initiale}) à un projet
%br
- form_for :assignement, @assignement, :url => {:controller => 'personnes', :action => 'update_assignement', :id => @personne.id} do |f|
  %div{:align => "right", :style => "float:left;"}
    Nombre d'heures annuelles :
    %br
    Coût horaire :
    %br
    Texte :
    %br
    Projet :
    %br
    Annee civile :
    %br
  %div{:style => "float:left;margin-left:10px;"}
    = f.text_field :nbHeuresAnnuelles
    %br
    = f.text_field :coutHoraire
    %br
    = f.text_field :texte
    %br
    = f.collection_select :projet_id, @projets_non_associees, :id, :nomOutlook
    %br
    = f.collection_select :annee_civile_id, @liste_annnes_civiles, :id, :annee
  %div{:style => "clear:both;"}
  = f.submit "Ajouter"
= link_to 'Retour', @personne
