%h1 Ajout d'un désir dans une unité d'enseignement
- form_for :desir, @desir, :url => {:controller => 'personnes', :action => 'update_desir', :id => @personne.id} do |f|
  %p
    %b Unite d'enseignement
    %br
    = f.collection_select :unite_enseignement_id, @unites_non_associees, :id, :abreviation
  %p
    = f.submit "Ajouter"
= link_to 'Retour', @personne
