%h1 Visualisation des droits
%br
%br
%table{:border => "0", :cellpadding => "0", :cellspacing => "1", :style => "border:solid 1px black"}
  %tr
    %th{:style => "border-style:none;width:220px"} Utilisateurs
    - for role in Personne::ROLES
      %th.vertical_text{:height => "90px", :width => "90"}= Personne::ROLES_NAMES[role]
  %tr
  - for personne in @personnes
    %tr{:height => "30px"}
      %td
        = link_to personne.display_name, [:edit_roles, personne]
      - for role in Personne::ROLES
        - role_trouve = false
        - for personne_role in personne.roles
          - if role == personne_role
            - role_trouve = true
        - if role_trouve
          %td{:align => "center", :style => "width:40px;"} X
          - role_trouve = false
        - else
          %td{:align => "center", :style => "width:40px;"} &nbsp;
