%h1
  Ajout d'un événement à #{h @personne.prenom} #{h @personne.nom}
%br
- form_for :dateEvenement, @dateEvenement, :url => {:controller => 'personnes', :action => 'mod_evenement', :id => @dateEvenement.id} do |f|
  %div{:align => "right", :style => "float:left;"}
    Date :
    %br
    Evenement :
  %div{:style => "float:left;margin-left:10px;"}
    = f.date_select :date
    %br
    = f.collection_select :evenement_personne_id, @evenements_non_associes, :id, :texte
  %div{:style => "clear:both;"}
  = f.submit 'Mis à jour'
= link_to 'Retour', (@personne)
