%h1
  = h @personne.prenom
  = h @personne.nom + " (#{h @personne.initiale})"
  %br
  %br
.header_02="Taux d'activité #{@taux_activite_actuel}%"
%ol.info
  %p{:style => "font-size: 12px"}="Contrats"
  - if @contrats_en_cours.size > 0
    - @contrats_en_cours.each do |contrat|
      %p{:style => "font-size: 12px"}=contrat.display_name
  - else
    %p{:style => "font-size: 12px"}="Pas de contrat en cours"


%br
%br
.header_02="Horaire hebdomadaire"
%ol.info
  - if @taux_activite_actuel < 100
    %p{:style => "font-size: 12px; color: blue"}= "Cocher toutes les cases pour un horaire étalé à #{@taux_activite_actuel}% sur toute la semaine"
  - else
    %p{:style => "font-size: 12px; color: blue"}= "Le taux d'activité de 100% n'autorise rien d'autre qu'un horaire étalé sur toute la semaine"
  = semantic_form_for(@personne, :url=>update_horaire_personne_path) do |f|
    - @personne.errors.full_messages.each do |msg|
      %h3{:style => "font-size: 12px; color: red"}=msg
    = f.inputs do 
      = hidden_field_tag :personne_id, :value=>@personne.id
      %br
      %table
        %tr
          %th{:style => "text-align:left; width: 80px"}=""
          %th{:style => "text-align:center; width: 50px; font-size: 16px"}="AM"
          %th{:style => "text-align:center; width: 50px; font-size: 16px"}="PM"
        %tr
          %td= "Lundi"
          %td{:style => "text-align:center"}= f.check_box(:travaille_lundi_am)
          %td{:style => "text-align:center"}= f.check_box(:travaille_lundi_pm)
        %tr
          %td= "Mardi"
          %td{:style => "text-align:center"}= f.check_box(:travaille_mardi_am)
          %td{:style => "text-align:center"}= f.check_box(:travaille_mardi_pm)
        %tr
          %td= "Mercredi"
          %td{:style => "text-align:center"}= f.check_box(:travaille_mercredi_am)
          %td{:style => "text-align:center"}= f.check_box(:travaille_mercredi_pm)
        %tr
          %td= "Jeudi"
          %td{:style => "text-align:center"}= f.check_box(:travaille_jeudi_am)
          %td{:style => "text-align:center"}= f.check_box(:travaille_jeudi_pm)
        %tr
          %td= "Vendredi"
          %td{:style => "text-align:center"}= f.check_box(:travaille_vendredi_am)
          %td{:style => "text-align:center"}= f.check_box(:travaille_vendredi_pm)
      %br
    = f.buttons do
      = f.commit_button "Valider"
= link_to 'Retour aux données personnelles', :controller => "personnes", :action => "show", :id => @personne.id
