- content_for :left_menu do
  = render :partial => 'left_menu'
%h1= "Modification des droits de #{@personne.display_name}"
%br
- form_for(@personne, :url => [:update_roles, @personne]) do |f|
  = f.error_messages
  - for role in Personne::ROLES
    = check_box_tag "personne[roles][]", role, @personne.roles.include?(role)
    = Personne::ROLES_NAMES[role]
    %br
  %br
  = f.submit "Mettre à jour"