- if @active
  /
    \......................................................................................................
    Nom : gestion_competences
    But : Ce fichier est la page permettant la gestion de toutes les compétences d'une personne
    \.......................................................................................................
  <body #{@body_extras = ' onload="' + remote_function(:url=>{:action=>"annee_mise_a_jour_competence",:id_annee_academique=> @annee_academique.id, :id_personne=>@personne.id, :initialisation=>true})+";"+ remote_function(:url=>{:action=>'creation_element_competence_draggable', :personne=> @personne}) + '"'}/>
  / Titres de la page
  %h1
    Gestion des compétences de #{h @personne.initiale} (#{h @personne.prenom} #{h @personne.nom})
  %h2 Compétences pour les unités d'enseignement :
  %div
    Sélection de l'année académique : #{select "gestion_competence", "annee_academique", @annees_academiques.collect {|elt| [ elt.annee, elt.id ] }}
  %br/
  /
    \......................................................................................................
    Permet de mettre à jour le champ des compétence en fontion de l'année choisie
    \.......................................................................................................
  = observe_field 'gestion_competence_annee_academique',                                                                            |
    :url=>{:action=>"annee_mise_a_jour_competence"},                                                                                |
    :with => "'id_annee_academique=' + escape(value) +                                                                              |
    '&unites_non_concernes=' + Element.findChildren($('uniteDisponible'), null, false, 'span').map(function(elt){return elt.id;}) + |
      '&unites_concernes=' + Element.findChildren($('uniteAcquise'), null, false, 'span').map(function(elt){return elt.id;}) +      |
    '&id_personne=' + #{@personne.id} +                                                                                             |
    '&initialisation=' + #{false}"                                                                                                  |
  /
    \......................................................................................................
    Première boîte représentant toutes les unités d'enseignement dont la personne n'a encore aucune compétence
    \.......................................................................................................
  #uniteDisponible.boite
    %p
      %b Unités disponibles :
  /
    \......................................................................................................
    Deuxième boîte représentant toutes les unités d'enseignement dont la personne a une compétence
    \.......................................................................................................
  #uniteAcquise.boite
    %p
      %b Intérêts pour les unités :
  .clear
  / Titres de la page
  %h2 Compétences pour les domaines :
  /
    \......................................................................................................
    Première boîte représentant tous les domaines dont la personne n'a encore aucune compétence
    \.......................................................................................................
  #domaineDisponible.boite
    %p
      %b Domaines disponibles :
    - @tous_domaines.each do |all_domaine|
    %span.boiteDomaineDisponible{:id => "dispo_#{all_domaine.id}"}
      = all_domaine.domaine
      %br/
/
  \......................................................................................................
  Deuxième boîte représentant tous les domaines dont la personne a une compétence
  \.......................................................................................................
#domaineAcquis.boite
  %p
    %b Domaines acquis :
  - @tous_domaines.each do |all_domaine|
  %span.boiteDomaineAcquis{:id => "acquis_#{all_domaine.id}"}
  %div{:style => "float:left;width:100%;"}
    %div{:align => "left", :style => "float:left;width:50%;"}
      = all_domaine.domaine
    %div{:align => "right", :id => "lvl_#{all_domaine.id}", :style => "float:left;width:50%"}
      = select all_domaine.id, "niveau_competence_id", @niveaux_competence.collect {|elt| [ elt.niveau, elt.id ]}
    = observe_field all_domaine.id.to_s + "_niveau_competence_id",                                                 |
        :url=>{:action=>"modification_niveau_domaine", :personne=>@personne.id, :domaine => all_domaine.domaine }, |
      :with => 'id_niveau_domaine'                                                                                 |
  %br/
/
  \......................................................................................................
  Permet le déplacement de la deuxième boîte à la première
  \.......................................................................................................
= drop_receiving_element "uniteDisponible",                                                                                           |
  :accept=>'boiteUniteAcquise',                                                                                                       |
  :url=>{:action=>"supprime_unite_competence", :target=>"uniteDisponible", :class=>"boiteUniteDisponible", :personne=> @personne.id}, |
  :with => "'id=' + element.id.split('_').last() +                                                                                    |
  '&id_annee_academique=' +$('gestion_competence_annee_academique').value"                                                            |
-#
/
  \......................................................................................................
  Permet le déplacement de la première boîte à la deuxième
  \.......................................................................................................
= drop_receiving_element "uniteAcquise",                                                                                            |
  :accept=>'boiteUniteDisponible',                                                                                                  |
  :url=>{:action=>"deplacement_unite_competence",  :target=>"uniteAcquise", :class=>"boiteUniteAcquise", :personne=> @personne.id}, |
  :with => "'id=' + element.id.split('_').last() +                                                                                  |
  '&id_annee_academique=' +$('gestion_competence_annee_academique').value"                                                          |
-#
/
  \......................................................................................................
  Permet le déplacement d'un domaine acquis dans la boîte des domaines disponibles
  \.......................................................................................................
= drop_receiving_element "domaineDisponible",                                                                                               |
  :url=>{:action=>"supprime_domaine_competence", :target=>"domaineDisponible", :class=>"boiteDomaineDisponible", :personne=> @personne.id}, |
  :accept=>'boiteDomaineAcquis'                                                                                                             |
-#
/
  \......................................................................................................
  Permet le déplacement d'un domaine disponible dans la boîte des domaines acquis
  \.......................................................................................................
= drop_receiving_element "domaineAcquis",                                                                                              |
  :url=>{:action=>"deplacement_domaine_competence", :target=>"domaineAcquis", :class=>"boiteDomaineAcquis", :personne=> @personne.id}, |
  :accept=>'boiteDomaineDisponible'                                                                                                    |
%div{:style => "clear:both"}
%br/
/ <haml:loud> link_to &amp;quot;Retour&amp;quot;, @personne </haml:loud>
= link_to "Valider", @personne
- else
  La gestion des compétences n'est pas disponible pour le moment !
