- if @active
  /
    \......................................................................................................
    Nom : gestion_desideratas
    But : Ce fichier est la page permettant la gestion de tous les desideratas d'un professeur
    \.......................................................................................................
  = set_onload_remote_function(:url=>{:action=>'creation_element_draggable', :id_personne=> @personne}) 
  - content_for :left_menu do
    = render :partial => 'gestion_desideratas_left_menu'
  %h1
    Gestion des desiderata de #{h @personne.prenom} #{h @personne.nom} (#{h @personne.initiale})
  %br
  %h2 Compétences pour les unités d'enseignement :
  %div
    Sélection de l'année académique : #{select "gestion_desiderata", "annee_academique", @annees_academiques.collect {|elt| [ elt.annee, elt.id ] }}
  %br
  %table
    %tr
      %td
        /
          \......................................................................................................
          Liste de tous les cours
          \.......................................................................................................
        %p
          %b Les cours :
        #listeCours.boite{:style => "margin-left:25px"}
          - @unites.each do |unite|
            %span.listeDesCours{:id => unite.abreviation}
              = unite.abreviation
              %br
      %td
        /
          \......................................................................................................
          Liste de tous les assistants compétents
          \.......................................................................................................
        %p
          %b Assistants compétents:
        #listeAssistantsCompetents.boite
          %div{:style => "margin-top:50px;vertical-align:middle;text-align:center;"}
            %b
              Glisser un cours
              %br dans le désiderata
      %td
        /
          \......................................................................................................
          Liste de tous les assistants non compétents
          \.......................................................................................................
        %p
          %b Autres assistants :
        #listeAssistants.boite
          %div{:style => "margin-top:50px;vertical-align:middle;text-align:center;"}
            %b
              Glisser un cours
              %br dans le désiderata
      %td
        /
          \......................................................................................................
          Liste de toutes les orientations
          \.......................................................................................................
        / <p><b>Les orientations : </b></p>
        #listeOrientations.boite{:style => "visibility:hidden;width:100px"}
          - @orientations.each do |orientation|
            %span.listeDesOrientations{:id => orientation.initiale}
              = orientation.initiale
              %br
  %table.cadrePrincipalDesiderata
    %tr
      %td{:style => "vertical-align:top"}
        #desiderataProf
          %table
            %tr
              %td
                %p
                  %b Desideratum :
              %td
                #desiderata_avertissement{:style => "visibility:hidden;"}
                  = image_tag("./avertissement_trop.png", :height => "20")
                  Attention! Cette unité a suffisamment de desiderata
          #info_unite
            %table
              %tr.cadreInformationsUniteDesiderata
                %td
                  %table
                    %tr
                      %b Informations sur l'unité d'enseignement
                    %tr
                      %td Fiche d'unité
                      %td :
                      %td
                        #desiderata_fiche_unite
                    %tr
                      %td Nom
                      %td :
                      %td
                        #info_nom
                    %tr
                      %td Nombre de périodes par semaine
                      %td :
                      %td
                        #info_nbPeriodes
                    %tr
                      %td Nombre de groupes
                      %td :
                      %td
                        #info_nbGroupes
                    %tr
                      %td Période
                      %td :
                      %td
                        #info_Periode
          %table
            %tr
              %td
                %p
                  %b Cours :
                #desiderataCours.sousCadreDesiderata
                  %span.listeDesiderataCours
              %td
                %p
                  %b Liste des assistants :
                #desiderataAssistants.sousCadreDesiderata
                  %span.listeDesiderataAssistants
              %td
                / <p><b>Liste des Orientations : </b></p>
                /
                  <div id="desiderataOrientations" class="sousCadreDesiderata" style="visibility:hidden;">
                  <span class="listeDesiderataOrientations"></span>
                  </div>
          %table{:width => "450px"}
            %p
              %b Paramètres :
            %tr{:align => "center"}
              %td Taux (%) :
              %td
                %table
                  %tr
                    %td
                      #div_tauxTheorique
                        Théorique : #{text_field "desiderata", "tauxTheorique", :size=>'5'}%
                    / Modifie le nombre de périodes théorique en fonction de la modification du taux théorique
                    = observe_field "desiderata_tauxTheorique",                                                                               |
                      :url=>{:action=>"modification_nombre_heures"},                                                                          |
                      :on => :change,                                                                                                         |
                      :frequency => 0.5,                                                                                                      |
                      :with => "'unite='+Element.findChildren($('desiderataCours'), null, false, 'span').map(function(elt){return elt.id;}) + |
                      '&taux_theorique=' +$('desiderata_tauxTheorique').value +                                                               |
                      '&taux_pratique=' +$('desiderata_tauxPratique').value +                                                                 |
                      '&id_annee_academique=' +$('gestion_desiderata_annee_academique').value +                                               |
                      '&nombre_Groupes=' +$('desiderata_nbGroupes').value"                                                                    |
                    %td
                      #div_tauxPratique
                        Pratique : #{text_field "desiderata", "tauxPratique",:size=>'5'}%
                        / Modifie le nombre de périodes pratiques en fonction de la modification du taux pratique
                        = observe_field "desiderata_tauxPratique",                                                                                |
                          :url=>{:action=>"modification_nombre_heures"},                                                                          |
                          :on => :change,                                                                                                         |
                          :frequency => 0.5,                                                                                                      |
                          :with => "'unite='+Element.findChildren($('desiderataCours'), null, false, 'span').map(function(elt){return elt.id;}) + |
                          '&taux_theorique=' +$('desiderata_tauxTheorique').value +                                                               |
                          '&taux_pratique=' +$('desiderata_tauxPratique').value +                                                                 |
                          '&id_annee_academique=' +$('gestion_desiderata_annee_academique').value +                                               |
                          '&nombre_Groupes=' +$('desiderata_nbGroupes').value"                                                                    |
                %tr{:align => "center"}
                  %td Nombre de groupes :
                  %td
                    %table
                      %tr
                        %td
                          = select "desiderata", "nbGroupes", ['0']
                        %td
                          #desiderata_label_nbGroupes /0
                        / Modifie le nombre de périodes pratiques en fonction de la modification du taux pratique
                        = observe_field "desiderata_nbGroupes",                                                                                   |
                          :url=>{:action=>"modification_nombre_heures"},                                                                          |
                          :with => "'unite='+Element.findChildren($('desiderataCours'), null, false, 'span').map(function(elt){return elt.id;}) + |
                          '&taux_theorique=' +$('desiderata_tauxTheorique').value +                                                               |
                          '&taux_pratique=' +$('desiderata_tauxPratique').value +                                                                 |
                          '&nombre_Groupes=' +$('desiderata_nbGroupes').value"                                                                    |
                %tr{:align => "center"}
                  %td Charges théoriques :
                  %td
                    #desiderata_theorique Nombre de périodes = 0 ---> Nombre d'heures = 0
                %tr{:align => "center"}
                  %td Charges pratiques :
                  %td
                    #desiderata_pratique Nombre de périodes = 0 ---> Nombre d'heures = 0
                %tr
                  %td{:align => "center", :colspan => "2"}
                    %br
                    #bouton_enregistrer
                      = link_to "Enregistrer le desideratum", :remote => true,                                                                     |
                        :url=>{:action=>"enregistrer_desiderata", :personne=> @personne.id},                                                       |
                        :with=>"'cours=' + Element.findChildren($('desiderataCours'), null, false, 'span').map(function(elt){return elt.id;}) +    |
                        '&assistants=' + Element.findChildren($('desiderataAssistants'), null, false, 'span').map(function(elt){return elt.id;}) + |
                        '&tauxTheorique=' + $('desiderata_tauxTheorique').value +                                                                  |
                        '&tauxPratique=' +$('desiderata_tauxPratique').value +                                                                     |
                        '&nbGroupes=' +$('desiderata_nbGroupes').value +                                                                           |
                        '&id_annee_academique=' +$('gestion_desiderata_annee_academique').value +                                                  |
                        '&enregistrer=' + #{true} "                                                                                                |
                    #bouton_modifier
                      = hidden_field("desiderata", "id")
                      = link_to "Mettre à jour", :remote => true,                                                                                  |
                        :url=>{:action=>"enregistrer_desiderata", :personne=> @personne.id},                                                       |
                        :with=>"'cours=' + Element.findChildren($('desiderataCours'), null, false, 'span').map(function(elt){return elt.id;}) +    |
                        '&assistants=' + Element.findChildren($('desiderataAssistants'), null, false, 'span').map(function(elt){return elt.id;}) + |
                        '&tauxTheorique=' + $('desiderata_tauxTheorique').value +                                                                  |
                        '&tauxPratique=' + $('desiderata_tauxPratique').value +                                                                    |
                        '&nbGroupes=' + $('desiderata_nbGroupes').value +                                                                          |
                        '&id_desiderata=' + $('desiderata_id').value +                                                                             |
                        '&id_annee_academique=' +$('gestion_desiderata_annee_academique').value +                                                  |
                        '&enregistrer=' + #{false} "                                                                                               |
      %td.cadreDroiteDesiderata
        %div
          %b Information sur ce cours :
        %div Liste des professeurs ayant déjà fait un desiderata pour ce cours :
        #desiderata_informations
  .clear
  /
    \......................................................................................................
    Permet le déplacement d'une unité d'enseignement dans le desiderata
    \.......................................................................................................
  = drop_receiving_element "desiderataCours",                                                                                                           |
    :accept=>'listeDesCours',                                                                                                                           |
    :url=>{:action=>"deplacement_unite_desiderata_draggable",:target=>"desiderataCours", :class=>"listeDesiderataCours", :personne_id => @personne.id}, |
    :with => "'id=' + element.id.split('_').last() +                                                                                                    |
    '&id_annee_academique=' +$('gestion_desiderata_annee_academique').value"                                                                            |
  -#
  /
    \......................................................................................................
    Permet de supprimer une unité d'enseignement du desiderata
    \.......................................................................................................
  = drop_receiving_element "listeCours",                                                                       |
    :accept=>'listeDesiderataCours',                                                                           |
    :url=>{:action=>"suppression_unite_desiderata_draggable", :target=>"listeCours", :class=>"listeDesCours"}, |
    :with => "'id=' + element.id.split('_').last() +                                                           |
    '&id_annee_academique=' +$('gestion_desiderata_annee_academique').value"                                   |
  -#
  /
    \......................................................................................................
    Permet le déplacement d'un assistant compétent dans un desiderata
    \.......................................................................................................
  = drop_receiving_element "desiderataAssistants",                                                                          |
    :url=>{:action=>"deplacement_element_draggable", :target=>"desiderataAssistants", :class=>"listeDesiderataAssistants"}, |
    :accept=>'listeDesAssistantsCompetents'                                                                                 |
  -#
  /
    \......................................................................................................
    Permet de supprimer un assistant compétent du desiderata
    \.......................................................................................................
  = drop_receiving_element "listeAssistantsCompetents",                                                                             |
    :url=>{:action=>"deplacement_element_draggable", :target=>"listeAssistantsCompetents", :class=>"listeDesAssistantsCompetents"}, |
    :accept=>'listeDesiderataAssistants'                                                                                            |
  -#
  /
    \......................................................................................................
    Permet le déplacement d'un assistant non compétent dans un desiderata
    \.......................................................................................................
  = drop_receiving_element "desiderataAssistants",                                                                          |
    :url=>{:action=>"deplacement_element_draggable", :target=>"desiderataAssistants", :class=>"listeDesiderataAssistants"}, |
    :accept=>'listeDesAssistants'                                                                                           |
  -#
  /
    \......................................................................................................
    Permet de supprimer un assistant non compétent du desiderata
    \.......................................................................................................
  = drop_receiving_element "listeAssistants",                                                                   |
    :url=>{:action=>"deplacement_element_draggable", :target=>"listeAssistants", :class=>"listeDesAssistants"}, |
    :accept=>'listeDesiderataAssistants'                                                                        |
  -#
  /
    \......................................................................................................
    Permet le déplacement d'une orientation dans un desiderata
    \.......................................................................................................
  = drop_receiving_element "desiderataOrientations",                                                                            |
    :url=>{:action=>"deplacement_element_draggable", :target=>"desiderataOrientations", :class=>"listeDesiderataOrientations"}, |
    :accept=>'listeDesOrientations'                                                                                             |
  -#
  /
    \......................................................................................................
    Permet de supprimer une orientation du desiderata
    \.......................................................................................................
  = drop_receiving_element "listeOrientations",                                                                     |
    :url=>{:action=>"deplacement_element_draggable", :target=>"listeOrientations", :class=>"listeDesOrientations"}, |
    :accept=>'listeDesiderataOrientations'                                                                          |
  /
    \......................................................................................................
    Affichage des desiderata
    \.......................................................................................................
  %br
    %h2
      Liste des desiderata de #{h @personne.prenom} #{h @personne.nom}
    %table
      %tr.cadreTitreAffichageDesiderata
        %th.espace200 Unité d'enseignement
        %th.espace200 Assistants
        / <th class="espace100">Orientations</th>
        %th.espace100 Nb heures
        %th.espace200 Actions
      %tr.cadreLigneAffichageDesiderata
        %td
          - nombre_desiderata = 0
          - for desiderata in @desideratas_annee
            %div{:id => "desideratum_#{desiderata.id}"}
              %table
                %tr
                  / Affiche l'unité d'enseignement
                  - for unite in @liste_unites
                    - if (unite.id.to_i == desiderata.unite_enseignement_id.to_i)
                      %td.espace200= h unite.abreviation
                  / Affiche les assistants
                  %td.espace200
                    - for lien in @liens_assistants_desideratas
                      - test1 = @liens_assistants_desideratas
                      - if (lien.desiderata_id == desiderata.id)
                        - for assistant in @assistants
                          - test2 = @assistants
                          - if (assistant.id == lien.personne_id )
                            = h assistant.prenom
                            = h assistant.nom
                            (#{h assistant.initiale})
                            %br
                  / Affiche les orientations
                  /
                    <td class="espace100">
                    <haml:silent>                 for lien in @liens_assistants_desideratas
                    </haml:silent><haml:block><haml:silent>                   if (lien.desiderata_id == desiderata.id)
                    </haml:silent><haml:block><haml:silent>                     for orientation in @orientations
                    </haml:silent><haml:block><haml:silent>                       if (orientation.id == lien.personne_id )
                    </haml:silent><haml:block>                        <haml:loud>h orientation.initiale</haml:loud><br/>
                    </haml:block></haml:block></haml:block></haml:block>                </td>
                  / Affiche le nombre d'heure
                  %td.espace100
                    = h @nombre_heures[nombre_desiderata]
                  / Affiche les liens
                  / <td><haml:loud> link_to 'Visualisation', :controller=&amp;gt;'desideratas', :action=&amp;gt;'show', :id=&amp;gt; desiderata.id  </haml:loud></td>
                  %td
                    = link_to "Modifier", :remote => true, :url=>{:action=>"charger_desiderata", :personne=> @personne.id, :desiderata => desiderata.id}
                    %td
                      /
                        <td><haml:loud> link_to &amp;quot;Modifier&amp;quot;, :remote => true, :url=&amp;gt;{:action=&amp;gt;&amp;quot;charger_desiderata&amp;quot;, :personne=&amp;gt; @personne.id, :desiderata =&amp;gt; desiderata.id},
                        \:with=&amp;gt;&amp;quot;'effacer_cours=' + Element.findChildren($('listeCours'), null, false, 'span').map(function(elt){return elt.id;}) +
                        '&amp;amp;effacer_assistants_competents=' + Element.findChildren($('listeAssistantsCompetents'), null, false, 'span').map(function(elt){return elt.id;}) +
                        '&amp;amp;effacer_assistants_non_competents=' + Element.findChildren($('listeAssistants'), null, false, 'span').map(function(elt){return elt.id;}) +
                        '&amp;amp;effacer_cours_desiderata=' + Element.findChildren($('desiderataCours'), null, false, 'span').map(function(elt){return elt.id;}) +
                        '&amp;amp;effacer_assistants_desiderata=' + Element.findChildren($('desiderataAssistants'), null, false, 'span').map(function(elt){return elt.id;})&amp;quot;</haml:loud><td>
                      %td= link_to 'Effacer', desiderata_path(desiderata), data: { :confirm => 'Etes-vous certain de vouloir effacer ce desiderata?'}, :method => :delete
                - nombre_desiderata += 1
      %tr.cadreDerniereLigneAffichageDesiderata
        %td.espace500 Nombre d'heures total :
        %td.espace100
          %b
            #nombre_heures_desiderata= h @nombre_heures_total_desiderata
    /
      \......................................................................................................
      Affichage de la récapitulation du professeur
      \.......................................................................................................
    %br
      %h2
        Bilan de  #{h @personne.prenom} #{h @personne.nom}
      %table
        %tr.cadreTitreAffichageDesiderata{:align => "center"}
          %td{:colspan => "2"}
            %b Charges desiderata
        %tr.cadreLigneAffichageDesiderata
          %td{:width => "500px"} Nombre d'heures desirées :
          %td
            #nombre_heures_desiderata_resume= h @nombre_heures_total_desiderata
        %tr.cadreTitreAffichageDesiderata{:align => "center"}
          %td{:colspan => "2"}
            %b Charges projet
        - for assignement in @assignements_associees
          %tr.cadreLigneAffichageDesiderata
            %td{:width => "500px"}
              = h assignement.projet.nomOutlook
              -#{h assignement.annee_civile.annee}
            %td= h assignement.nbHeuresAnnuelles
        %tr.cadreDerniereLigneAffichageDesiderata
          %td{:width => "500px"} Nombre d'heures total :
          %td
            %b
              #nombre_heures_projets_resume= h @nombre_heures_total
- else
  La gestion des desiderata n'est pas disponible pour le moment !
