:css
  table.heure {
    border:1px solid black;
    width:100%;
  }
%h1 Gestion des heures
%h2 Eric Lefrançois
%br
%b Nombre de projet actuel :
3
%br
%br
%fieldset
  %legend Résumé 2010
  %table.heure
    %tr
      %td{:width => "250px"} Outil de gestion des ressources humaines
      %td
        %font{:color => "green"} 220
        \/ 500 heures
    %tr
      %td{:colspan => "2"}
        %table
          %tr
            %th{:width => "50px"}
            %th{:align => "left", :width => "200px"} Collaborateur
            %th{:align => "left", :width => "100px"} Nombre d'heure
          %tr
            %td &nbsp;
            %td (KMA) Kenza Majbar
            %td 110 heures
          %tr
            %td &nbsp;
            %td (PBV) Pascal Beauverd
            %td 110 heures
  %br
  %table.heure
    %tr
      %td{:width => "250px"} ISCIA
      %td
        %font{:color => "red"} 600
        \/ 500 heures
  %br
  %table.heure
    %tr
      %td{:width => "250px"} PCV
      %td
        %font{:color => "green"} 400
        \/ 1000 heures
