%h1 Gestion des heures
%h2 Pascal Beauverd
%br
%b Contrat actuel :
100% HEV
%br
%br
%fieldset
  %legend Résumé 2010
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
    %tr
      %th{:align => "left", :width => "100px"} Projets
      %th{:align => "center", :width => "40px"} Janvier
      %th{:width => "40px"} Février
      %th{:width => "40px"} Mars
      %th{:width => "40px"} Avril
      %th{:width => "40px"} Mai
      %th{:width => "40px"} Juin
      %th{:width => "40px"} Juillet
      %th{:width => "40px"} Août
      %th{:width => "40px"} Septembre
      %th{:width => "40px"} Octobre
      %th{:width => "40px"} Novembre
      %th{:width => "40px"} Décembre
      %th{:align => "right", :width => "50px"} Total
    %tr
      %td{:width => "100px"} RH.ASH
      %td{:align => "center", :width => "40px"} 41.0
      %td{:align => "center", :width => "40px"} 114.0
      %td{:align => "center", :width => "40px"} 92.5
      %td{:align => "center", :width => "40px"} 97.0
      %td{:align => "center", :width => "40px"} 48.5
      %td{:align => "center", :width => "40px"}
      %td{:align => "center", :width => "40px"}
      %td{:align => "center", :width => "40px"}
      %td{:align => "center", :width => "40px"}
      %td{:align => "center", :width => "40px"}
      %td{:align => "center", :width => "40px"}
      %td{:align => "center", :width => "40px"}
      %td{:align => "right", :width => "50px"} 393.0
    %tr
      %td{:width => "100px"} PCV
      %td{:align => "center", :width => "40px"} 50.0
      %td{:align => "center", :width => "40px"} 20.0
      %td{:align => "center", :width => "40px"}
      %td{:align => "center", :width => "40px"}
      %td{:align => "center", :width => "40px"} 34.0
      %td{:width => "40px"}
      %td{:width => "40px"}
      %td{:width => "40px"}
      %td{:width => "40px"}
      %td{:width => "40px"}
      %td{:width => "40px"}
      %td{:width => "40px"}
      %td{:align => "right", :width => "50px"} 104.0
    %tr
      %td{:width => "100px"} Labo.Assist
      %td{:align => "center", :width => "40px"} 15.5
      %td{:align => "center", :width => "40px"} 6.0
      %td{:align => "center", :width => "40px"} 19.0
      %td{:align => "center", :width => "40px"} 8.0
      %td{:align => "center", :width => "40px"} 9.0
      %td{:width => "40px"}
      %td{:width => "40px"}
      %td{:width => "40px"}
      %td{:width => "40px"}
      %td{:width => "40px"}
      %td{:width => "40px"}
      %td{:width => "40px"}
      %td{:align => "right", :width => "50px"} 57.5
    %tr{:height => "20px"}
    %tr
      %td{:width => "100px"}
        %b Total effectué
      %td{:align => "center", :width => "40px"}
        %b 106.5
      %td{:align => "center", :width => "40px"}
        %b 140.0
      %td{:align => "center", :width => "40px"}
        %b 111.5
      %td{:align => "center", :width => "40px"}
        %b 105.0
      %td{:align => "center", :width => "40px"}
        %b 91.5
      %td{:width => "40px"}
      %td{:width => "40px"}
      %td{:width => "40px"}
      %td{:width => "40px"}
      %td{:width => "40px"}
      %td{:width => "40px"}
      %td{:width => "40px"}
      %td{:align => "right", :width => "50px"}
        %b 554.5
    %tr
      %td{:width => "100px"}
        %b A effectuer
      %td{:align => "center", :width => "40px"}
        %b 170.0
      %td{:align => "center", :width => "40px"}
        %b 170.0
      %td{:align => "center", :width => "40px"}
        %b 195.5
      %td{:align => "center", :width => "40px"}
        %b 170.0
      %td{:align => "center", :width => "40px"}
        %b 153.0
      %td{:align => "center", :width => "40px"}
        %b 187.0
      %td{:align => "center", :width => "40px"}
        %b 187.0
      %td{:align => "center", :width => "40px"}
        %b 187.0
      %td{:align => "center", :width => "40px"}
        %b 178.5
      %td{:align => "center", :width => "40px"}
        %b 178.5
      %td{:align => "center", :width => "40px"}
        %b 187.0
      %td{:align => "center", :width => "40px"}
        %b 157.3
      %td{:align => "right", :width => "50px"}
        %b 2120.8
    %tr
      %td{:width => "100px"}
        %b Heures sup
      %td{:align => "center", :width => "40px"}
        %font{:color => "red"}
          %b -63.5
      %td{:align => "center", :width => "40px"}
        %font{:color => "red"}
          %b -30.0
      %td{:align => "center", :width => "40px"}
        %font{:color => "red"}
          %b -84.0
      %td{:align => "center", :width => "40px"}
        %font{:color => "red"}
          %b -65.5
      %td{:align => "center", :width => "40px"}
        %font{:color => "red"}
          %b -61.5
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "right", :width => "50px"}
        %font{:color => "red"}
          %b -1566.3
    %tr
      %td{:width => "100px"}
        %b Heures sup cumul
      %td{:align => "center", :width => "40px"}
        %font{:color => "red"}
          %b -63.5
      %td{:align => "center", :width => "40px"}
        %font{:color => "red"}
          %b -93.5
      %td{:align => "center", :width => "40px"}
        %font{:color => "red"}
          %b -177.5
      %td{:align => "center", :width => "40px"}
        %font{:color => "red"}
          %b -242.5
      %td{:align => "center", :width => "40px"}
        %font{:color => "red"}
          %b -304.0
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "right", :width => "50px"}
        %font{:color => "red"}
          %b -304.0
    %tr{:height => "20px"}
    %tr
      %td{:width => "100px"}
        %b Jours de vacance
      %td{:align => "center", :width => "40px"} 0.0
      %td{:align => "center", :width => "40px"} 0.0
      %td{:align => "center", :width => "40px"} 0.0
      %td{:align => "center", :width => "40px"} 0.0
      %td{:align => "center", :width => "40px"} 0.0
      %td{:align => "center", :width => "40px"}
      %td{:align => "center", :width => "40px"}
      %td{:align => "center", :width => "40px"}
      %td{:align => "center", :width => "40px"}
      %td{:align => "center", :width => "40px"}
      %td{:align => "center", :width => "40px"}
      %td{:align => "center", :width => "40px"}
      %td{:align => "right", :width => "50px"}
        %b 0.0
    %tr
      %td{:width => "100px"}
        %b Solde de vacance
      %td{:align => "center", :width => "40px"}
        %b 25
      %td{:align => "center", :width => "40px"}
        %b 25
      %td{:align => "center", :width => "40px"}
        %b 25
      %td{:align => "center", :width => "40px"}
        %b 25
      %td{:align => "center", :width => "40px"}
        %b 25
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "center", :width => "40px"}
        %b
      %td{:align => "right", :width => "50px"}
        %b 25
