- content_for :left_menu do
  = render :partial => 'left_menu'
%h1= "Liste des personnes enregistrées dans l'application"
%br
%fieldset
  %legend= "Filtres"
  = search_form_for @search, :url => personnes_path, :html => {:method => :get} do |f|
    = f.label :type_personne_id, "Statut :"
    = f.collection_select :type_personne_id_eq, @types_personne, :id, :typePersonne, :include_blank => " - Tous - "
    
    = f.label :axe_strategique_id_equals, "Axe :"
    = f.collection_select :axe_strategique_id_eq, @axes_strategiques, :id, :nom, :include_blank => " - Tous - "
    
    = f.label :actif_true, "Actif :"
    = f.check_box :actif_true
    
    = f.label :institut_true, "Institut :"
    = f.check_box :institut_true

    - if can? :manage, :personnes_fictives
      = f.label :est_fictive_true, "Fictif :"
      = f.check_box :est_fictive_true
    
    = f.submit "Appliquer"
%table
  %tr
    / %th{:style => "text-align:left; width:100px;"}= sortable "personnes.nom","Nom"
    / %th{:style => "text-align:left; width:100px;"}= sortable "personnes.prenom","Prénom"
    / %th{:style => "text-align:left; width:80px;"}= sortable "personnes.initiale","Initiales"
    / %th{:style => "text-align:left; width:160px;"}= sortable "axe_strategiques.nom","Axe"
    / %th{:style => "text-align:left; width:100px;"}= sortable "type_personnes.typePersonne","Statut"
    /%th{:style => "text-align:left; width:100px;"}= sortable "personnes.nom","Nom"
    %th{:style => "text-align:left; width:100px;"}= sort_link(@search, :nom)
    %th{:style => "text-align:left; width:100px;"}= sort_link(@search, :prenom, "Prénom")
    %th{:style => "text-align:left; width:80px;"}= sort_link(@search, :initiale,"Initiales")
    %th{:style => "text-align:left; width:160px;"}= sort_link(@search, 'axe_strategiques.nom', "Axe")
    %th{:style => "text-align:left; width:100px;"}= sort_link(@search, 'type_personnes.typePersonne', "Statut")
    %th
  - @personnes.each do |personne|
    %tr
      %td= link_to(personne.nom, personne)
      %td= link_to(personne.prenom, personne)
      %td= link_to(personne.initiale, personne)
      %td= personne.try(:axe_strategique).try(:nom) || "---"
      %td= personne.try(:type_personne).try(:typePersonne) || "---"
      %td
        - if can? :delete, personne
          = link_to 'Effacer', personne, data: { :confirm => 'Etes-vous sur de vouloir supprimer cet élément?'}, :method => :delete
