- content_for :left_menu do
  = render :partial => 'left_menu'

%h1="Résumé des heures pour #{@personne.display_name}"
= semantic_form_for(@annee_civile, :url => old_resume_heures_personne_path(@personne)) do |f|
  = f.inputs do
    = f.input :annee, :label => "Année civile", :collection => @annees_civiles, :label_method => :annee, :include_blank => " - Choisissez une année civile -"
  = f.buttons do
    = f.commit_button "Valider"

.header_02= "Résumé #{@annee_civile.annee}"

%ol.info
  = render :partial => "resume_heures_affectations", :locals => {:affectations => @projets}

%br
%ol.info
  = render :partial => "resume_heures_affectations", :locals => {:affectations => @absences}

%br
%ol.info
  = render :partial => "resume_heures_bilan", :locals => {:total_effectue => @total_effectue, :a_effectuer => @a_effectuer, :heures_sup => @heures_sup, :cumul_heures_sup => @cumul_heures_sup}


        