- content_for :left_menu do
  = render :partial => 'left_menu'
%h1="Résumé global des heures"
- row = 0
%table
  %tr
    %th{:style => "text-align:left; width: 180px"}="Personne"
    - @mois_a_afficher.each do |un_mois|
      - if un_mois.num>=10
        - label_mois=un_mois.mois[0,3]
      - else
        - label_mois=un_mois.mois[0,4]
      %th{:style => "text-align:left; width: 50px"}="#{label_mois}<br/>Prévu".html_safe
      %th{:style => "text-align:left; width: 50px"}="<br/>Saisi".html_safe
    %th{:style => "text-align:left; width: 150px"}="Prévu depuis<br/>le 01/01/#{@annee_civile.annee}<br/>à aujourd'hui".html_safe
    %th{:style => "text-align:left; width: 150px"}="Saisi depuis<br/>le 01/01/#{@annee_civile.annee}<br/>à aujourd'hui".html_safe
  - @personnes.each do |personne|
    %tr{:style => (row % 2 == 0) ? "background-color:#DDDDDD" : "background-color:#C2D0DA"}
      %td=link_to personne.display_name, resume_heures_plage_contractuelles_path(:personne_id=>personne.id)
      - @mois_a_afficher.each do |un_mois|
        %td{:style => "text-align:left"}=personne.heures_a_effectuer_entre(un_mois.debut.to_date,un_mois.fin.to_date).round(1)
        %td{:style => "text-align:left"}=personne.plage_horaire_saisies.entre(un_mois.debut,un_mois.fin).sum(:heures).round(1)
      %td{:style => "text-align:left"}=personne.heures_a_effectuer_entre(Date.new(@annee_civile.annee.to_i,1,1), Date.today).round(1)
      %td{:style => "text-align:left"}=personne.plage_horaire_saisies.entre(Date.new(@annee_civile.annee.to_i,1,1), Date.today).sum(:heures).round(1)

    - row += 1
  