- content_for :left_menu do
  = render :partial => 'left_menu'
- content_for :head do
  = javascript_include_tag("flot/jquery.flot")
  = javascript_include_tag("flot/jquery.flot.stack")
  = javascript_include_tag("flot/jquery.flot.threshold")
  = javascript_include_tag("flot/jquery.flot.time")
  = javascript_include_tag("affectation_details")
  = javascript_include_tag("show_personne")
%h1 #{h @personne.prenom} #{h @personne.nom}
- if current_user.id==@personne.id
- else
  %br
  .header_02= "Informations personnelles"
  %ol.info
    %h3 Données publiques
    = show_value "Initiale", @personne.initiale
    = show_value "Prenom", @personne.prenom
    = show_value "Nom", @personne.nom
    .spacer
    = show_value "Identificateur SAGEX", @personne.id_sagex
    - if can? :show, @personne_prive
      = show_value "Login",@personne.username
    = show_value "Statut", @personne.type_personne.typePersonne
    - if @personne.institut
      = show_image("Institut ", "ok.png", "16x16")
    - else
      = show_image("Institut ","avertissement_trop.png", "16x16" )
    - if @personne.actif
      = show_image("Actif ", "ok.png", "16x16" )
    - else
      = show_image("Actif ", "avertissement_trop.png", "16x16" )
    .spacer
    - if !(@personne.axe_strategique==nil)
      = show_value "Axe stratégique", @personne.axe_strategique.sigle
    - else
      = show_value "Axe stratégique", "---"
    .spacer
    = show_value "Téléphone interne", @personne.telInterne
    = show_value "Lieu de travail", @personne.bureau
    = show_value "E-mail", @personne.emailTravail
    = ligne_vide
    - if can? :show, @personne_prive
      = ligne_vide
      = ligne_vide
      %h3 Données privées
      - if @personne_prive.date_naissance
        = show_value "Date de naissance", @personne_prive.date_naissance.to_date.strftime("%d-%m-%Y")
      = show_value "Téléphone externe", @personne_prive.telExterne
      = show_value "Téléphone d'urgence", @personne_prive.telUrgence
      - if @personne_prive.communication_tel_autorisee
        = show_image("Appel privé autorisé", "ok.png", "16x16" )
      - else
        = show_image("Appel privé autorisé", "inactif.png", "16x16" )
      = show_value "E-mail privé", @personne_prive.emailPrive
      = show_value "Rue", @personne_prive.rue
      = show_value "Code postal", @personne_prive.codePostal
      = show_value "Ville", @personne_prive.ville
      = show_value "Pays", @personne_prive.pays
      = ligne_vide
      = ligne_vide
      %h3 Données de configuration
      - if !@personne_prive.mode_saisie_simple
        = show_image("Saisie avec curseur", "ok.png", "16x16" )
      - else
        = show_image("Saisie avec curseur", "inactif.png", "16x16" )
      - if !@personne_prive.mode_saisie_simple
        - if @personne_prive.saisie_par_pas_de_15mn 
          = show_image("Curseur avec tranches de 15'", "ok.png", "16x16" )
        - else
          = show_image("Curseur avec tranches de 1'", "ok.png", "16x16" ) 
      - if CstHeure.compensation_libre?(Date.today.year)
        - if @personne_prive.compense_les_ponts?
          = show_image("Compensation des ponts", "ok.png", "16x16" )
        - else
          = show_image("Compensation des ponts", "inactif.png", "16x16" )        
%div{:style => "clear:both;"}
- #- if can? :show_comp, @personne
- #  - if @personne.type_personne.typePersonne == "Collaborateur"
- #    %fieldset
- #      %legend Intérêts(s) sur unité d'enseignement
- #      %div{:style => "float:left; width:440px;"}
- #        = # Liste de toutes les unités d'enseignement dont la personne à les compétences
- #        - i = 0
- #        - for unite in @unites_associees_competence
- #          = h unite.abreviation
- #          -#{h unite.nom} (#{@interet_unite[i]})
- #          %br
- #          - i+=1
- #        \&nbsp;
- #      /
- #        <div style="float:left; width:220px;">
- #        <haml:loud> button_to &amp;quot;Gestion compétences&amp;quot;, {:action =&amp;gt; &amp;quot;gestion_competences&amp;quot;, :id =&amp;gt; @personne.id} </haml:loud>
- #        </div>
- #    %br
- #    %fieldset
- #      %legend Compétence(s) sur domaine
- #      %div{:style => "float:left; width:440px;"}
- #        - i=0 ## Variable de boucle
- #        = # Liste de toutes les unités d'enseignement dont la personne à les compétences
- #        - for domaine in @domaines_competents
- #          = h domaine.domaine
- #          = # Indique le niveau de compétence de la personne
- #          (#{h @competences_domaines_associes[i].niveau_competence.niveau})
- #          %br
- #          - i+=1 ## Incrémentation de la variable de boucle
- #        \&nbsp;
- #      /
- #        <div style="float:left; width:220px;">
- #        <haml:loud> button_to &amp;quot;Gestion compétences&amp;quot;, {:action =&amp;gt; &amp;quot;gestion_competences&amp;quot;, :id =&amp;gt; @personne.id} </haml:loud>
- #        </div>
- #= # Fin droits

- if !Planification.is_empty?
  %br 
  %br 
  = render :partial => "planifications/liste_planning_courant"
  %br
%br  
.header_02= "Projets affectés"
%ol.info
  .resume_global
    .affectation_label= "Bilan - Effectué en #{AnneeCivile.courante.annee}"
    - if @charge_globale > 0 
      - if (@total_heures_saisies.to_f / @charge_globale.to_f) > 1.0
        - barclass = " progressbar_depassement"
      - else
        - barclass = ""
      #charge_globale_progressbar{:class => "affectation_progressbar#{barclass}",:"data-charge" => @charge_globale, :"data-heures_saisies" => @total_heures_saisies}
      .affectation_ratio1= heure_en_format_heures_minutes(@total_heures_saisies)
      .affectation_ratio2= "/"
      -#.affectation_ratio3= "#{sprintf("%0.01f", @charge_globale)}"
      .affectation_ratio3= heure_en_format_heures_minutes(@charge_globale) 
    - else
      %div{:style => "width: 35%; float: left"}= "&nbsp;".html_safe
      .affectation_ratio1= heure_en_format_heures_minutes(@total_heures_saisies)
      .affectation_ratio2= "&nbsp;".html_safe
      .affectation_ratio3= "&nbsp;".html_safe
    %button.affectation_button_global= "Détails"
    .clear
    .affectation_details{:"data-personne_id" => @personne.id}
  .spacer
  .ruler
  - if @affectations_hors_absences.count > 0
    = render :partial => "affectation_projets/liste_affectations", :locals => {:m => @personne, :affectations => @affectations_hors_absences}
  - else
    %li= "Aucun projet affecté"
  - if can?(:new, AffectationProjet)
    = link_to "Affecter un projet supplémentaire", new_personne_affectation_projet_path(@personne, {:vient_de => :personne})
- if @projets_personnels.count > 0
  %br 
  %br 
  .header_02= "Projets personnels"
  %ol.info
    - @projets_personnels.each do |prj|
      = link_to(prj.display_name, prj.becomes(Projet)) 
    %br
- if can? :show_charges, @personne
  %br
  %br
  - if @personne.is_professeur? || @personne.is_collaborateur?
    - if (AffectationProjet.affectations_academiques(@personne, AnneeAcademique.courante).size>0 || UniteEnseignement.charges_enseignement(@personne, AnneeAcademique.courante.id).size>0 || UniteEnseignement.charges_assistanat(@personne, AnneeAcademique.courante.id).size>0)
      = render :partial => "charges/charges_dune_personne", :locals => {:personne => @personne, :avec_entete => true, :avec_nom_personne => false, :mode => :update}
- #
- #%br
- #%br
- #- if @road_maps != nil
- #  %b Ci-dessous les actions que vous pouvez effectuer.
- #  %br
- #  %table
- #    %tr
- #      %th Date de début
- #      %th Date de fin
- #      %th Description
- #    - for action in @road_maps
- #      %tr
- #        %td{:align => "center", :width => "150"}= action.start_date.strftime("%d-%m-%Y")
- #        %td{:align => "center", :width => "150"}= action.end_date.strftime("%d-%m-%Y")
- #        %td= action.description
- #/
- #  <fieldset>
- #  <legend>Evénements</legend>
- #  <div style="float:left; width:220px;">
- #  <haml:loud> # Liste de tous les événements liés à la personne </haml:loud>
- #  <haml:silent>       i = 0
- #  </haml:silent><haml:silent>         for evenement in @evenements_associees
- #  </haml:silent><haml:block>        <haml:loud>h @date_ev[i].date.strftime(&amp;quot;%d-%m-%Y&amp;quot;) </haml:loud> -
- #  <haml:loud>h evenement.texte </haml:loud><br/>
- #  <haml:silent>         i = i + 1
- #  </haml:silent></haml:block>      &amp;nbsp
- #  </div>
- #  <div style="float:left; width:220px;">
- #  <haml:silent>       i = 0
- #  </haml:silent><haml:silent>       for evenement in @evenements_associees
- #  </haml:silent><haml:block>        <haml:loud> link_to '[modifier]', {:action =&amp;gt; &amp;quot;edit_evenement&amp;quot;, :id =&amp;gt; @date_ev[i].id} </haml:loud>
- #  <haml:loud> link_to '[effacer]', {:action =&amp;gt; &amp;quot;del_evenement&amp;quot;, :id =&amp;gt; @date_ev[i].id}, :confirm =&amp;gt; 'Etes-vous sur de vouloir supprimer cet enregistrement?' </haml:loud>
- #  <haml:silent>         i = i + 1
- #  </haml:silent>        <br/>
- #  </haml:block>      &amp;nbsp
- #  </div>
- #  <div style="float:left; width:220px;">
- #  <haml:loud> button_to &amp;quot;Ajouter un événement&amp;quot;, {:action =&amp;gt; &amp;quot;ajout_evenement&amp;quot;, :id =&amp;gt; @personne.id} </haml:loud>
- #  </div>
- #  </fieldset>
- #  
- #  <br/>
- #  
- #  <fieldset>
- #  <legend>Assignement</legend>
- #  <div style="float:left; width:220px;">
- #  <haml:silent>       for assignement in @assignements_associees
- #  </haml:silent><haml:block>        <haml:silent> link_to(assignement) do </haml:silent><haml:block><haml:loud>h assignement.projet.nomOutlook </haml:loud> - <haml:loud>h assignement.annee_civile.annee </haml:loud></haml:block>
- #  <br/>
- #  </haml:block>      &amp;nbsp
- #  </div>
- #  <div style="float:left; width:220px;">
- #  <haml:silent>       for assignement in @assignements_associees
- #  </haml:silent><haml:block>        <haml:loud> link_to '[modifier]', edit_charge_path(assignement) </haml:loud>
- #  <haml:loud> link_to '[effacer]', assignement, :confirm =&amp;gt; 'Etes-vous sur de vouloir supprimer cet enregistrement?', :method =&amp;gt; :delete </haml:loud>
- #  <br/>
- #  </haml:block>      &amp;nbsp
- #  </div>
- #  <div style="float:left; width:220px;">
- #  <haml:loud> button_to &amp;quot;Ajouter un assignement&amp;quot;, {:action =&amp;gt; &amp;quot;ajout_assignement&amp;quot;, :id =&amp;gt; @personne.id} </haml:loud>
- #  </div>
- #  </fieldset>
- #