%h1 Editing type_evenement_projet
- form_for(@type_evenement_projet) do |f|
  = f.error_messages
  %p
    = f.label :typeEvenementProjet
    %br
    = f.text_field :typeEvenementProjet
  %p
    = f.submit "Update"
= link_to 'Show', @type_evenement_projet
|
-#{link_to 'Back', type_evenement_projets_path}
