%h1 Listing type_evenement_projets
%table
  %tr
    %th Typeevenementprojet
  - for type_evenement_projet in @type_evenement_projets
    %tr
      %td= h type_evenement_projet.typeEvenementProjet
      %td= link_to 'Show', type_evenement_projet
      %td= link_to 'Edit', edit_type_evenement_projet_path(type_evenement_projet)
      %td= link_to 'Destroy', type_evenement_projet, data: {:confirm => 'Are you sure?'}, :method => :delete
%br
= link_to 'New type_evenement_projet', new_type_evenement_projet_path
= link_to 'Menu principal', enseignement_path
