%h1 New type_evenement_projet
- form_for(@type_evenement_projet) do |f|
  = f.error_messages
  %p
    = f.label :typeEvenementProjet
    %br
    = f.text_field :typeEvenementProjet
  %p
    = f.submit "Create"
= link_to 'Back', type_evenement_projets_path
