%p
  %b Typeevenementprojet:
  = h @type_evenement_projet.typeEvenementProjet
= link_to 'Edit', edit_type_evenement_projet_path(@type_evenement_projet)
|
-#{link_to 'Back', type_evenement_projets_path}
