= form_for @planification do |f|
  - if @planification.errors.any?
    #error_explanation
      %h2= "#{pluralize(@planification.errors.count, "error")} prohibited this planification from being saved:"
      %ul
        - @planification.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
