#menu-planif
  #menu-consultation
    #menu-datepicker
      %button#preDate.btn.btn-primary{:style => "width:30px;"}
        = fa_icon "arrow-left"
      = text_field("champs", "date_choisie", value: @ajd.strftime("%d.%m.%Y"), class: 'datepicker', id: 'input_date')
      %button#postDate.btn.btn-primary{:style => "width:30px;"}
        = fa_icon "arrow-right"
    #menu-format
      Format:
      = radio_button_tag "format", "%", true, class: 'input_format'
      Pourcentages
      = radio_button_tag "format", "N", false, class: 'input_format'
      Heures
    #menu-filtre
      Filtre:
      = text_field("champs", "filtre", placeholder: 'Recherche + enter')
-if current_user.has_role? :responsable_rh or current_user.has_role? :admin or current_user.isChefProjet?
  #menu-mode
    Mode:
    %br
    = radio_button_tag "mode", "R", true, class: 'input_mode'
    Ressources
    %br
    = radio_button_tag "mode", "P", false, class: 'input_mode'
    Projets