- content_for :left_menu do
  = render :partial => 'left_menu'
- content_for :head do
  = javascript_include_tag("handsontable/handsontable.full")
  = javascript_include_tag("AppPlanif")
  = javascript_include_tag("planification_app")
%h1 Planification
= render :partial => 'menu'

- content_for :planif do
  %div#contenu_planif
    %div#tableur_planif
      %div#tableur

#div-commentaire{:title => "Éditer un commentaire"}
#div-jalon{:title => "Ajouter un jalon"}
#div-voirJalon{:title => "Liste des jalons"}