Menus :

-#{button_to "Profil de l'utilisateur", {:controller => "Personnes", :action => "show", :id => @cahier.personne_id}, :class => "menu"}

-#{button_to "Contrats de l'utilisateur",{ :controller => "Contrats", :action => "show", :id => @personne.id}, :class => "menu"}

- if can? :read, @cahier.personne
  = link_to 'Historique des contrats', {:controller => "contrats", :action => "show_resume", :id => @cahier.personne_id}, :class => "menu"
- if can? :read, :contrats
  %br
  = link_to 'Liste des contrats', {:controller => "Contrats", :action => "index", :id=>0}, :class => "menu"
