- content_for :left_menu do
  = render :partial => 'personnes/left_menu'
%h1 Modification du cahier des charges
%h2
  = h @personne.prenom
  = h @personne.nom
  (#{h @personne.initiale})
%br
- form_for([@personne,@cahier]) do |f|
  = f.error_messages
  %fieldset
    %legend Répartition de la charge
    %div{:align => "right", :style => "float:left;"}
      Nombre d'heures d'enseignement :
      %br
      Nombre d'heures d'infrastructure :
      %br
      Nombre d'heures de Ra&D :
    %div{:style => "float:left;margin-left:10px;"}
      = f.text_field "heures_ens"
      %br
      = observe_field "cahier_charge_assistant_heures_ens",                                                |
        :url=>{:controller => "cahier_charge_assistant", :action=>"heures_modifiees", :id=>@heures_total}, |
        :frequency => 0.5,                                                                                 |
        :with=>"'h_ens=' +$('cahier_charge_assistant_heures_ens').value +                                  |
        '&h_infra=' + $('cahier_charge_assistant_heures_infra').value +                                    |
        '&h_rd=' + $('cahier_charge_assistant_heures_RD').value"                                           |
      = f.text_field :heures_infra
      %br
      = observe_field "cahier_charge_assistant_heures_infra",                                              |
        :url=>{:controller => "cahier_charge_assistant", :action=>"heures_modifiees", :id=>@heures_total}, |
        :frequency => 0.5,                                                                                 |
        :with=>"'h_ens=' +$('cahier_charge_assistant_heures_ens').value +                                  |
        '&h_infra=' + $('cahier_charge_assistant_heures_infra').value +                                    |
        '&h_rd=' + $('cahier_charge_assistant_heures_RD').value"                                           |
      = f.text_field :heures_RD
      = observe_field "cahier_charge_assistant_heures_RD",                                                 |
        :url=>{:controller => "cahier_charge_assistant", :action=>"heures_modifiees", :id=>@heures_total}, |
        :frequency => 0.5,                                                                                 |
        :with=>"'h_ens=' +$('cahier_charge_assistant_heures_ens').value +                                  |
        '&h_infra=' + $('cahier_charge_assistant_heures_infra').value +                                    |
        '&h_rd=' + $('cahier_charge_assistant_heures_RD').value"                                           |
    %div{:style => "float:left;margin-left:50px;"}
      %br
      #h_restante
        - if  @heures_rab < 0
          %b
            %font{:color => "red"}
              Heures totales restantes : #{@heures_rab}
        - elsif @heures_rab == 0
          %b
            %font{:color => "green"}
              Heures totales restantes : #{@heures_rab}
        - else
          %b
            %font{:color => "orange"}
              Heures totales restantes : #{@heures_rab}
    %div{:style => "clear:both;"}
  %fieldset
    %legend Informations
    Description du poste :
    %br
    = f.text_area :definition_poste, :rows => 10, :cols => 50
    %br
    Remarques :
    %br
    = f.text_area :remarque, :rows => 5, :cols => 50
  %br
  = f.submit "Mettre à jour"
