- content_for :left_menu do
  = render :partial => 'personnes/left_menu'
%h1 Cahier des charges
%h2
  = h @personne.prenom
  = h @personne.nom
  (#{h @personne.initiale})
%br
%table{:style => "border-collapse: collapse;"}
  %tr
    %th Année
    %th Options
  - @cahiers.each do |cahier|
    %tr{:style => "border-top:solid 1px;"}
      %td{:align => "center", :width => "150"}= cahier.annee_civile.annee
      %td{:align => "center", :width => "150"}
        = link_to 'Détail', cahier
        = #Droits :           |
          #  USER   : nothing |
          #  Sec   : manage   |
          #  Admin   : manage |
        - if can? :manage, cahier
          = link_to 'Modifier', :action=>"edit", :id => cahier.id
        = #Fin des droits
        = #Droits :           |
          #  USER   : nothing |
          #  Sec   : manage   |
          #  Admin   : manage |
        - if can? :manage, cahier
          = link_to 'Supprimer', cahier, data: { :confirm => 'Are you sure?' }, :method => :delete
        = #Fin des droits
