- content_for :left_menu do
  = render :partial => 'personnes/left_menu'
%h1 Création d'un cahier des charges
%h2
  = h @personne.prenom
  = h @personne.nom
  (#{h @personne.initiale})
%br
- form_for(@cahier) do |f|
  = f.error_messages
  = f.hidden_field :personne_id, {:value => @personne.id }
  %fieldset
    %legend Répartition de la charge
    %div{:align => "right", :style => "float:left;"}
      Année civile couverte par le cahier des charges :
      %br
      Nombre d'heures d'enseignement :
      %br
      Nombre d'heures d'infrastructure :
      %br
      Nombre d'heures de Ra&D :
    %div{:style => "float:left;margin-left:10px;"}
      = f.collection_select :annee_civile_id, @annee, :id, :annee
      %br
      = f.text_field :heures_ens
      %br
      = f.text_field :heures_infra
      %br
      = f.text_field :heures_RD
    %div{:style => "clear:both;"}
  %fieldset
    %legend Informations
    Description du poste :
    %br
    = f.text_area :definition_poste, :rows => 10, :cols => 50
    %br
    Remarques :
    %br
    = f.text_area :remarque, :rows => 5, :cols => 50
  %br
  = f.submit "Create"
