- content_for :left_menu do
  = render :partial => 'personnes/left_menu'
%h1 Cahier des charges
%h2
  = h @personne.prenom
  = h @personne.nom
  (#{h @personne.initiale}) - Année #{@cahier.annee_civile.annee}
%br
%fieldset
  %legend Evolution des contrats sur l'année
  %div{:align => "right", :style => "float:left;"}
    %table
      %th Type de contrat
      %th Pourcentage
      %th Début
      %th Fin
      %th Axe
      - @contrats.each do |contrat|
        %tr
          %td{:align => "center", :width => "200"}= h contrat.type_contrat.typeContrat
          %td{:align => "center", :width => "20"}= h contrat.pourcentage
          %td{:align => "center", :width => "200"}= h contrat.start_date.strftime("%d-%m-%Y")
          - if contrat.end_date == nil
            %td{:align => "center", :width => "200"} Indéterminé
          - else
            %td{:align => "center", :width => "200"}= h contrat.end_date.strftime("%d-%m-%Y")
          %td{:align => "center", :width => "50"}= h contrat.personne.axe_strategique.nom
  %div{:style => "float:left;margin-left:10px;"}
- if @nb_contrats > 0
  %br
  %fieldset
    %legend Informations
    %div{:align => "right", :style => "float:left;"}
      Nombre d'heures d'enseignement :
      %br
      Nombre d'heures d'infrastructure :
      %br
      Nombre d'heures de Ra&D :
      %br
      Heures totales :
      %br
      Heures inutilisées :
    %div{:style => "float:left;margin-left:10px;"}
      = @cahier.heures_ens
      %br
      = @cahier.heures_infra
      %br
      = @cahier.heures_RD
      %br
      = @heures_totales_attribuees
      %br
      = @heures_rab
    %div{:style => "clear:both"}
    %br
    %div{:align => "center"}
      - if @boite_ens > 0
        %div{:style => "height:20px;width:#{@boite_ens}px;background-color:#ccccff;float:left;"}
          %b Enseignement
      - if @boite_infra > 0
        %div{:style => "height:20px;width:#{@boite_infra}px;background-color:#ccffcc;float:left;"}
          %b Infrastructure
      - if @boite_rd > 0
        %div{:style => "height:20px;width:#{@boite_rd}px;background-color:#ffcccc;float:left;"}
          %b Ra&D
      - if @boite_rab > 0
        %div{:style => "height:20px;width:#{@boite_rab}px;background-color:#ffcc99;float:left;"}
          %b Inutilisé
%br
%fieldset
  %legend Description du poste
  = @cahier.definition_poste
%br
%fieldset
  %legend Remarques
  = @cahier.remarque
%br
= #Droits :           |
  #  USER   : nothing |
  #  Sec   : manage   |
  #  Admin   : manage |
- if can? :manage, @cahier
  = link_to "Modification",{ :action=>"edit", :id => @cahier.id}
  %br
= # Fin des droits
