= set_onload_remote_function(:url=>{:action=>'annee_mise_a_jour', :id_annee_academique=> @annee_academique.id , :index=> "true"}) 
%h1 Liste des filières #{@annee_academique.annee}
%table
  %tr
    %td
      - #Sélection de l'année académique : #{select "filiere", "annee_academique", @annees_academiques.collect {|elt| [ elt.annee, elt.id ] }}
  %tr
    %table
      \------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      %tr
        %td.espace250
          %b Abreviation
        %td.espace100
          %b Departement
  %tr
    %td
      - for filiere in @filieres
        %div{:id => "filiere_#{filiere.id}"}
          %table
            %tr
              %td.espace250= h filiere.abreviation
              %td.espace100= h filiere.departement.abreviation
              %td
                %table
                  %tr.espace100
                    %td= link_to 'Détails', filiere
                    - if can? :manage, :enseignement
                      %td= link_to 'Modifier', edit_filiere_path(filiere)
                      %td= link_to 'Effacer', filiere, data: { :confirm => 'Etes-vous sûr?' }, :method => :delete
    \------------------------------------------------------------------------------------------------------------------------------------------------------------------------
%br
= link_to 'Ajouter une filière', new_filiere_path
= link_to 'Menu principal', enseignement_path
.clear
= image_tag "ajax-loader.gif", :id=>"wait_icon", :style=>"display:none"
/ Lorsque le filtre des années académiques est modifié
= observe_field 'filiere_annee_academique',          |
  :url=>{:action=>"annee_mise_a_jour"},              |
  :before => "Element.toggle('wait_icon')",          |
  :complete => "Element.toggle('wait_icon')",        |
  :with => "'&id_annee_academique=' + escape(value)+ |
  '&index=' + '#{true}'"                             |
