%h1 Ajout d'une nouvelle filiere
- form_for(@filiere) do |f|
  = f.error_messages
  %p
    Abreviation : #{f.text_field :abreviation}
  %p
    Année académique : #{f.collection_select :annee_academique_id, @annee_academique, :id, :annee}
  %p
    Département : #{f.collection_select :departement_id, @departements_annee, :id, :abreviation}
  %p
    = f.submit "Créer"
= link_to 'Retour', filieres_path
.clear
= image_tag "ajax-loader.gif", :id=>"wait_icon", :style=>"display:none"
/ Lorsque le filtre des années académiques est modifié
= observe_field 'filiere_annee_academique_id',      |
  :url=>{:action=>"annee_mise_a_jour"},             |
  :before => "Element.toggle('wait_icon')",         |
  :complete => "Element.toggle('wait_icon')",       |
  :with => "'id_annee_academique=' + escape(value)+ |
  '&index=' + '#{false}'"                           |
