%p
  %b Abreviation:
  = h @filiere.abreviation
/ ...............................Departement................................
%p
  %td
    %b Département:
    / On affiche l'abreviation du departement
    = h @filiere.departement.abreviation
/ ...........................Annee Academique............................
%p
  %td
    %b Année académique:
    / On affiche l'année académique
    = h @filiere.annee_academique.annee
= link_to 'Edit', edit_filiere_path(@filiere)
= link_to 'Back', filieres_path
