- (@date_debut..@date_fin).each do |day|
  .jour{:"data-date" => day.strftime("%Y-%m-%d")}
    .header_02
      = l(day, :format => :long)
      %span.total_journalier
    .plages_horaires
      - @plage_horaire_saisies.all.each do |plage|
        - if !plage.affectation_projet.saisie_heures_par_RH_uniquement || current_user.roles.include?(:responsable_rh)
          - if day == plage.debut.to_date
            = render :partial => "plage_horaire_form", :locals => {:plage => plage, :mode => "mode_semaine"}
    
      