#projets_container
  #projets.follow_scroll
    .header_02= "Projets"
    #projets_hint
      %p= "pour ajouter des heures pour un projet, glissez-déplacez une de ces pastilles vers le jour de votre choix"
    - @personne.affectations_hors_absences.each do |ap|
      - if (!current_user.roles.include?(:responsable_rh) && ap.saisie_heures_possible?) ||(current_user.roles.include?(:responsable_rh) && ap.saisie_heures_possible_by_RH?)
        - if !ap.saisie_heures_par_RH_uniquement || current_user.roles.include?(:responsable_rh)
          %span{:id => "ap_#{ap.id}",:"data-ap_id" => ap.id,:class => "projet_drag projet_drag_#{ap.projet.id}", :style => "background-color: #{ap.display_color}"}= ap.display_name
          .clear
          .spacer
    - @personne.affectations_absences.each do |ap|
      - if (!current_user.roles.include?(:responsable_rh) && ap.saisie_heures_possible?) ||(current_user.roles.include?(:responsable_rh) && ap.saisie_heures_possible_by_RH?)
        - if !ap.saisie_heures_par_RH_uniquement || current_user.roles.include?(:responsable_rh)
          %span{:id => "ap_#{ap.id}",:"data-ap_id" => ap.id,:class => "projet_drag projet_drag_#{ap.projet.id}", :style => "background-color: #{ap.display_color}"}= ap.display_name
          .clear
          .spacer
