- # -*- encoding : utf-8 -*-
%div{:class => "plage_horaire plage_horaire_affectation_#{plage.affectation_projet.id}", :"data-id" => plage.id}
  - if plage.errors.empty?
    - if mode=="mode_semaine"
      %br
    = plage.affectation_projet.display_name
    %button.destroy= "Supprimer"
    - if @personne.mode_saisie_simple? || plage.heures >= 24.0
      = text_field_tag("plage_#{plage.id}_heures", plage.heures.truncate.to_s, :size => "3", :class => "nombre_heures")
      = text_field_tag("plage_#{plage.id}_minutes", ((plage.heures-plage.heures.truncate)*60).truncate, :size => "2", :class => "nombre_minutes")
    - else
      = "de "
      = select_tag("plage_#{plage.id}_debut",options_for_select(PlageHoraireSaisie.heures_pour_select(@personne), (plage.debut.seconds_since_midnight / 60).to_i) , {:class => "heure_debut"})
      = " à "
      = select_tag("plage_#{plage.id}_fin",options_for_select(PlageHoraireSaisie.heures_pour_select(@personne), (plage.fin.seconds_since_midnight / 60).to_i) , {:class => "heure_fin"})
      .slider
    %span{:id => "plage_#{plage.id}_status", :class => "status", :"data-heures" => plage.heures}
      = render :partial => "status", :locals => {:plage => plage}
    %br
    -if mode=="mode_calendrier"
      %br
    - if Configuration.saisie_avec_commentaire?
      - if mode=="mode_calendrier"
        = "Commentaire"
      .champ_commentaire
      - if plage.commentaire!=nil
        <input type="text" size="100" maxlength="80" charset="utf-8" id="plage_#{plage.id}_commentaire" value="#{plage.commentaire.force_encoding("UTF-8")}" class="commentaire" /> 
      - else
        <input type="text" size="100" maxlength="80" charset="utf-8" id="plage_#{plage.id}_commentaire" value="" class="commentaire" /> 
    - if mode=="mode_calendrier"
      %button.submit= "Enregistrer"
    %br
    - if mode=="mode_semaine" && Configuration.saisie_avec_commentaire?
      %br
  - else
    :javascript
      alert("Erreur : #{plage.errors.first.last}");