- if plage.valid?
  %span.success
    -#= "(#{sprintf("%0.02f", plage.heures)} heures)"
    = "(#{PlageHoraireSaisie.heure_en_format_heures_minutes(plage.heures)})"
- else
  %span.error
    = plage.errors.first.last