- content_for :head do
  = stylesheet_link_tag "event_calendar"
  = javascript_include_tag "saisie_mois"
- content_for :left_menu do
  = render :partial => 'liste_projets'


%style{:type => "text/css", :media => "screen"}
  - @personne.affectation_projets.each do |ap|
    = ".plage_horaire_affectation_#{ap.id} .ui-widget-header {background-image:none; background-color: #{ap.display_color}}\n"
    
%h1= "Saisie des heures pour #{@personne.display_name}"
= link_to "Consulter en mode semaine","/personnes/#{@personne.id}/plage_horaire_saisies/semaine"
= link_to "Retour au profil", personne_path(@personne)
%br
%p= "Cliquez sur des heures saisies dans le calendrier pour les modifier ou les supprimer"
= hidden_div "readonly", can?(:modifier_heures_saisies, @personne) ? "" : "true"
= hidden_div "personne_id", @personne.id
= hidden_div "charge_journaliere_heures", extract_heures(Configuration.saisie_journaliere_par_defaut)
= hidden_div "charge_journaliere_minutes", extract_minutes(Configuration.saisie_journaliere_par_defaut)
= hidden_div "avec_commentaire", Configuration.saisie_avec_commentaire?.to_s
= raw(event_calendar)
.spacer
%h1= "Résumé des heures pour le mois"
%table{:cellpadding => 3}
  %tr
    %th{:style => "text-align : left"}="Affectation"
    %th{:style => "text-align : left"}="Heures"
  - @heures_par_affectation.each_pair do |key, value|
    %tr
      %td{:style => "text-align : left"}= key
      %td{:style => "text-align : left"}= heure_en_format_heures_minutes(value)
.spacer

- if Configuration.saisie_avec_commentaire?
  %br
  %br
  %h1= "Commentaires saisis"
  - if @plages_du_mois.count ==0
    = "Aucun commentaire saisi"
  - else
    - @plages_du_mois.each_pair do |key, value|
      %h2= key
      %table{:cellpadding => 3}
        - #%tr
        - #  %th{:style => "text-align : left"}="Date"
        - #  %th{:style => "text-align : left"}="Heures"
        - #  %th{:style => "text-align : left"}="Commentaire"
        - value.each do |plage|
          %tr
            %td{:style => "text-align : left"}= plage.debut.in_time_zone.to_formatted_s(:jour_mois_annee)
            %td{:style => "text-align : left"}= heure_en_format_heures_minutes(plage.heures)
            %td{:style => "text-align : left"}= plage.commentaire.force_encoding("UTF-8")

