- content_for :head do
  = javascript_include_tag("saisie_semaine.js", "date.js")
- content_for :left_menu do
  = render :partial => 'personnes/left_menu'

%style{:type => "text/css", :media => "screen"}
  - @personne.affectation_projets.each do |ap|
    = ".plage_horaire_affectation_#{ap.id} .ui-widget-header {background-image:none; background-color: #{ap.display_color}}\n"

= hidden_div "personne_id", @personne.id
= hidden_div "date_debut", @date_debut
= hidden_div "date_fin", @date_fin
= hidden_div "readonly", can?(:modifier_heures_saisies, @personne) ? "" : "true"
= hidden_div "avec_commentaire", Configuration.saisie_avec_commentaire?.to_s

%h1= "Saisie des heures pour #{@personne.display_name}"
%p= link_to "Consulter en mode calendrier","/personnes/#{@personne.id}/plage_horaire_saisies/#{@date_debut.year}/#{@date_debut.month}"
#semaine_courante.header_02= "Du #{l @date_debut} au #{l @date_fin}"

- if cannot?(:modifier_heures_saisies, @personne)
  %p
    = "Lecture seule"

= render :partial => "liste_projets"
#jours_container
  %button#cloner_semaine_precedente= "Cloner les données de la semaine précédente"
  .spacer
  %button#jours_precedents
    = "Semaine précédente"
  .spacer
  #jours
  %button#jours_suivants
    = "Semaine suivante"