- if @projet && !@projet.new_record?
  = "Actions sur #{@projet.display_name}"
  = menu_item "Détails du projet", projet_path(@projet), :show, :projets, can?(:show, @projet), params
  = menu_item "Supprimer le projet", projet_path(@projet), :destroy, :projets, can?(:destroy, @projet), params, :method => :delete, data: {:confirm => "Etes-vous sûr ?"}
  - if !@projet.is_archive?
    = menu_item "Modifier le projet", edit_projet_path(@projet), :edit, :projets, can?(:edit, @projet), params
    = menu_item "Archiver le projet", archiver_projet_path(@projet), :archiver, :projets, can?(:edit, @projet), params, data: {:confirm => "Etes-vous sûr ?"}
    - if @projet.est_actif
      = menu_item "Desactiver le projet", desactiver_projet_path(@projet), :desactiver, :projets, can?(:edit, @projet), params, data: {:confirm => "Etes-vous sûr ?"}
    - if !@projet.est_actif
      = menu_item "Activer le projet", activer_projet_path(@projet), :activer, :projets, can?(:edit, @projet), params, data: {:confirm => "Etes-vous sûr ?"}
    = menu_item "Affecter une personne", new_projet_affectation_projet_path(@projet, :vient_de => :projet), :new, :affectation_projets, can?(:new, @projet.affectation_projets.build), params
  - if @projet.is_archive?
    = menu_item "Ré-actualiser le projet", desarchiver_projet_path(@projet), :archiver, :projets, can?(:edit, @projet), params, data: {:confirm => "Etes-vous sûr ?"}

= "Actions globales sur les projets"
= menu_item "Liste des projets", projets_path, :index, :projets, can?(:read, Projet), params
= menu_item "Ajouter un projet", new_projet_path, :new, :projets, can?(:create, Projet), params
%br