.fields
  = f.inputs :class => "budget_inputs" do
    = f.input :horaire, :label => "Budget horaire", :hint => "Nombre d'heures"
    = f.input :financier, :label => "Budget financier", :hint => "CHF"
    = f.input :type_budget, :include_blank => " - Choisissez un type de budget"
    -#= f.input :prioritaire, :collection => Budget.prioritaires_possibles, :include_blank => " - Choisissez un budget prioritaire -"
    .top_right= link_to_remove_fields "Supprimer", f