= semantic_form_for(@projet, :as => :projet, :url => @projet.becomes(Projet)) do |pb|
  =# @projet.errors
  = pb.inputs do
    = hidden_field_tag "classe_projet", @projet.class
    = pb.hidden_field :type_projet_id
    - if !@projet.kind_of? ProjetAcademique
      = pb.input :id_interne
      = pb.input :id_sagex
      - if @projet.type_projet.type_id_externe_id
        = pb.input :id_externe, :label => "Id #{@projet.type_projet.type_id_externe.display_name}"
      = pb.input :description
      = pb.input :chef, :collection => @chefs_potentiels, :include_blank => " - Choisissez un chef de projet -"
      - if !@projet.type_projet.date_debut_indeterminee
        = pb.input :date_debut, :as => :calendar
      - if !@projet.type_projet.date_fin_indeterminee
        = pb.input :date_fin, :as => :calendar
      %br
      - if @projet.type_projet.affichage_possible_charge_en_jours
        = pb.input :affichage_charge_en_jours, :label => "Afficher les charges horaires et heures saisies en jours-heures-minutes"
      .header_02="Budgets"
      .budgets
        = pb.semantic_fields_for :budgets do |bb|
          = render "budget_fields", :f => bb
        = link_to_add_fields "Ajouter un budget", pb, :budgets
    - if @projet.kind_of? ProjetAcademique
      - if @projet.kind_of? ProjetEnseignement
        = pb.input :unite_enseignement, :collection => @unites_potentielles, :include_blank => false
        = pb.input :id_interne, :collection => ["A", "B", "C", "D", "E"], :label => "Groupe [A, B, ..]", :include_blank => false
        = pb.input :id_sagex, :label => "Mapping Sagex"
        = pb.hidden_field :annee_academique_realisation_id
        - if mode.eql?("update")
          - if !@projet.type_projet.date_debut_indeterminee
            = pb.input :date_debut, :as => :calendar
          - if !@projet.type_projet.date_fin_indeterminee
            = pb.input :date_fin, :as => :calendar
        %br
        - if @projet.type_projet.affichage_possible_charge_en_jours
          = pb.input :affichage_charge_en_jours, :label => "Afficher les charges horaires et heures saisies en jours-heures-minutes"
      - elsif @projet.kind_of? These
        = pb.input :id_interne
        = pb.input :id_sagex
        - if @projet.type_projet.type_id_externe_id
          = pb.input :id_externe, :label => "Id #{@projet.type_projet.type_id_externe.display_name}"
        = pb.input :chef_id, :collection => @chefs_potentiels, :include_blank => " - Choisissez un chef de projet -"
        = pb.input :annee_academique_realisation, :include_blank => " - Choisissez une année académique -"
        = pb.input :nom_etudiant, :label => "Nom de l'étudiant"
        %br
        - if @projet.type_projet.affichage_possible_charge_en_jours
          = pb.input :affichage_charge_en_jours, :label => "Afficher les charges horaires et heures saisies en jours-heures-minutes"
        .header_02="Budgets"
        .budgets
          = pb.semantic_fields_for :budgets do |bb|
            = render "budget_fields", :f => bb 
      - else 
        = pb.input :id_interne, :hint => "Le nom saisi sera automatiquement complété par l'année académique (p.e.: 2010-2011)"
        = pb.input :id_sagex, :label => "Mapping Sagex"
        = pb.hidden_field :annee_academique_realisation_id
        - if !@projet.type_projet.date_debut_indeterminee
          = pb.input :date_debut, :as => :calendar
        - if !@projet.type_projet.date_fin_indeterminee
          = pb.input :date_fin, :as => :calendar
        %br
        - if @projet.type_projet.affichage_possible_charge_en_jours
          = pb.input :affichage_charge_en_jours, :label => "Afficher les charges horaires et heures saisies en jours-heures-minutes"
  = pb.buttons do
    = pb.commit_button "Valider"