-# Affiche récursivement les projets par type de projet
= tp.display_name
%ul
  - tp.enfants_directs.order(:nom).each do |tpc|
    - if tpc.has_descendance?("archive")
      - li_class = "not_empty"
      %li{:class => "type_projet #{li_class} closed"}
        = render :partial => "projets_archives", :locals => {:tp => tpc}
%ul
  - #- tp.projets.accessible_by(@current_ability).order(:id_interne).each do |proj|
  - tp.projets.order(:id_interne).each do |proj|
    - if proj.is_archive? && can?(:read, proj)
      %li.projet
        = link_to proj.display_name, proj.becomes(Projet)
        = link_to image_tag('report_edit.png'), [:edit, proj.becomes(Projet)]

  