%li{:class => "required", :id => "type_projet_input"}
  - if genre && !genre.empty?
    %label{:for => "type_projet"}= "Type de projet"
    = select_tag :type_projet_id, options_for_select([["- Choisissez un type de projet",""]]+TypeProjet.feuilles(TypeProjet.genre(genre).sans_singletons).collect{|tp| [tp.display_name,tp.id]})