- content_for :head do
  = javascript_include_tag "new_projet"
%h1= "Nouveau Projet"
%br

= semantic_form_for(:projet, :url => projets_path) do |f|
  = f.inputs do
    %li{:class => "required", :id => "classe_projet_input"}
      %label{:for => "classe_projet"}= "Genre de projet"
      = select_tag :classe_projet, options_for_select([["- Choisissez un genre de projet", ""]]+Projet.genres_projets)
    
    = render :partial => "type_projet_field", :locals => {:genre => nil}
    
  /= f.buttons do
  /  = f.commit_button "Valider"

  = f.actions do
    = f.action :submit, :label => "Valider"