- content_for :left_menu do
  = render :partial => 'actions'
- content_for :head do
  = javascript_include_tag("index_projets")
%h1= "Projets"

- if @projets.count == 0
  = "Aucun projet pour le moment"
%h2= "Projets actifs"
%ul{:id => "projets_index"}
  - TypeProjet.racines.order(:nom).each do |tp|
    - # - if tp.enfants_directs.count == 0 && tp.projets.accessible_by(current_ability, :read).count == 0
    - if tp.has_descendance?("active")
      - li_class = "not_empty"
    - else
      - li_class = "empty"
    %li{:class => "type_projet #{li_class} closed"}
      = render :partial => "projets", :locals => {:tp => tp}
%h2= "Projets inactifs"
%ul{:id => "projets_index"}
  - TypeProjet.racines.order(:nom).each do |tp|
    - if tp.has_descendance?("inactive")
      - li_class = "not_empty"
      %li{:class => "type_projet #{li_class} closed"}
        = render :partial => "projets_inactifs", :locals => {:tp => tp}
%h2= "Projets archivés"
%ul{:id => "projets_index"}
  - TypeProjet.racines.order(:nom).each do |tp|
    - if tp.has_descendance?("archive")
      - li_class = "not_empty"
      %li{:class => "type_projet #{li_class} closed"}
        = render :partial => "projets_archives", :locals => {:tp => tp}