- content_for :left_menu do
  = render :partial => 'actions'
%h1= "Nouveau Projet : #{@projet.genre} - #{@projet.try(:type_projet).try(:display_name)}"
%br
= render :partial => "form", :locals => {:mode=>"new"}