- content_for :left_menu do
  = render :partial => 'actions'
- content_for :head do
  = javascript_include_tag("flot/jquery.flot")
  = javascript_include_tag("flot/jquery.flot.stack")
  = javascript_include_tag("flot/jquery.flot.threshold")
  = javascript_include_tag("affectation_details")
  = javascript_include_tag("show_projet")
  
%h1
  = "Projet #{@projet.display_name}"
%h2
  - if !@projet.en_activite?
    = image_tag('inactif.png')
    - if @projet.hors_date?
      - if !@projet.est_actif
        = " Hors date & désactivé"
      - else
        = " Hors date"
    - else
      = " Désactivé"
  - if @projet.is_archive?
    = image_tag('archive.png')
    = " Projet archivé"
%ol.info
  = show_value "Id Interne", @projet.id_interne
  = show_value "Id Sagex", @projet.id_sagex
  - if @projet.type_projet.type_id_externe_id
    = show_value "Id "+ @projet.type_projet.type_id_externe.display_name, @projet.id_externe
  = show_value "Genre de projet", @projet.genre
  = show_value "Type de projet", @projet.type_projet
  - if @projet.en_activite?
    = show_image("Projet en activité", "ok.png", "16x16" )
  - else
    = show_image("Projet en activité", "inactif.png", "16x16" )
  = show_value "Description", @projet.description
  = show_value "Chef", @projet.chef
  - if @projet.kind_of? These
    = show_value "Nom de l'étudiant", @projet.nom_etudiant
  - if @projet.kind_of? ProjetEnseignement
    = show_value "Unité d'enseignement", @projet.try(:unite_enseignement)
  - if @projet.kind_of? ProjetAcademique
    = show_value "Année académique", @projet.annee_academique_realisation
  - if !@projet.type_projet.date_debut_indeterminee
    = show_value "Date de début",d(@projet.date_debut)
  - else
    = show_value "Date de début", "indéterminée"
  - if !@projet.type_projet.date_fin_indeterminee
    = show_value "Date de fin",d(@projet.date_fin)
  - else
    = show_value "Date de fin", "indéterminée"
  .clear
  .spacer
  .header_02= "Budgets (#{@projet.budgets.count})"
  - if @projet.budgets.count > 0
    - @projet.budgets.each do |budget|
      .budget
        %ol
          = show_value "Horaire", budget.horaire+(budget.horaire.empty? ? "" : " Heures")
          = show_value "Financier", budget.financier+(budget.financier.empty? ? "" : " CHF")
          = show_value "Type", budget.type_budget
          -# = show_value "Prioritaire", budget.prioritaire
          .clear
  - else
    %li= "Aucun budget"
  .clear 
  .spacer 
  .header_02= "Charges / Consommation"
  .resume_global
    .affectation_label= "Résumé Consommation"
    - if @charge_globale > 0 
      - if (@total_heures_saisies.to_f / @charge_globale.to_f) > 1.0
        - barclass = " progressbar_depassement"
      - else
        - barclass = ""
      #charge_globale_progressbar{:class => "affectation_progressbar#{barclass}",:"data-charge" => @charge_globale, :"data-heures_saisies" => @total_heures_saisies}
      -#.affectation_ratio1= "#{sprintf("%0.01f", @total_heures_saisies)}"
      .affectation_ratio1= heure_en_format_heures_minutes(@total_heures_saisies)
      .affectation_ratio2= "/"
      -#.affectation_ratio3= "#{sprintf("%0.01f", @charge_globale)}"
      .affectation_ratio3= heure_en_format_heures_minutes(@charge_globale)
    - else
      %div{:style => "width: 35%; float: left"}= "&nbsp;".html_safe
      -#.affectation_ratio1= "#{sprintf("%0.01f", @total_heures_saisies)}"
      .affectation_ratio1= heure_en_format_heures_minutes(@total_heures_saisies) 
      .affectation_ratio2= "&nbsp;".html_safe
      .affectation_ratio3= "&nbsp;".html_safe
    %button.affectation_button_global= "Détails"
    .clear
    .affectation_details{:"data-projet_id" => @projet.id}
  .spacer
  .ruler
  - if @projet.affectation_projets.count > 0
    = render :partial => "affectation_projets/liste_affectations", :locals => {:m => @projet, :affectations => @projet.affectation_projets.all}
  - else
    %li= "Aucune personne affectée"
  .clear
  .spacer
  - if can?(:new, @projet.affectation_projets.build)
    - if !@projet.is_archive?
      = link_to "Affecter une personne supplémentaire", new_projet_affectation_projet_path(@projet, :vient_de => :projet)
  
  