%h1 Editing constante
- form_for(@constante) do |f|
  = f.error_messages
  %p
    Description :
    = f.text_field :description
  %p
    Valeur :
    = f.text_field :valeur 
  / ...........................Annee Academique............................
  / Affiche la liste des années académiques
  %p
    Annee académique :
    = f.collection_select :annee_academique_id, @annees_academiques, :id, :annee
  / ...........................Annee Civile............................
  / Affiche la liste des années civile
  %p
    Annee civile :
    = f.collection_select :annee_civile_id, @annees_civiles, :id, :annee
  %p
    = f.submit "Update"
= link_to 'Show', @constante
|
= link_to 'Back', constantes_path
