= set_onload_remote_function(:url=>{:action=>'annee_mise_a_jour', :id_annee_academique=> @annee_academique.id , :id_annee_civile=> @annee_civile.id}) 
%h1 Liste des constantes
%table
  %tr
    %td
      Sélection de l'année académique : #{select "constante", "annee_academique", @annees_academiques.collect {|elt| [ elt.annee, elt.id ] }}
  %tr
    %table
      \------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      %tr
        %td.espace250
          %b Description
        %td.espace100
          %b Valeur
  %tr
    %td
      - for constante in @constantes_annee_academique
        %div{:id => "constante_#{constante.id}"}
          %table
            %tr
              %td.espace250= h constante.description
              %td.espace100= h constante.valeur
              %td
                %table
                  %tr.espace100
                    %td= link_to 'Visualiser', constante
                    %td= link_to 'Modifier', edit_constante_path(constante)
                    %td= link_to 'Effacer', constante, data: { :confirm => 'Etes-vous sûr?' }, :method => :delete
    \------------------------------------------------------------------------------------------------------------------------------------------------------------------------
%table
  %tr
    %td
      %br
    %tr/
    %tr
      %td
        Sélection de l'année civile: #{select "constante", "annee_civile", @annees_civiles.collect {|elt| [ elt.annee, elt.id ] }}
    %tr
      %table
        \------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        %tr
          %td.espace250
            %b Description
          %td.espace100
            %b Valeur
    %tr
      %td
        - for constante in @constantes_annee_civile
          %div{:id => "constante_#{constante.id}"}
            %table
              %tr
                %td.espace250= h constante.description
                %td.espace100= h constante.valeur
                %td
                  %table
                    %tr.espace100
                      %td= link_to 'Visualiser', constante
                      %td= link_to 'Modifier', edit_constante_path(constante)
                      %td= link_to 'Effacer', constante, data: { :confirm => 'Etes-vous sûr?' }, :method => :delete
      \------------------------------------------------------------------------------------------------------------------------------------------------------------------------
%br
= link_to 'Ajout de constante', new_constante_path
.clear
= image_tag "ajax-loader.gif", :id=>"wait_icon", :style=>"display:none"
/ Lorsque le filtre des années académiques est modifié
= observe_field 'constante_annee_academique',             |
  :url=>{:action=>"annee_mise_a_jour"},                   |
  :before => "Element.toggle('wait_icon')",               |
  :complete => "Element.toggle('wait_icon')",             |
  :with => "'id_annee_academique=' + escape(value)+       |
  '&id_annee_civile=' +$('constante_annee_civile').value" |
-#
/ Lorsque le filtre des années civiles est modifié
= observe_field 'constante_annee_civile',                                  |
  :url=>{:action=>"annee_mise_a_jour"},                                    |
  :before => "Element.toggle('wait_icon')",                                |
  :complete => "Element.toggle('wait_icon')",                              |
  :with => "'id_annee_academique=' +$('constante_annee_academique').value+ |
  '&id_annee_civile=' + escape(value)"                                     |
