%h1 New constante
- form_for(@constante) do |f|
  = f.error_messages
  %p
    = f.label :description
    %br
    = f.text_field :description
  %p
    = f.label :valeur
    %br
    = f.text_field :valeur
  / ...........................Annee Academique............................
  / Affiche la liste des années académiques
  %p
    Annee académique :
    = f.collection_select :annee_academique_id, @annees_academiques, :id, :annee
  / ...........................Annee Civile............................
  / Affiche la liste des années civile
  %p
    Annee civile :
    = f.collection_select :annee_civile_id, @annees_civiles, :id, :annee
  %p
    = f.submit "Create"
= link_to 'Back', constantes_path
