%p
  %b Description:
  = h @constante.description
%p
  %b Valeur:
  = h @constante.valeur
- ## S'il y a une année académique enregistrée pour cette constante
- if @constante.annee_academique != nil
  %p
    %b Annee academique:
    = h @constante.annee_academique.annee
- ## S'il y a une année civile enregistrée pour cette constante
- if @constante.annee_civile != nil
  %p
    %b Annee civile:
    = h @constante.annee_civile.annee
= link_to 'Edit', edit_constante_path(@constante)
|
= link_to 'Back', constantes_path
