%h1 Editing type_activite
- form_for(@type_activite) do |f|
  = f.error_messages
  %p
    = f.label :typeActivite
    %br
    = f.text_field :typeActivite
  %p
    = f.submit "Update"
= link_to 'Show', @type_activite
|
-#{link_to 'Back', type_activites_path}
