%h1 Listing type_activites
%table
  %tr
    %th Typeactivite
  - for type_activite in @type_activites
    %tr
      %td= h type_activite.typeActivite
      %td= link_to 'Show', type_activite
      %td= link_to 'Edit', edit_type_activite_path(type_activite)
      %td= link_to 'Destroy', type_activite, data: {:confirm => 'Are you sure?'}, :method => :delete
%br
= link_to 'New type_activite', new_type_activite_path
