%h1 New type_activite
- form_for(@type_activite) do |f|
  = f.error_messages
  %p
    = f.label :typeActivite
    %br
    = f.text_field :typeActivite
  %p
    = f.submit "Create"
= link_to 'Back', type_activites_path
