%h1 Editing unite_enseignement_orientation
- form_for(@unite_enseignement_orientation) do |f|
  = f.error_messages
  %p
    = f.submit 'Update'
= link_to 'Show', @unite_enseignement_orientation
|
-#{link_to 'Back', unite_enseignement_orientations_path}
