%h1 Listing unite_enseignement_orientations
%table
  %tr
  - @unite_enseignement_orientations.each do |unite_enseignement_orientation|
    %tr
      %td= link_to 'Show', unite_enseignement_orientation
      %td= link_to 'Edit', edit_unite_enseignement_orientation_path(unite_enseignement_orientation)
      %td= link_to 'Destroy', unite_enseignement_orientation, data: {:confirm => 'Are you sure?'}, :method => :delete
%br
= link_to 'New unite_enseignement_orientation', new_unite_enseignement_orientation_path
