%h1 Editing desiderata
- form_for(@desiderata) do |f|
  = f.error_messages
  %p
    = f.label :taux
    %br
    = f.text_field :taux
  %p
    = f.label :nbPeriode
    %br
    = f.text_field :nbPeriode
  %p
    = f.label :nbGroupe
    %br
    = f.text_field :nbGroupe
  %p
    = f.label :personne_id
    %br
    = f.text_field :personne_id
  %p
    = f.label :unite_enseignement_id
    %br
    = f.text_field :unite_enseignement_id
  %p
    = f.submit "Update"
= link_to 'Show', @desiderata
|
-#{link_to 'Back', desideratas_path}
