/
  \...........................................................................................
  Nom : index
  But : Cette page affiche tous les desiderata enregistré dans la base de données. L'affiche est
  réglable pas le biais de filtres.
  \............................................................................................
= set_onload_remote_function(:url=>{:action=>'initialisation_filtre'})
%h1 Visualisation de tous les desiderata
%table
  %tr
    %td{:style => "vertical-align: top"}
      /
        \...........................................................................................
        Partie des filtres
        \............................................................................................
      %table.cadreFiltre
        %a{:name => "menu"}
        %tr
          %td
            %b Filtre d'affichage :
        %tr
          / Affichage des filtres
          %td
            \---------------------- Filtre temporel ----------------------
            %br
            Année académique :
            %br
            = select "filtre", "annee", []
            %br
            #div_semestre
              Semestre :
              %br
              = select "filtre", "periode", @periodes.collect {|elt| [ elt.descriptif, elt.id ] }
              %br
            \--------------------- Filtre personne ---------------------
            %br
            Professeur :
            %br
            = select "filtre", "professeur", @professeurs.collect {|elt| [ elt.initiale.to_s + " (#{elt.prenom} #{elt.nom})", elt.id ] }
            %br
            Assistant :
            %br
            = select "filtre", "assistant", @assistants.collect {|elt| [ elt.initiale.to_s + " (#{elt.prenom} #{elt.nom})", elt.id ] }
            %br
            \---------------------- Filtre divers ----------------------
            %br
            Avertissement :
            %br
            = select "filtre", "conflit", ['Tous','Aucun avertissement','Avertissement : Trop de desiderata', 'Avertissement : Pas assez de desiderata']
            %br
            Type d'unité d'enseignement :
            %br
            = select "filtre", "type_unite", @types_unites.collect {|elt| [ elt.type_unite, elt.id ] }
            %br
            \------------------- Filtre enseignement -------------------
            %br
            Département :
            %br
            = select "filtre", "departement", @departements.collect {|elt| [ elt.abreviation, elt.id ] }
            %br
            Filière :
            %br
            = select "filtre", "filiere", @filieres.collect {|elt| [ elt.abreviation, elt.id ] }
            %br
            Orientation :
            %br
            = select "filtre", "orientation", @orientations.collect {|elt| [ elt.abreviation, elt.id ] }
            %br
            Unité d'enseignement :
            %br
            = select "filtre", "unite", @unites.collect {|elt| [ elt.abreviation, elt.id ] }
            %br
      / Lorsqu'un filtre a été modifié on appel la mise à jour de l'affichage
      = observe_field 'filtre_annee',                     |
        :url=>{:action=>"annee_mise_a_jour"},             |
        :with => "'id_annee_academique=' + escape(value)" |
      -#
      = observe_field 'filtre_departement',          |
        :url=>{:action=>"departement_mise_a_jour"},  |
        :with => "'id_departement=' + escape(value)" |
      -#
      = observe_field 'filtre_filiere',          |
        :url=>{:action=>"filiere_mise_a_jour"},  |
        :with => "'id_filiere=' + escape(value)" |
      -#
      = observe_field 'filtre_orientation',          |
        :url=>{:action=>"orientation_mise_a_jour"},  |
        :with => "'id_orientation=' + escape(value)" |
      -#
      = observe_field 'filtre_annee',                            |
        :url=>{:action=>"chargement"},                           |
        :with => "'filtre_annee=' + $('filtre_annee').value +    |
        '&filtre_periode=' + $('filtre_periode').value +         |
        '&filtre_professeur=' + $('filtre_professeur').value +   |
        '&filtre_assistant=' + $('filtre_assistant').value +     |
        '&filtre_unite=' + $('filtre_unite').value +             |
        '&filtre_departement=' + $('filtre_departement').value + |
        '&filtre_filiere=' + $('filtre_filiere').value +         |
        '&filtre_orientation=' + $('filtre_orientation').value + |
        '&filtre_conflit=' + $('filtre_conflit').value +         |
        '&filtre_type_unite=' + $('filtre_type_unite').value"    |
      -#
      = observe_field 'filtre_periode',                          |
        :url=>{:action=>"chargement"},                           |
        :with => "'filtre_annee=' + $('filtre_annee').value +    |
        '&filtre_periode=' + $('filtre_periode').value +         |
        '&filtre_professeur=' + $('filtre_professeur').value +   |
        '&filtre_assistant=' + $('filtre_assistant').value +     |
        '&filtre_unite=' + $('filtre_unite').value +             |
        '&filtre_departement=' + $('filtre_departement').value + |
        '&filtre_filiere=' + $('filtre_filiere').value +         |
        '&filtre_orientation=' + $('filtre_orientation').value + |
        '&filtre_conflit=' + $('filtre_conflit').value +         |
        '&filtre_type_unite=' + $('filtre_type_unite').value"    |
      -#
      = observe_field 'filtre_professeur',                       |
        :url=>{:action=>"chargement"},                           |
        :with => "'filtre_annee=' + $('filtre_annee').value +    |
        '&filtre_periode=' + $('filtre_periode').value +         |
        '&filtre_professeur=' + $('filtre_professeur').value +   |
        '&filtre_assistant=' + $('filtre_assistant').value +     |
        '&filtre_unite=' + $('filtre_unite').value +             |
        '&filtre_departement=' + $('filtre_departement').value + |
        '&filtre_filiere=' + $('filtre_filiere').value +         |
        '&filtre_orientation=' + $('filtre_orientation').value + |
        '&filtre_conflit=' + $('filtre_conflit').value +         |
        '&filtre_type_unite=' + $('filtre_type_unite').value"    |
      -#
      = observe_field 'filtre_assistant',                        |
        :url=>{:action=>"chargement"},                           |
        :with => "'filtre_annee=' + $('filtre_annee').value +    |
        '&filtre_periode=' + $('filtre_periode').value +         |
        '&filtre_professeur=' + $('filtre_professeur').value +   |
        '&filtre_assistant=' + $('filtre_assistant').value +     |
        '&filtre_unite=' + $('filtre_unite').value +             |
        '&filtre_departement=' + $('filtre_departement').value + |
        '&filtre_filiere=' + $('filtre_filiere').value +         |
        '&filtre_orientation=' + $('filtre_orientation').value + |
        '&filtre_conflit=' + $('filtre_conflit').value +         |
        '&filtre_type_unite=' + $('filtre_type_unite').value"    |
      -#
      = observe_field 'filtre_unite',                            |
        :url=>{:action=>"chargement"},                           |
        :with => "'filtre_annee=' + $('filtre_annee').value +    |
        '&filtre_periode=' + $('filtre_periode').value +         |
        '&filtre_professeur=' + $('filtre_professeur').value +   |
        '&filtre_assistant=' + $('filtre_assistant').value +     |
        '&filtre_departement=' + $('filtre_departement').value + |
        '&filtre_filiere=' + $('filtre_filiere').value +         |
        '&filtre_orientation=' + $('filtre_orientation').value + |
        '&filtre_unite=' + $('filtre_unite').value +             |
        '&filtre_conflit=' + $('filtre_conflit').value +         |
        '&filtre_type_unite=' + $('filtre_type_unite').value"    |
      -#
      = observe_field 'filtre_departement',                      |
        :url=>{:action=>"chargement"},                           |
        :with => "'filtre_annee=' + $('filtre_annee').value +    |
        '&filtre_periode=' + $('filtre_periode').value +         |
        '&filtre_professeur=' + $('filtre_professeur').value +   |
        '&filtre_assistant=' + $('filtre_assistant').value +     |
        '&filtre_departement=' + $('filtre_departement').value + |
        '&filtre_filiere=' + 'Toutes' +                          |
        '&filtre_orientation=' + 'Toutes' +                      |
        '&filtre_unite=' + 'Toutes' +                            |
        '&filtre_conflit=' + $('filtre_conflit').value +         |
        '&filtre_type_unite=' + $('filtre_type_unite').value"    |
      -#
      = observe_field 'filtre_filiere',                          |
        :url=>{:action=>"chargement"},                           |
        :with => "'filtre_annee=' + $('filtre_annee').value +    |
        '&filtre_periode=' + $('filtre_periode').value +         |
        '&filtre_professeur=' + $('filtre_professeur').value +   |
        '&filtre_assistant=' + $('filtre_assistant').value +     |
        '&filtre_departement=' + $('filtre_departement').value + |
        '&filtre_filiere=' + $('filtre_filiere').value +         |
        '&filtre_orientation=' + 'Toutes' +                      |
        '&filtre_unite=' + 'Toutes' +                            |
        '&filtre_conflit=' + $('filtre_conflit').value +         |
        '&filtre_type_unite=' + $('filtre_type_unite').value"    |
      -#
      = observe_field 'filtre_orientation',                      |
        :url=>{:action=>"chargement"},                           |
        :with => "'filtre_annee=' + $('filtre_annee').value +    |
        '&filtre_periode=' + $('filtre_periode').value +         |
        '&filtre_professeur=' + $('filtre_professeur').value +   |
        '&filtre_assistant=' + $('filtre_assistant').value +     |
        '&filtre_departement=' + $('filtre_departement').value + |
        '&filtre_filiere=' + $('filtre_filiere').value +         |
        '&filtre_orientation=' + $('filtre_orientation').value + |
        '&filtre_unite=' + 'Toutes' +                            |
        '&filtre_conflit=' + $('filtre_conflit').value +         |
        '&filtre_type_unite=' + $('filtre_type_unite').value"    |
      -#
      = observe_field 'filtre_conflit',                          |
        :url=>{:action=>"chargement"},                           |
        :with => "'filtre_annee=' + $('filtre_annee').value +    |
        '&filtre_periode=' + $('filtre_periode').value +         |
        '&filtre_professeur=' + $('filtre_professeur').value +   |
        '&filtre_assistant=' + $('filtre_assistant').value +     |
        '&filtre_unite=' + $('filtre_unite').value +             |
        '&filtre_departement=' + $('filtre_departement').value + |
        '&filtre_filiere=' + $('filtre_filiere').value +         |
        '&filtre_orientation=' + $('filtre_orientation').value + |
        '&filtre_conflit=' + $('filtre_conflit').value +         |
        '&filtre_type_unite=' + $('filtre_type_unite').value"    |
      -#
      = observe_field 'filtre_type_unite',                       |
        :url=>{:action=>"chargement"},                           |
        :with => "'filtre_annee=' + $('filtre_annee').value +    |
        '&filtre_periode=' + $('filtre_periode').value +         |
        '&filtre_professeur=' + $('filtre_professeur').value +   |
        '&filtre_assistant=' + $('filtre_assistant').value +     |
        '&filtre_unite=' + $('filtre_unite').value +             |
        '&filtre_departement=' + $('filtre_departement').value + |
        '&filtre_filiere=' + $('filtre_filiere').value +         |
        '&filtre_orientation=' + $('filtre_orientation').value + |
        '&filtre_conflit=' + $('filtre_conflit').value +         |
        '&filtre_type_unite=' + $('filtre_type_unite').value"    |
    %td{:style => "vertical-align: top"}
      %table
        %tr
          %td            
            /
              \...........................................................................................
              Partie d'informations
              \............................................................................................
            %table.cadreLegende
              %tr
                %td
                  %b Légende :
              %tr
                %td
                  = image_tag("./ok.png", :height => "20")
                  \: L'unité possède le bon nombre de desiderata
                  %br
                  = image_tag("./avertissement_pas_assez.png", :height => "20")
                  \: L'unité possède un nombre insuffisant de desiderata
                  %br
                  = image_tag("./avertissement_trop.png", :height => "20")
                  \: L'unité possède un nombre trop élevé de desiderata
                  %br
        %tr
          %td
            %table.cadreLegende
              %tr
                %td
                  %b Résumé :
              %tr
                %td
                  #resume_unites{:style => "max-height: 300px; overflow : auto"}
%table
  %tr
    %td
      /
        \...........................................................................................
        Partie d'affichage des unités d'enseignement
        \............................................................................................
      - numero_unite = 0
      - @liste_unites.each { |unite|
      %div{:id => "unite_#{unite.id}"}
        %table
          %tr
            %td
              %table
                %tr
                  %td
                    %a{:name => "unite_#{unite.id}"}
          %tr
            %td
              %table.cadreUnite
                %tr
                  %td
                    %b= h unite.abreviation
                    = "#{h unite.nom} - "
                    = link_to "retour filtre", :anchor => "menu"
      
                %tr.cadreInformationUnite
                  %td
                    Semestre
                    %br
                    Année
                    %br
                    Type
                    %br
                    Nombre de groupes
                    %br
                    - if unite.coursBloc
                      Total de périodes théoriques
                      %br
                      Total de périodes pratiques
                    - else
                      Nombre de périodes théoriques
                      %br
                      Nombre de périodes pratiques
                  %td
                    \: #{h unite.periode.descriptif}
                    %br
                    \: #{h unite.periode.annee_academique.annee}
                    %br
                    \: #{h unite.type_unite_enseignement.type_unite}
                    %br
                    \: #{h unite.nbGroupes}
                    %br
                    - if unite.coursBloc
                      \: #{h unite.nbPeriodesTheoriquesTotal}
                      %br
                      \: #{h unite.nbPeriodesPratiquesTotal}
                    - else
                      \: #{h unite.nbPeriodesTheoriquesSemaine}
                      %br
                      \: #{h unite.nbPeriodesPratiquesSemaine}
                  %td{:align => "right", :width => "300px"}
                    - if @unites_avertissement[numero_unite] == "Aucun"
                      = image_tag("./ok.png", :height => "40")
                    - elsif @unites_avertissement[numero_unite] == "PasAssez"
                      = image_tag("./avertissement_pas_assez.png", :height => "40")
                    - else
                      = image_tag("./avertissement_trop.png", :height => "40")
                / Affichage des desiderata de l'unité
                - if @unites_possedent_desiderata[numero_unite]
                  %tr.cadreTitreDesiderata
                    %td.espace200
                      %b Professeurs
                    %td.espace100
                      %b nombre de groupes
                    %td.espace100
                      %b taux théorique
                    %td.espace100
                      %b taux pratique
                    %td.espace250
                      %b Assistants
                  - @desideratas.each { |desiderata|
                  - if desiderata.unite_enseignement_id == unite.id
                    %tr.cadreDesiderata
                      %td.espace200
                        - @personnes.each { |personne|
                        - if desiderata.personne_id == personne.id
                          = h personne.prenom
                          = h personne.nom
                          (#{h personne.initiale})
                        - }
                      %td.espace100= h desiderata.nbGroupes
                      - if desiderata.tauxTheorique > 0
                        %td.espace100= h desiderata.tauxTheorique
                      - else
                        %td.espace100= h ""
                      - if desiderata.tauxPratique > 0
                        %td.espace100= h desiderata.tauxPratique
                      - else
                        %td.espace100= h ""
                      %td.espace250
                        - @lien_assistanat.each { |lien|
                        - if desiderata.id == lien.desiderata_id
                          - if lien.personne.type_personne_id == 5
                            = h lien.priorite
                            \. Orientation : #{h lien.personne.initiale}
                            %br
                          - else
                            = h lien.priorite
                            \. #{h lien.personne.prenom} #{h lien.personne.nom} (#{h lien.personne.initiale})
                            %br
                        - }
                  - }
                  %tr.cadreFinDesiderata
                    %td
      - numero_unite += 1
      - }
  %tr
    %td
= image_tag "ajax-loader.gif", :id=>"wait_icon", :style=>"display:none"
