%h1
  Desideratum de #{h @personne.prenom} #{h @personne.nom} (#{h @personne.initiale})
%p
  %b Taux Théorique:
  = h @desiderata.tauxTheorique
%p
  %b Taux Pratique:
  = h @desiderata.tauxPratique
%p
  %b Charges :
  %br
  Nombre de périodes de théorie : #{h @nombre_periodes_theoriques}
  %br
  Nombre d'heures de théorie : #{h @charge_theorique}
  %br
  Nombre de périodes de pratique : #{h @nombre_periodes_pratiques}
  %br
  Nombre d'heures de pratique : #{h @charge_pratique}
  %br
%p
  %b Nombre de groupes :
  = h @desiderata.nbGroupes
%p
  %b Unité enseignement :
  = h @desiderata.unite_enseignement.abreviation
%p
  %b Asistant(s) :
  %br
  - for lien in @liens_assistants_desideratas
    - if (lien.desiderata_id == @desiderata.id)
      - for assistant in @assistants
        - if (assistant.id == lien.personne_id )
          = h lien.priorite
          -#{h assistant.prenom} #{h assistant.nom} (#{h assistant.initiale})
          %br
%p
  %b Orientation(s) :
  %br
  - for lien in @liens_assistants_desideratas
    - if (lien.desiderata_id == @desiderata.id)
      - for orientation in @orientations
        - if (orientation.id == lien.personne_id )
          = h lien.priorite
          -#{h orientation.initiale}
          %br
= link_to 'Retour', :controller=>'personnes', :action=>'gestion_desideratas', :id=> @personne.id
