%h1 Editer un mois
- form_for(@moi) do |f|
  = f.error_messages
  %p
    = f.label :mois
    %br
    = f.text_field :mois
  %p
    = f.label :numero
    %br
    = f.text_field :num
  %p
    = f.label :nbJoursOuvrables
    %br
    = f.text_field :nbJoursOuvrables
  %p
    = f.label :nbHeuresCompensation
    %br
    = f.text_field :nbHeuresCompensation
  / ...........................Annee Civile............................
  / Affiche la liste des années civile
  %p
    Annee civile :
    -#{f.collection_select :annee_civile_id, @annees_civiles, :id, :annee}
  %p
    = f.submit "Update"
= link_to 'Show', @moi
|
-#{link_to 'Back', mois_path}
