%h1 Liste des mois
%table
  %tr
    %th Mois
    %th Nombre de jours ouvrables
    %th Nombre d'heures de compensation
    %th Annee civile
  - for moi in @mois
    %tr
      %td= h moi.mois
      %td= h moi.nbJoursOuvrables
      %td= h moi.nbHeuresCompensation
      %td= h moi.annee_civile.annee
      %td= link_to 'Visualiser', moi
      %td= link_to 'Modifier', edit_moi_path(moi)
      %td= link_to 'Effacer', moi, data: { :confirm => 'Etes-vous sur de vouloir supprimer cet enregistrement?' }, :method => :delete
%br
= link_to 'Ajouter un mois', new_moi_path
= link_to 'Menu principal', enseignement_path
