%p
  %b Mois:
  = h @moi.mois
%p
  %b Numéro:
  = h @moi.num  
%p
  %b Nbjoursouvrables:
  = h @moi.nbJoursOuvrables
%p
  %b Nbheurescompensation:
  = h @moi.nbHeuresCompensation
%p
  %b Annee civile:
  = h @moi.annee_civile.annee
= link_to 'Edit', edit_moi_path(@moi)
|
-#{link_to 'Back', mois_path}
