%h1 Listing competence_domaines
%table
  %tr
    %th Domaine
  - for competence_domaine in @competence_domaines
    %tr
      %td= h competence_domaine.domaine
      %td= link_to 'Show', competence_domaine
      %td= link_to 'Edit', edit_competence_domaine_path(competence_domaine)
      %td= link_to 'Destroy', competence_domaine, data: { :confirm => 'Are you sure?' }, :method => :delete
%br
= link_to 'New competence_domaine', new_competence_domaine_path
= link_to 'Menu principal', enseignement_path
