%h1 New competence_domaine
- form_for(@competence_domaine) do |f|
  = f.error_messages
  %p
    = f.label :domaine
    %br
    = f.text_field :domaine
  %p
    = f.submit "Create"
= link_to 'Back', competence_domaines_path
