= set_onload_remote_function(:url=>{:action=>'creation_orientation_draggable', :module_unite=> @module_unite}) 
%h1
  Modification du module #{h @module_unite.abreviation} (#{h @module_unite.texte})
%table
  %tr
    %td
      %h2 Informations sur le module
      .boiteOrientationInfo
        %p
          Abreviation :
          -#{text_field "module", "abreviation", :size=>'5', :value=>@module_unite.abreviation}
        %p
          Texte :
          -#{text_field "module", "texte", :size=>'35', :value=>@module_unite.texte}
        %p
          Année académique :
          -#{select "module", "annee_academique", @annees_academiques.collect {|elt| [ elt.annee, elt.id ] }}
  %tr
    %td
      %h2 Liens sur les orientations
      /
        \......................................................................................................
        Première boîte représentant toutes les orientations
        \.......................................................................................................
      #orientations_concernees.boiteOrientationDeplacable
        %p
          %b Orientations liées au module :
        - @orientations_concernees.each do |orientation|
          %span.cadre_orientations_concernees{:id => orientation}
            = orientation
            %br
      /
        \......................................................................................................
        Deuxième boîte représentant toutes les orientations
        \.......................................................................................................
      #orientations_non_concernees.boiteOrientationDeplacable
        %p
          %b Orientations non liées au modules :
        - @orientations_non_concernees.each do |orientation|
          %span.cadre_orientations_non_concernees{:id => orientation}
            = orientation
            %br
      .clear
      = image_tag "ajax-loader.gif", :id=>"wait_icon", :style=>"display:none"
  %tr
    %td
      = link_to "Modifier", :remote => true,                                                                                                   |
        :url=>{:action=>"enregistrer_module", :module_unite=> @module_unite.id},                                                               |
        :with=>"'orientations=' + Element.findChildren($('orientations_concernees'), null, false, 'span').map(function(elt){return elt.id;}) + |
        '&abreviation=' + $('module_abreviation').value +                                                                                      |
        '&texte=' +$('module_texte').value +                                                                                                   |
        '&annee_academique=' +$('module_annee_academique').value +                                                                             |
        '&creer=' + #{false} "                                                                                                                 |
      %br
      %br
      = link_to 'Visualisation', @module_unite
      | #{link_to 'Retour', module_unites_path}
/
  \......................................................................................................
  Permet le déplacement des orientations non concernées vers la zone des orientations concernées
  \.......................................................................................................
= drop_receiving_element "orientations_concernees",                                                                        |
  :url=>{:action=>"deplacement_orientation", :target=>"orientations_concernees", :class=>"cadre_orientations_concernees"}, |
  :before => "Element.toggle('wait_icon')",                                                                                |
  :complete => "Element.toggle('wait_icon')",                                                                              |
  :accept=>'cadre_orientations_non_concernees'                                                                             |
-#
/
  \......................................................................................................
  Permet le déplacement des orientations concernées vers la zone des orientations non concernées
  \.......................................................................................................
= drop_receiving_element "orientations_non_concernees",                                                                            |
  :url=>{:action=>"deplacement_orientation", :target=>"orientations_non_concernees", :class=>"cadre_orientations_non_concernees"}, |
  :before => "Element.toggle('wait_icon')",                                                                                        |
  :complete => "Element.toggle('wait_icon')",                                                                                      |
  :accept=>'cadre_orientations_non_concernees'                                                                                     |
-#
/ Lorsqu'un filtre a été modifié on appel la mise à jour de l'affichage
= observe_field 'module_annee_academique',                                                                                                           |
  :url=>{:action=>"annee_mise_a_jour"},                                                                                                              |
  :before => "Element.toggle('wait_icon')",                                                                                                          |
  :complete => "Element.toggle('wait_icon')",                                                                                                        |
  :with => "'id_annee_academique=' + escape(value) +                                                                                                 |
  '&orientations_non_concernees=' + Element.findChildren($('orientations_non_concernees'), null, false, 'span').map(function(elt){return elt.id;}) + |
  '&orientations_concernees=' + Element.findChildren($('orientations_concernees'), null, false, 'span').map(function(elt){return elt.id;})+          |
  '&id_module=' + #{@module_unite.id}+                                                                                                               |
  '&index=' + '#{false}'"                                                                                                                            |
