= set_onload_remote_function(:url=>{:action=>'annee_mise_a_jour', :id_annee_academique=> @annee_academique.id, :index=> "true"}) 
%h1 Liste des modules
%table
  %tr
    %td
      Sélection de l'année académique : #{select "module_unite", "annee_academique", @annees_academiques.collect {|elt| [ elt.annee, elt.id ] }}
  %tr
    %table
      \------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      %tr
        %td.espace100
          %b Abreviation
        %td.espace250
          %b Texte
  %tr
    %td
      - for module_unite in @module_unites
        %div{:id => "module_unite_#{module_unite.id}"}
          %table
            %tr
              %td.espace100= h module_unite.abreviation
              %td.espace250= h module_unite.texte
              %td
                %table
                  %tr.espace100
                    %td= link_to 'Visualiser', module_unite
                    %td= link_to 'Modifier', edit_module_unite_path(module_unite)
                    %td= link_to 'Effacer', module_unite, data: { :confirm => 'Etes-vous sûr de vouloir effacer ce module ? Cette suppression peut rendre des unités d\'enseignement orphelines' }, :method => :delete
    \------------------------------------------------------------------------------------------------------------------------------------------------------------------------
%br
= link_to 'Nouveau module', new_module_unite_path
= link_to 'Menu principal', enseignement_path
.clear
= image_tag "ajax-loader.gif", :id=>"wait_icon", :style=>"display:none"
/ Lorsque le filtre des années académiques est modifié
= observe_field 'module_unite_annee_academique',    |
  :url=>{:action=>"annee_mise_a_jour"},             |
  :before => "Element.toggle('wait_icon')",         |
  :complete => "Element.toggle('wait_icon')",       |
  :with => "'id_annee_academique=' + escape(value)+ |
  '&index=' + '#{true}'"                            |
