%h1
  Visualisation du module #{h @module_unite.abreviation} (#{h @module_unite.texte})
%h2 Informations sur le module
%p
  %b Abreviation :
  = h @module_unite.abreviation
%p
  %b Texte :
  = h @module_unite.texte
%p
  %b Année académique :
  = h @module_unite.annee_academique.annee
%h2 Liens sur les orientations
- for orientation in @orientations_concernees
  -#{orientation.abreviation} (#{orientation.texte})
  %br
%br
%br
= link_to 'Modification', edit_module_unite_path(@module_unite)
|
-#{link_to 'Retour', module_unites_path}
