- if @unite_enseignement && !@unite_enseignement.new_record?
  = "Actions sur #{@unite_enseignement.display_name_short}"
  = menu_item "Détails de l'unite", unite_enseignement_path(@unite_enseignement), :show, :unite_enseignements, can?(:show, @unite_enseignement), params
  = menu_item "Supprimer l'unite", unite_enseignement_path(@unite_enseignement), :destroy, :unite_enseignements, can?(:destroy, @unite_enseignement), params, :method => :delete, data: {:confirm => "Etes-vous sûr de vouloir supprimer l'unite #{@unite_enseignement.display_name_short}?"}
  = menu_item "Modifier l'unite", edit_unite_enseignement_path(@unite_enseignement), :edit, :unite_enseignements, can?(:edit, @unite_enseignement), params
  = menu_item "Charges associées à l'unité", charges_unite_enseignement_path(@unite_enseignement), :charges, :unite_enseignements, can?(:edit, @unite_enseignement), params
%br
%br
= "Actions globales sur les unités d'enseignement"
= menu_item "Liste des unités", unite_enseignements_path, :index, :unite_enseignements, can?(:read, :enseignement), params
= menu_item "Ajouter une unité", new_unite_enseignement_path, :new, :unite_enseignements, can?(:manage, :enseignement), params
%br