- if mode.eql?("new")
  = set_onload_remote_function(:url=>{:action=>'creation_orientation_draggable', :mode=>"new", :unite=> @unite_enseignement})
- else
  = set_onload_remote_function(:url=>{:action=>"annee_mise_a_jour"}, :with=>"'id_annee_academique=' + #{@annees_academiques.first.id} + '&id_unite=' + #{@unite_enseignement.id}+ '&index=' + '#{false}'")
= semantic_form_for(@unite_enseignement, :html => {:multipart => true}) do |f|
  = f.inputs do
    = f.input :reconductible, :label => "Cours actif ", :as => :boolean
    = f.input :assistanat_reconnu, :label => "Assistanat reconnu", :as => :boolean
    = f.input :abreviation, :label => "Abreviation ", :input_html => {:size => 10, :maxlength => 10} 
    = f.input :nom, :label => "Nom ", :input_html => {:size => 40, :maxlength => 40} 
    = f.input :texte, :label => "Commentaire éventuel ", :input_html => {:size => 40, :maxlength => 40}  
    = f.input :type_unite_enseignement, :label => "Type de l'enseignement ", :collection => @type_unite_enseignements, :label_method => :type_unite, :include_blank => " - Choisissez un type d'enseignement -"
    = f.input :periode,  :label => "Période d'enseignement", :collection => @periodes, :label_method => :descriptif, :include_blank => " - Choisissez une période -"
    = f.input :chargeExamen, :label => "Charge d'examen ", :input_html => {:size => 5, :maxlength => 5} 
    = f.input :personne, :label => "Responsable de l'unité ", :collection => @professeurs, :label_method => :initiale, :include_blank => " - Choisissez un professeur -"
    %ol.info
    %br
    = f.input :nbGroupesTh, :label => "Théorie - Nombre de groupes", :input_html => {:size => 5, :maxlength => 5} 
    = f.input :nbGroupesLab, :label => "Laboratoire - Nombre de groupes", :input_html => {:size => 5, :maxlength => 5}
    %ol.info
    %br
    = f.input :nbPeriodesTheoriquesSemaine, :label => "Charge théorique", :input_html => {:size => 5, :maxlength => 5}, :hint =>  "Périodes/semaine"
    = f.input :nbPeriodesPratiquesSemaine, :label => "Charge laboratoire", :input_html => {:size => 5, :maxlength => 5} , :hint =>  "Périodes/semaine"  
    %br
    = f.input :coursBloc, :label => "Cours bloc ", :as => :boolean
    = f.input :nbPeriodesTheoriquesTotal, :label => "Théorie - Total périodes", :input_html => {:size => 5, :maxlength => 5}, :hint =>  "Pour cours bloc seulement"
    = f.input :nbPeriodesPratiquesTotal, :label => "Laboratoire - Total périodes", :input_html => {:size => 5, :maxlength => 5}, :hint =>  "Pour cours bloc seulement" 
    %ol.info
 
    %table
      %tr
        %td
          %h2 Liens sur les orientations
          /
            \......................................................................................................
            Première boîte représentant les orientations rattachées à l'unité
            \.......................................................................................................
          #orientations_concernees.boiteOrientationDeplacable
            %p
              %b Orientations rattachées à l'unité:
            - @orientations_concernees.each do |orientation|
              %span.cadre_orientations_concernees{:id => orientation}
                = orientation
                %br
          /
            \......................................................................................................
            Deuxième boîte représentant les orientations non rattachées
            \.......................................................................................................
          #orientations_non_concernees.boiteOrientationDeplacable
            %p
              %b Autres orientations disponibles:
            - @orientations_non_concernees.each do |orientation|
              %span.cadre_orientations_non_concernees{:id => orientation}
                = orientation
                %br
          .clear
          = image_tag "ajax-loader.gif", :id=>"wait_icon", :style=>"display:none"
  

  -#  \......................................................................................................
  -#  Permet le déplacement de la première boîte à la deuxième
  -#  \.......................................................................................................
  = drop_receiving_element "orientations_non_concernees",                                                                            |
    :url=>{:action=>"deplacement_orientation", :target=>"orientations_non_concernees", :class=>"cadre_orientations_non_concernees"}, |
    :before => "Element.toggle('wait_icon')",                                                                                        |
    :complete => "Element.toggle('wait_icon')",                                                                                      |
    :accept=>'cadre_orientations_concernees'                                                                                         |
  -#  \......................................................................................................
  -#  Permet le déplacement de la deuxième boîte à la première
  -#  \.......................................................................................................
  = drop_receiving_element "orientations_concernees",                                                                            |
    :url=>{:action=>"deplacement_orientation", :target=>"orientations_concernees", :class=>"cadre_orientations_concernees"}, |
    :before => "Element.toggle('wait_icon')",                                                                                        |
    :complete => "Element.toggle('wait_icon')",                                                                                      |
    :accept=>'cadre_orientations_non_concernees'                                                                                         |
  -#/
  -#  \......................................................................................................
  -#  Permet de mettre à jour le champ des périodes en fonction de l'année choisie ainsi que la liste des orientations
  -#  \.......................................................................................................
  #result_validation
  = observe_field 'unite_annee_academique',                                                                                                            |
    :url=>{:action=>"annee_mise_a_jour"},                                                                                                              |
    :before => "Element.toggle('wait_icon')",                                                                                                          |
    :complete => "Element.toggle('wait_icon')",                                                                                                        |
    :with => "'id_annee_academique=' + escape(value) +                                                                                                 |
    '&orientations_non_concernees=' + Element.findChildren($('orientations_non_concernees'), null, false, 'span').map(function(elt){return elt.id;}) + |
      '&orientations_concernees=' + Element.findChildren($('orientations_concernees'), null, false, 'span').map(function(elt){return elt.id;}) +       |
      '&id_unite=' + #{@unite_enseignement.id}+                                                                                                        |
    '&index=' + '#{false}'"                                                                                                                            |
  %br
  %ol.info
  %br  
  = f.buttons do
    = f.commit_button "Valider" 
    | #{link_to 'Retour', unite_enseignements_path}