%ol.info
  - if typeGroupe.eql?('T')
    - tabGroupes=@tabGroupesTheorie
    - if @unite_enseignement.taux_charge_theorie_OK?
      = show_image("Prise en charge à 100%", "ok.png", "32x32" )
    - else
      = show_image("Prise en charge à 100%", "echec_icone.gif", "32x32" )
  - else
    - tabGroupes=@tabGroupesLab
    - if @unite_enseignement.taux_charge_labo_OK?
      = show_image("Prise en charge à 100%", "ok.png", "32x32" )
    - else
      = show_image("Prise en charge à 100%", "echec_icone.gif", "32x32" )
  - tabGroupes.each do |noGroupe|
    %br
    %h4= "Groupe #{noGroupe}"
    - if !noGroupe.eql?('A')
      = link_to image_tag('report_up_small.png'), up_groupe_unite_enseignement_path(@unite_enseignement, :groupe => noGroupe, :type_groupe => typeGroupe)
    %table
      %tr
        %th{:style => "text-align:left; width: 90px"}="Enseignement"
        %th{:style => "text-align:left; width: 40px"}="Taux"
        %th{:style => "text-align:left; width: 40px"}="Heures"
        %th{:style => "text-align:left; width: 90px"}="Assistanat"
        %th{:style => "text-align:left; width: 40px"}="Taux"
        %th{:style => "text-align:left; width: 40px"}="Heures"
        %th{:style => "text-align:left; width: 40px"}
        %th{:style => "text-align:left; width: 40px"}
      %tr
        %td
          =link_to image_tag('report_add_small.png'), nouvelle_charge_unite_enseignement_path(@unite_enseignement, :groupe => noGroupe, :type_groupe => typeGroupe, :mode=>'enseignement')
        %td="#{@unite_enseignement.taux_charge_pour_groupe(noGroupe, 'enseignement', typeGroupe)}%"
        %td="#{@unite_enseignement.heures_charge_pour_groupe(noGroupe, 'enseignement', typeGroupe)}"
        %td
          =link_to image_tag('report_add_small.png'), nouvelle_charge_unite_enseignement_path(@unite_enseignement, :groupe => noGroupe, :type_groupe => typeGroupe, :mode=>'assistanat')
        %td="#{@unite_enseignement.taux_charge_pour_groupe(noGroupe, 'assistanat', typeGroupe)}%"
        %td="#{@unite_enseignement.heures_charge_pour_groupe(noGroupe, 'assistanat', typeGroupe)}"
      - @unite_enseignement.charges_associees_pour_groupe(noGroupe, 'enseignement', typeGroupe).each do |charge|
        %tr
          %td= h charge.personne.initiale
          %td= h charge.taux
          %td= h charge.heures
          %td= h "-"
          %td= h "-"
          %td= h "-"
          %td= link_to image_tag('report_edit_small.png'), edit_charge_unite_enseignement_path(@unite_enseignement, :charge_id => charge.id, :mode=>'enseignement')
          %td= link_to image_tag('destroy_small.png'), destroy_charge_unite_enseignement_path(@unite_enseignement, :charge_id => charge.id, :mode=>'enseignement'), data: {:confirm => 'Suppression de la charge - Etes-vous sûr?'}
      - @unite_enseignement.charges_associees_pour_groupe(noGroupe, 'assistanat', typeGroupe).each do |charge|
        %tr
          %td= h "-"
          %td= h "-"
          %td= h "-"
          %td= h charge.personne.initiale
          %td= h charge.taux
          %td= h charge.heures
          %td= link_to image_tag('report_edit_small.png'), edit_charge_unite_enseignement_path(@unite_enseignement, :charge_id => charge.id, :mode=>'assistanat')
          %td= link_to image_tag('destroy_small.png'), destroy_charge_unite_enseignement_path(@unite_enseignement, :charge_id => charge.id, :mode=>'assistanat'), data: {:confirm => 'Suppression de la charge - Etes-vous sûr?'}
    %br