- row = 0
%table{:class => "liste_ue"}      
  %tr
    %th{:style => "text-align:left; width: 80px"} Sigle
    %th{:style => "text-align:left; width: 90px"} Orientations
    %th{:style => "text-align:left; width: 25px"} Th
    %th{:style => "text-align:left; width: 25px"} Lab
    %th{:style => "text-align:center; width: 30px"} Option
    %th{:style => "text-align:center; width: 30px"} Master
    %th{:style => "text-align:center; width: 50px"} Grp Th
    %th{:style => "text-align:center; width: 50px"} Grp Lab
    %th{:style => "text-align:left; width: 70px"} Période
    %th{:style => "text-align:center; width: 50px"} Examen
    %th{:style => "text-align:center; width: 50px"} Assistanat
    %th{:style => "text-align:left; width: 25px"} 
    %th{:style => "text-align:left; width: 25px"} 
    %th{:style => "text-align:left; width: 25px"} 
  - for unite_enseignement in unite_enseignements
    %div{:id => "unite_enseignement_#{unite_enseignement.id}"}
      - row += 1
      %tr{:style => (row % 2 == 0) ? "background-color:#DDDDDD" : "background-color:#C2D0DA"}
        - if unite_enseignement.reconductible
          %td{:class =>"sigle"}= link_to unite_enseignement.abreviation, unite_enseignement_path(unite_enseignement)
        - else 
          %td{:class =>"sigle", :style => "color: #1060F0; background-color: #00CCCC"  }= link_to unite_enseignement.abreviation, unite_enseignement_path(unite_enseignement)
        %td= h unite_enseignement.texte_orientations_concernees
        %td{:style => "text-align:center"}= h unite_enseignement.nbPeriodesTheoriquesSemaine
        %td{:style => "text-align:center"}= h unite_enseignement.nbPeriodesPratiquesSemaine
        - if unite_enseignement.isOption?
          %td{:style => "text-align:center"}= h "O"
        - else
          %td{:style => "text-align:center"}= h ""
        - if unite_enseignement.isMaster?
          %td{:style => "text-align:center"}= h "M"
        - else
          %td{:style => "text-align:center"}= h ""
        %td{:style => "text-align:center"}= h unite_enseignement.nbGroupesTh
        %td{:style => "text-align:center"}= h unite_enseignement.nbGroupesLab
        %td{:style => "text-align:center"}= h unite_enseignement.periode.idPeriode
        %td{:style => "text-align:center"}= h unite_enseignement.chargeExamen
        - if !unite_enseignement.assistanat_reconnu
          %td{:style => "text-align:center;color: #1060F0; background-color: #00CCCC"}= "supprimé"
        - else
          %td{:style => "text-align:center"}= h ""            
        %td
          %table
            %tr
              - if can? :manage, :enseignement
                %td{:style => "background-color:#FFFFFF"}= link_to image_tag('report_edit_small.png'), edit_unite_enseignement_path(unite_enseignement)
                %td{:style => "background-color:#FFFFFF"}= link_to image_tag('supprimer_small_2.png'), unite_enseignement, data: {:confirm => 'Etes-vous sûr de vouloir effacer cette unité d\'enseignement ?'},   :method => :delete
                %td{:style => "background-color:#FFFFFF"}= link_to 'Charges', charges_unite_enseignement_path(unite_enseignement)
  %tr
%br
.clear
= image_tag "ajax-loader.gif", :id=>"wait_icon", :style=>"display:none"
