- content_for :left_menu do
  = render :partial => 'actions'
.header_02= "Charges de l'unité d'enseignement #{@unite_enseignement.abreviation}"

%br
%ol.info
  - if !@unite_enseignement.reconductible
    = show_image("Unité active", "no_big_icone.png", "16x16" )
  %table
    %tr
      %th{:style => "text-align:left; width: 150px"}=""
      %th{:style => "text-align:left; width: 50px"}=""
      %th{:style => "text-align:left; width: 30px"}=""
    %tr
      %td{:style => "font-weight: bold; font-size: 14px; text-align:left"}= "Assistanat reconnu"
      %td
        - if @unite_enseignement.assistanat_reconnu
          = image_tag("ok.png")
        - else
          = image_tag("no_big_icone.png")
      %td= link_to image_tag('change_medium_icone.png'), change_assistanat_reconnu_unite_enseignement_path(@unite_enseignement)
  %br
  %h4= "Nombre de groupes"
  %table
    %tr
      %th{:style => "text-align:left; width: 130px"}=""
      %th{:style => "text-align:left; width: 10px"}=""
      %th{:style => "text-align:left; width: 10px"}=""
      %th{:style => "text-align:left; width: 100px"}=""
      %th{:style => "text-align:left; width: 120px"}=""
      %th{:style => "text-align:left; width: 10px"}=""
      %th{:style => "text-align:left; width: 10px"}=""
    %tr
      %td{:style => "font-weight: bold; font-size: 13px; text-align:left"}= "Théorie: #{@unite_enseignement.nbGroupesTh.to_s} groupe(s)"
      %td= link_to image_tag('plus_medium_icone.png'), inc_groupes_th_unite_enseignement_path(@unite_enseignement)
      - if @unite_enseignement.nbGroupesTh >= 1
        %td= link_to image_tag('minus_medium_icone.png'), dec_groupes_th_unite_enseignement_path(@unite_enseignement)
      - else
        %td= ""
      %td=""
      %td{:style => "font-weight: bold; font-size: 13px; text-align:left"}= "Labo: #{@unite_enseignement.nbGroupesLab.to_s} groupe(s)"
      %td= link_to image_tag('plus_medium_icone.png'), inc_groupes_labo_unite_enseignement_path(@unite_enseignement)
      - if @unite_enseignement.nbGroupesLab >= 1
        %td= link_to image_tag('minus_medium_icone.png'), dec_groupes_labo_unite_enseignement_path(@unite_enseignement) 
      - else
        %td= ""
  %br
  %h4= "Dotation #{@unite_enseignement.nbPeriodesTheoriquesSemaine.to_s} - #{@unite_enseignement.nbPeriodesPratiquesSemaine.to_s}"
  - if @unite_enseignement.coursBloc
    = show_image("Cours bloc", "ok.png", "16x16" )
    %br
    %h4 Charge totale en périodes 
    = show_value "Théorie", @unite_enseignement.nbPeriodesTheoriquesTotal
    = show_value "Labo", @unite_enseignement.nbPeriodesPratiquesTotal
%br
%br
.header_02= "Théorie"
= render :partial => 'liste_charges', :locals => {:typeGroupe=>'T'}
%br
%br
.header_02= "Laboratoire"
= render :partial => 'liste_charges', :locals => {:typeGroupe=>'L'}
