- content_for :left_menu do
  = render :partial => 'actions'
%h1= "Modifier charge d'#{@mode}"
.header_02= "#{@unite_enseignement.display_name_short} - Groupe #{@numero_groupe}"
%br
= semantic_form_for(@charge, :url=>update_charge_unite_enseignement_path(@unite_enseignement, @charge, :charge_id => @charge.id, :mode=>@mode)) do |f|
  = f.inputs do 
    %br
    %br
    = f.hidden_field :numGroupe, :value => @numero_groupe
    = f.hidden_field :typeGroupe, :value => @type_groupe  
    = f.input :personne, :label => "Pour la personne", :collection => @personnes_possibles, :label_method => :initiale, :include_blank => " - Choisissez une personne -", :hint => "Sélectionner une personne parmi les personnes actives"
    - if @mode.eql?("assistanat")
      = f.input :priorite, :label => "Priorité", :input_html => {:size => 1, :maxlength => 1}, :hint => "Saisir une priorité valant 1 ou 2"
    = f.input :taux, :label => "Taux de charge (%)", :input_html => {:size => 10, :maxlength => 10}, :hint => "Une valeur réelle est possible"
    = f.input :heures, :label => "Charges en heures", :input_html => {:size => 10, :maxlength => 10}, :hint => "Si le taux n'est pas signalé"
  = f.buttons do
    = f.commit_button "Valider"