- content_for :left_menu do
  = render :partial => 'actions'
%h1= "Modifier l'unité d'enseignement #{@unite_enseignement.display_name_short}"
%br
= render :partial => "form", :locals => {:mode=>"edit"}