- content_for :left_menu do
  - if @comes_from && @comes_from=='charges'
    = render :partial => 'charges/actions' 
  - else
    = render :partial => 'unite_enseignements/actions' 
%br
%h1 Unités d'enseignement
%br
= render(:partial => 'liste_unites', :locals => {:unite_enseignements => @unite_enseignements_actives})
%br
%h1 Unités d'enseignement archivées
%br
= render(:partial => 'liste_unites', :locals => {:unite_enseignements => @unite_enseignements_inactives}) 

