- content_for :left_menu do
  = render :partial => 'actions'
.header_02= "#{@unite_enseignement.nom} (#{@unite_enseignement.abreviation})"
%br
%ol.info
  - if @unite_enseignement.reconductible
    = show_image("Unité active", "ok.png", "16x16" )
  - else
    = show_image("Unité active", "inactif.png", "16x16" )
  - if @unite_enseignement.assistanat_reconnu
    = show_image("Assistanat reconnu", "ok.png", "16x16" )
  - else
    = show_image("Assistanat reconnu", "inactif.png", "16x16" ) 
  = show_value "Nom", @unite_enseignement.nom
  = show_value "Commentaire", @unite_enseignement.texte

  = show_value "Période", @unite_enseignement.periode.descriptif

  = show_value "Type", @unite_enseignement.type_unite_enseignement.type_unite

  = show_value "Orientations", @unite_enseignement.texte_orientations_concernees

  = show_value "Superviseur", @unite_enseignement.personne.initiale

  = show_value "Charge d'examen", @unite_enseignement.chargeExamen
  %br
  %br
  %h3 Dotation
  = show_value "Théorie", @unite_enseignement.nbPeriodesTheoriquesSemaine
  = show_value "Labo", @unite_enseignement.nbPeriodesPratiquesSemaine
  - if @unite_enseignement.coursBloc
    = show_image("Cours bloc", "ok.png", "16x16" )
    %br
    %h3 Charge totale en périodes (si cours bloc)
    = show_value "Théorie", @unite_enseignement.nbPeriodesTheoriquesTotal
    = show_value "Labo", @unite_enseignement.nbPeriodesPratiquesTotal
    %br
  - else
    = show_image("Cours bloc", "inactif.png", "16x16" )
  %br
  %h3 Nombre de groupes
  = show_value "Théorie - Nombre de groupes", @unite_enseignement.nbGroupesTh
  = show_value "Labo - Nombre de groupes", @unite_enseignement.nbGroupesLab
  %br


