%h1 Listing suivis
%table
  %tr
    %th Nbheures
    %th Type activité
    %th Mois
    %th Projet
    %th Personne
  - for suivi in @suivis
    %tr
      %td= h suivi.nbHeures
      %td= h suivi.type_activite.typeActivite
      %td
        = h suivi.moi.mois
        = h suivi.moi.annee_civile.annee
      %td= h suivi.projet.nomOutlook
      %td= h suivi.personne.initiale
      %td= link_to 'Show', suivi
      %td= link_to 'Edit', edit_suivi_path(suivi)
      %td= link_to 'Destroy', suivi, data: {:confirm => 'Are you sure?'}, :method => :delete
%br
= link_to 'New suivi', new_suivi_path
= link_to 'Menu principal', enseignement_path
