%h1 New suivi
- form_for(@suivi) do |f|
  = f.error_messages
  %p
    = f.label :nbHeures
    %br
    = f.text_field :nbHeures
  %p
    Activité :
    -#{f.collection_select :type_activite_id, @activites, :id, :typeActivite}
  %p
    Mois :
    -#{f.collection_select :moi_id, @mois, :id, :mois}
  %p
    Projet :
    -#{f.collection_select :projet_id, @projets, :id, :nomOutlook}
  %p
    Personne :
    -#{f.collection_select :personne_id, @personnes, :id, :initiale}
  %p
    = f.submit "Create"
= link_to 'Back', suivis_path
