%p
  %b Nbheures:
  = h @suivi.nbHeures
%p
  %b Type activité:
  = h @suivi.type_activite.typeActivite
%p
  %b Mois:
  = h @suivi.moi.mois
  = h @suivi.moi.annee_civile.annee
%p
  %b Projet:
  = h @suivi.projet.nomOutlook
%p
  %b Personne:
  = h @suivi.personne.initiale
  \- (#{h @suivi.personne.prenom} #{h @suivi.personne.nom})
= link_to 'Edit', edit_suivi_path(@suivi)
|
-#{link_to 'Back', suivis_path}
