- if @type_engagement && !@type_engagement.new_record?
  = "Actions sur le type d'engagement #{@type_engagement.sigle}"
  = menu_item "Supprimer le type", type_engagement_path(@type_engagement), :destroy, :type_engagements, can?(:destroy, @type_engagement), params, :method => :delete, data: {:confirm => "Etes-vous sûr ?"}
%br
= "Actions globales sur les types d'engagements"
= menu_item "Liste des types", type_engagements_path, :index, :type_engagements, can?(:read, TypeEngagement), params
= menu_item "Ajouter un type ", new_type_engagement_path, :new, :type_engagements, can?(:create, TypeEngagement), params
%br