= semantic_form_for(@type_engagement) do |f|
  - type_engagement = f.object
  = f.inputs do
    = f.input :sigle, :label => "Sigle du type d'engagement", :input_html => {:size => 10, :maxlength => 10} , :hint => "Identifiant utilisé dans le code de l'applicatif"
    = f.input :libelle, :label => "Libellé", :input_html => {:size => 10, :maxlength => 10} , :hint => "Utilisé pour l'affichage des types d'engagements"
    = f.input :prc_RD, :label => "Pourcentage R&D", :input_html => {:size => 10, :maxlength => 10} 

  = f.buttons do
    = f.commit_button "Valider"