%ol.info
  %table
    %tr
      %th{:style => "text-align:left; width: 90px"}="Sigle"
      %th{:style => "text-align:left; width: 90px"}="Libellé"
      %th{:style => "text-align:left; width: 90px"}="% R&D"
    - @type_engagements.each do |type_engagement|
      %tr
        %td= h type_engagement.sigle
        %td= h type_engagement.libelle
        %td= h type_engagement.prc_RD.to_i
        %td= link_to image_tag('report_edit_small.png'), edit_type_engagement_path(type_engagement)
  %br
