- content_for :left_menu do
  = render :partial => 'actions'
%h1= "Types d'engagements"
%br
- if @type_engagements.count == 0
  = "Aucun type d'engagement pour le moment"
= render :partial => "liste_types"

