%h1 Liste des événements concernant les personnes
%table
  %tr
    %th Texte
    %th Type evenement personne
  - for evenement_personne in @evenement_personnes
    %tr
      %td= h evenement_personne.texte
      %td= h evenement_personne.type_evenement_personne.type_evenement
      %td= link_to 'Show', evenement_personne
      %td= link_to 'Edit', edit_evenement_personne_path(evenement_personne)
      %td= link_to 'Destroy', evenement_personne, data: { :confirm => 'Are you sure?' }, :method => :delete
%br
= link_to 'New evenement_personne', new_evenement_personne_path
= link_to 'Menu principal', enseignement_path
