%h1 New evenement_personne
- form_for(@evenement_personne) do |f|
  = f.error_messages
  %p
    = f.label :texte
    %br
    = f.text_field :texte
  %p
    = f.label :type_evenement_personne_id
    %br
    = f.text_field :type_evenement_personne_id
  %p
    = f.submit "Create"
= link_to 'Back', evenement_personnes_path
