%p
  %b Texte:
  = h @evenement_personne.texte
%p
  %b Type evenement personne:
  = h @evenement_personne.type_evenement_personne_id
= link_to 'Edit', edit_evenement_personne_path(@evenement_personne)
|
-#{link_to 'Back', evenement_personnes_path}
