%ol.info
  .header_02= "Calendrier académique #{annee_civile}" 
  .header_04= "Jours fériés" 
  - premier_janvier= Date.new(annee_civile, 01, 01)
  - trente_et_un_decembre= Date.new(annee_civile, 12, 31)
  %table
    - jours_speciaux = JourAcademique.feries_entre_deux_dates(premier_janvier, trente_et_un_decembre)
    - jours_speciaux.each do |jour_special|
      %tr
        %td{:style => "text-align:left; width: 90px; padding-left: 20px"}= "#{jour_special.date.day} #{Moi.display_name(jour_special.date.month)}"
        - if jour_special.descriptif
          %td{:style => "text-align:left; width: 120px"}=jour_special.descriptif.force_encoding("UTF-8")
        - else
          %td{:style => "text-align:left; width: 120px"}=""     
        %td{:style => "text-align:left; width: 90px"}=jour_special.periode
  %br
  - jours_speciaux = JourAcademique.compenses_entre_deux_dates(premier_janvier, trente_et_un_decembre)
  - if jours_speciaux.count > 0
    .header_04= "Ponts"
    %table
      - jours_speciaux.each do |jour_special|
        %tr
          %td{:style => "text-align:left; width: 90px; padding-left: 20px"}= "#{jour_special.date.day} #{Moi.display_name(jour_special.  date.month)}"
          - if jour_special.descriptif
            %td{:style => "text-align:left; width: 120px"}=jour_special.descriptif.force_encoding("UTF-8")
          - else
            %td{:style => "text-align:left; width: 120px"}=""         
          %td{:style => "text-align:left; width: 90px"}=jour_special.periode
    %br


