%br
- plages = Array.new
- tableau_des_heures[:plages].each do |plage|
  - if plage[:no_plage] >= min_plage && plage[:no_plage] <= max_plage
    - plages << plage
-# Si affichage réalisé sur plusieurs tableaux (nombre trop grand de plages)
-# On peut démarrer avec un no de plage supérieur à 1 (min_plage > 1)
-# La plage à afficher en position x sera égale à x + "plage_offset"
- plage_offset = min_plage - 1 
- totaux=tableau_des_heures[:totaux]
- projets=tableau_des_heures[:projets]
- absences=tableau_des_heures[:absences]
- liste_projets = projets[:detail]
- liste_absences = absences[:detail]
- nombre_de_plages = plages.size
- nombre_de_mois = 0
- plages.each do |plage|
  - nombre_de_mois += plage[:mois].size
- if nombre_de_mois > 12
  - largeur_colonne = 42
- else
  - largeur_colonne = 44
%ol.info
  -# TABLE POUR NO DE PLAGES
  %table{:class => "table_pc_no_plages", :width=> 100, :style =>"table-layout:fixed"}
    %col{:width => 110}
    - plages.each do |plage|
      - plage[:mois].each do
        %col{:width => largeur_colonne}
    %col{:width => 50}
    -# Entêtes des no de plage
    %tr
      - row = 0
      - no_plage= min_plage - 1
      %th{:class => "head_plage"}= "Plages"
      - plages.each do |plage|
        - no_plage+= 1
        - index_mois=0
        - plage[:mois].each do |mois|
          - if index_mois==0
            %th{:class => "no_plage", :style => cell_color_entete_plages(no_plage)}= h "#{no_plage}"
          - else
            %th{:class => "no_plage", :style => cell_color_entete_plages(no_plage)}= ""
          - index_mois +=1
      %th{:class => "col_last"}= ""
  -# TABLE 
  %table{:class => "table_pc", :width=> 100, :style =>"table-layout:fixed"}
    %col{:width => 110}
    - plages.each do |plage|
      - plage[:mois].each do
        %col{:width => largeur_colonne}
    %col{:width => 50}
    - row= 0
    -# Entêtes des mois
    %tr
      - row += 1
      - no_plage= 0
      %th{:class => "col_first"}
      - plages.each do |plage|
        - no_plage+= 1
        - plage[:mois].each do |mois|
          %th{:class => "nom_mois", :style => cell_color(row, no_plage, plage[:%])}= h Moi.display_name(mois.no_mois)
      %th{:class => "col_last"}= "Total"
    -# LISTE DES PROJETS
    - liste_projets.each do |projet|
      %tr
        - row += 1
        - no_plage = 0
        %td{:class => "col_first"}= projet[:nom]
        - plages.each do |plage|
          - no_plage+= 1
          - index = 0
          - plage[:mois].each do |mois|
            %td{:class => "col_x", :style => cell_color(row, no_plage, plage[:%])}= h heure_en_format_heures_minutes_vx(projet[:heures][no_plage-1+plage_offset][index])
            - index += 1
        %td{:class => "col_last"}= heure_en_format_heures_minutes_vx(projet[:total])
    -# SEPARATEUR
    %tr
      - row += 1
      - no_plage = 0
      %td{:class => "col_first"}= ""
      - plages.each do |plage|
        - no_plage+= 1
        - index = 0
        - plage[:mois].each do |mois|
          %td{:class => "col_x", :style => cell_color(row, no_plage, plage[:%])}= ""
          - index += 1
      %td{:class => "col_last"}= "" 
    -# TOTAL DES PROJETS
    %tr
      - row += 1
      - no_plage= 0
      %td{:class => "col_first_bold"}= "Total projets"
      - plages.each do |plage|
        - no_plage+= 1
        - plage[:mois].each do |mois|
          %td{:class => "col_x_bold", :style => cell_color(row, no_plage, plage[:%])}= h heure_en_format_heures_minutes_vx(mois.total_projets, true)
      %td{:class => "col_last"}= heure_en_format_heures_minutes_vx(projets[:total_global], true)
%br
%ol.info
  %table{:class => "table_pc", :width=> 100, :style =>"table-layout:fixed"}
    %col{:width => 110}
    - plages.each do |plage|
      - plage[:mois].each do
        %col{:width => largeur_colonne} 
    %col{:width => 50}
    - row = 0
    %tr
      - row += 1
      - no_plage= 0
      %th{:class => "col_first"}
      - plages.each do |plage|
        - no_plage+= 1
        - plage[:mois].each do |mois|
          %th{:class => "nom_mois", :style => cell_color(row, no_plage, plage[:%])}= h Moi.display_name(mois.no_mois)
      %th{:class => "col_last"}= "Total"
    -# LISTE DES ABSENCES 
    - liste_absences.each do |projet_absence|
      %tr
        - row += 1
        - no_plage = 0
        %td{:class => "col_first"}= projet_absence[:nom]
        - plages.each do |plage|
          - no_plage+= 1
          - index = 0
          - plage[:mois].each do |mois|
            %td{:class => "col_x", :style => cell_color(row, no_plage, plage[:%])}= h heure_en_format_heures_minutes_vx(projet_absence[:heures][no_plage-1+plage_offset][index])
            - index += 1
        %td{:class => "col_last"}= heure_en_format_heures_minutes_vx(projet_absence[:total])   
    -# LISTE DES PONTS 
    - if Configuration.afficher_heures_a_compenser?
      %tr
        - row += 1
        - no_plage = 0
        - total_ponts_en_heures = 0
        %td{:class => "col_first_ponts"}= "Ponts potentiels"
        - plages.each do |plage|
          - no_plage+= 1
          - index = 0
          - plage[:mois].each do |mois|
            - valeur_du_pont_en_heures = mois.jp*plage[:hj]
            - total_ponts_en_heures += valeur_du_pont_en_heures
            %td{:class => "col_x_ponts", :style => cell_color(row, no_plage, plage[:%])}= h heure_en_format_heures_minutes_vx(  valeur_du_pont_en_heures)
            - index += 1
        %td{:class => "col_last_ponts"}= heure_en_format_heures_minutes_vx(total_ponts_en_heures)      
    -# SEPARATEUR
    %tr
      - row += 1
      - no_plage = 0
      %td{:class => "col_first"}= ""
      - plages.each do |plage|
        - no_plage+= 1
        - index = 0
        - plage[:mois].each do |mois|
          %td{:class => "col_x", :style => cell_color(row, no_plage, plage[:%])}= ""
          - index += 1
      %td{:class => "col_last"}= "" 
    -# TOTAL DES ABSENCES
    %tr
      - row += 1
      - no_plage= 0
      %td{:class => "col_first_bold"}= "Total absences"
      - plages.each do |plage|
        - no_plage+= 1
        - plage[:mois].each do |mois|
          %td{:class => "col_x_bold", :style => cell_color(row, no_plage, plage[:%])}= h heure_en_format_heures_minutes_vx(mois.total_absences, true)
      %td{:class => "col_last"}= heure_en_format_heures_minutes_vx(absences[:total_global], true)
%br
%ol.info
  %table{:class => "table_pc", :width=> 100, :style =>"table-layout:fixed"}
    %col{:width => 110}
    - plages.each do |plage|
      - plage[:mois].each do
        %col{:width => largeur_colonne}
    %col{:width => 50}
    - row = 0
    %tr
      - row += 1
      - no_plage= 0
      %th{:class => "col_first"}
      - plages.each do |plage|
        - no_plage+= 1
        - plage[:mois].each do |mois|
          %th{:class => "nom_mois", :style => cell_color(row, no_plage, plage[:%])}= h Moi.display_name(mois.no_mois)
      %th{:class => "col_last"}= "Bilan"
    -#- # A FAIRE   
    -# %tr
    -#   - row += 1
    -#   - no_plage= 0
    -#   %td{:class => "col_first_bold"}= "A faire (*1)"
    -#   - plages.each do |plage|
    -#     - no_plage+= 1
    -#     - plage[:mois].each do |mois|
    -#       %td{:class => "col_x", :style => cell_color(row, no_plage, plage[:%])}= h heure_en_format_heures_minutes_vx(mois.th_)
    -#     - if plage[:no_plage] < nombre_de_plages
    -#       %td{:class => "col_sep"}
    -#   %td{:class => "col_last"}= heure_en_format_heures_minutes_vx(totaux[:th_])
    -# A FAIRE, en tenant compte des absences  
    %tr
      - row += 1
      - no_plage= 0
      %td{:class => "col_first_bold"}= "A faire"
      - plages.each do |plage|
        - no_plage+= 1
        - plage[:mois].each do |mois|
          - if plage[:%]!=0
            %td{:class => "col_x", :style => cell_color(row, no_plage, plage[:%])}= h heure_en_format_heures_minutes_vx(mois[:a_faire_si_absences], true)
          - else
            %td{:class => "col_x", :style => cell_color(row, no_plage, plage[:%])}= ""
      - # %td{:class => "col_last"}= heure_en_format_heures_minutes_vx(totaux[:total_a_faire_si_absences])
      - # %td{:class => "col_last"}= heure_en_format_heures_minutes_vx(totaux[:th_]-tableau_des_heures[:total_vacances])
      %td{:class => "col_last"}= ""
    -# Heures supplémentaires  
    %tr
      - row += 1
      - no_plage= 0
      %td{:class => "col_first_bold"}= "Heures sup"
      - plages.each do |plage|
        - no_plage+= 1
        - plage[:mois].each do |mois|
          - if plage[:%]!=0
            %td{:class => "col_x", :style => cell_color(row, no_plage, plage[:%])}= h heure_en_format_heures_minutes_vx(mois[:heures_sup])
          - else
            %td{:class => "col_x", :style => cell_color(row, no_plage, plage[:%])}= ""
      -# %td{:class => "col_last"}= heure_en_format_heures_minutes_vx(totaux[:total_heures_sup])
      %td{:class => "col_last"}= ""
    -# Cumul des heures supplémentaires  
    %tr
      - row += 1
      - no_plage= 0
      %td{:class => "col_first_bold"}= "Cumul Heures sup"
      - plages.each do |plage|
        - no_plage+= 1
        - plage[:mois].each do |mois|
          - if plage[:%]!=0
            %td{:class => "col_x", :style => cell_color(row, no_plage, plage[:%])}= h heure_en_format_heures_minutes_vx(mois[:cumul_heures_sup], true)
          - else
            - if no_plage+plage_offset > 1
              %td{:class => "col_x", :style => cell_color(row, no_plage, plage[:%])}= h heure_en_format_heures_minutes_vx(mois[:cumul_heures_sup], true)
            - else
              %td{:class => "col_x", :style => cell_color(row, no_plage, plage[:%])}= ""
      %td{:class => "col_last"}= heure_en_format_heures_minutes_vx(totaux[:cumul_heures_sup], true)
    -# Solde des vacances  
    %tr
      - row += 1
      - no_plage= 0
      %td{:class => "col_first_bold"}= "Solde des vacances"
      - plages.each do |plage|
        - no_plage+= 1
        - plage[:mois].each do |mois|
          - if plage[:%]!=0
            %td{:class => "col_x", :style => cell_color(row, no_plage, plage[:%])}= h heure_en_format_jours_heures_minutes_vx(mois[:solde_vacances], CstHeure.HJ(annee_civile))
          - else
            - if no_plage+plage_offset > 1
              %td{:class => "col_x", :style => cell_color(row, no_plage, plage[:%])}= h heure_en_format_jours_heures_minutes_vx(mois[:solde_vacances], CstHeure.HJ(annee_civile))
            - else
              %td{:class => "col_x", :style => cell_color(row, no_plage, plage[:%])}=""
      %td{:class => "col_last"}= heure_en_format_jours_heures_minutes_vx(totaux[:solde_vacances], CstHeure.HJ(annee_civile))
  %br
  -# .header_05_italique="(*1) A faire sans tenir compte des heures d'absences (vacances et autres congés)"
  -# .header_05_italique="(*2) A faire, avec déduction des heures d'absences"
