%ol.info
  .header_03= "Contrats"   
  %table
    %tr
      %th{:style => "text-align:left; width: 60px"} %
      %th{:style => "text-align:left; width: 60px"} Debut
      %th{:style => "text-align:left; width: 60px"} Fin
    - contrats.each do |contrat|
      %tr
        %td= contrat.pourcentage
        - if contrat.start_date!=nil
          %td= contrat.start_date.strftime("%d-%m-%Y")
        - else
          %td= "xxx"
        - if contrat.end_date!=nil
          %td= contrat.end_date.strftime("%d-%m-%Y")
        - else
          %td= "xxx"
  %br
  .header_03= "Plages"   
  %table
    %tr
      %th{:style => "text-align:left; width: 60px"} %
      %th{:style => "text-align:left; width: 60px"} Debut
      %th{:style => "text-align:left; width: 60px"} Fin
    - plages[:plages].each do |plage|
      %tr
        %td= plage[:%]
        - if plage[:date_debut]!=nil
          %td= plage[:date_debut].strftime("%d-%m-%Y")
        - else
          %td= "xxx"
        - if plage[:date_fin]!=nil
          %td= plage[:date_fin].strftime("%d-%m-%Y")
        - else
          %td= "xxx"
  %br


