- content_for :left_menu do
  = render :partial => 'personnes/left_menu'
%h1= "Annulation du report des heures supplémentaires"
%br
%br
= semantic_form_for :annulation_heures_sup, :url => annuler_heures_supplementaires_plage_contractuelles_path do |f|
  = f.inputs do 
    = f.input :annee_civile, :label => "Année civile", :collection => @annees_civiles, :label_method => :annee, :include_blank => " - Choisissez une année civile -", :hint => "Année civile dont on annule le report des heures supplémentaires (p.e.: Sélectionner 2013 annulera le report de 2013 sur 2014)"
  = f.buttons do 
    = f.commit_button "Annuler le report des heures supplémentaires"
%br
%br
= link_to "Annuler l'opération", personnes_path