- content_for :left_menu do
  = render :partial => 'personnes/left_menu'
- content_for :head do
  = javascript_include_tag("plages_calendrier_details")
%h1= "Résumé des heures pour #{@personne.display_name}"
%br
= semantic_form_for(@annee_civile, :url => resume_heures_plage_contractuelles_path(:personne_id=>@personne.id)) do |f|
  = f.inputs do
    = f.input :annee, :label => "Année civile", :collection => @annees_civiles, :label_method => :annee, :include_blank => " - Choisissez une année civile -"
  = f.buttons do
    = f.commit_button "Valider"
%br
.header_02= "Résumé #{@annee_civile.year}"
- plages=@tableau_des_heures[:plages]
- totaux=@tableau_des_heures[:totaux]
- projets=@tableau_des_heures[:projets]
- absences=@tableau_des_heures[:absences]
- liste_projets = projets[:detail]
- liste_absences = absences[:detail]
- nombre_de_plages = plages.size
- nombre_de_mois = 0
- plages.each do |plage|
  - nombre_de_mois += plage[:mois].size

- if nombre_de_mois > 13
  = render :partial => "liste_partielle", :locals => {:annee_civile => @annee_civile.year, :tableau_des_heures => @tableau_des_heures, :min_plage => 1, :max_plage => plages.size/2 }
  = render :partial => "liste_partielle", :locals => {:annee_civile => @annee_civile.year, :tableau_des_heures => @tableau_des_heures, :min_plage => plages.size/2+1, :max_plage => plages.size}
- else 
  = render :partial => "liste_partielle", :locals => {:annee_civile => @annee_civile.year, :tableau_des_heures => @tableau_des_heures, :min_plage => 1, :max_plage => plages.size }


%br
  .plages_calendrier
  %button.plages_calendrier_button= "Calendrier académique #{@annee_civile.year}"
  .clear
  .plages_calendrier_details{:"annee_civile" => @annee_civile.year}
  .spacer
%br
%br
%ol.info
  .header_02= "Données personnelles #{@annee_civile.year}"
  %br
  .header_03="Vacances"
  .header_04= "Total des vacances octroyées sur l'année (report non compris): #{h heure_en_format_heures_minutes_vx(@tableau_des_heures[:total_vacances], true)} , soit #{h heure_en_format_jours_heures_minutes_vx(@tableau_des_heures[:total_vacances], CstHeure.HJ(@annee_civile.year), true)} avec des journées de #{heure_en_format_heures_minutes_vx(CstHeure.HJ(@annee_civile.year), true)}" 
  %br
  .header_03="Total à effectuer"
  .header_04= "Total à effectuer sur l'année: #{h heure_en_format_heures_minutes_vx(totaux[:th_]-@tableau_des_heures[:total_vacances], true)}" 
  %br
  - if can? :manage, PlageContractuelle
    .header_03= "Report des heures supplémentaires de #{@annee_civile.year - 1}"
    - if @tableau_des_heures[:report_heures_sup_impose]
      .header_04= "Valeur retenue: #{h heure_en_format_heures_minutes_vx(@tableau_des_heures[:report_heures_sup], true)}" + "  (Valeur reportée:   #{h heure_en_format_heures_minutes_vx(@tableau_des_heures[:report_heures_sup_calcule], true)})"
    - else
      .header_04= "Valeur reportée: #{h heure_en_format_heures_minutes_vx(@tableau_des_heures[:report_heures_sup_calcule], true)}"
    - if @tableau_des_heures[:report_heures_sup_impose]
      = show_image("Fixé par RH", "ok.png", "16x16" )
    - else
      = show_image("Fixé par RH", "ko.png", "16x16" ) 
    = semantic_form_for(@info_heure, :url => ajuster_report_heures_sup_plage_contractuelles_path({:personne_id=>@personne.id, :annee_civile => @annee_civile.annee})) do |f|
      = f.inputs do
        - if @tableau_des_heures[:report_heures_sup_impose]
          - hint_text= "Pour annuler la fixation RH: Laisser vide et appuyer sur le bouton - Modifier -"
        - else
          - hint_text= "Pour fixer un report des heures supplémentaires autre que celui qui résulte des calculs de l'année précédente. Saisir un nombre réel (comme par exemple 2.5 pour 2h30)"
        = f.input :report_heures_sup_impose, :label => "Valeur à fixer (RH)", :hint => hint_text      
      = f.buttons do
        = f.commit_button "Modifier"
    %br
  - else
    - if !(@tableau_des_heures[:report_heures_sup_impose] & (@tableau_des_heures[:report_heures_sup]==0))
      .header_03= "Report des heures supplémentaires de #{@annee_civile.year - 1}"
      - if @tableau_des_heures[:report_heures_sup_impose]
        .header_04= "Valeur retenue: #{h heure_en_format_heures_minutes_vx(@tableau_des_heures[:report_heures_sup], true)}" + "  (Valeur   reportée:   #{h heure_en_format_heures_minutes_vx(@tableau_des_heures[:report_heures_sup_calcule], true)})"
      - else
        .header_04= "Valeur reportée: #{h heure_en_format_heures_minutes_vx(@tableau_des_heures[:report_heures_sup_calcule], true)}"    
  .header_03= "Report du solde de vacances de #{@annee_civile.year - 1}"
  - if @tableau_des_heures[:report_heures_vacances_impose]
    .header_04= "Valeur retenue: #{h heure_en_format_heures_minutes_vx(@tableau_des_heures[:report_heures_vacances], true)}" + "  (Valeur reportée: #{h heure_en_format_heures_minutes_vx(@tableau_des_heures[:report_heures_vacances_calcule], true)}), soit #{h heure_en_format_jours_heures_minutes_vx(@tableau_des_heures[:report_heures_vacances], CstHeure.HJ(@annee_civile.year), true)} avec des journées de #{heure_en_format_heures_minutes_vx(CstHeure.HJ(@annee_civile.year), true)}"
  - else
    .header_04= "Valeur reportée: #{h heure_en_format_heures_minutes_vx(@tableau_des_heures[:report_heures_vacances_calcule], true)}, soit #{h heure_en_format_jours_heures_minutes_vx(@tableau_des_heures[:report_heures_vacances_calcule], CstHeure.HJ(@annee_civile.year), true)} avec des journées de #{heure_en_format_heures_minutes_vx(CstHeure.HJ(@annee_civile.year), true)}"
  - if can? :manage, PlageContractuelle
    - if @tableau_des_heures[:report_heures_vacances_impose]
      = show_image("Fixé par RH", "ok.png", "16x16" )
    - else
      = show_image("Fixé par RH", "ko.png", "16x16" ) 
    = semantic_form_for(@info_heure, :url => ajuster_report_heures_vacances_plage_contractuelles_path({:personne_id=>@personne.id, :annee_civile=> @annee_civile.annee})) do |f|
      = f.inputs do
        - if @tableau_des_heures[:report_heures_vacances_impose]
          - hint_text= "Pour annuler la fixation RH: Laisser vide et appuyer sur le bouton - Modifier -"
        - else
          - hint_text= "Pour fixer un report des heures supplémentaires autre que celui qui résulte des calculs de l'année précédente. Saisir un nombre réel (comme par exemple 2.5 pour 2h30)"
        = f.input :report_heures_vacances_impose, :label => "Valeur à fixer (RH)", :hint => hint_text    
      = f.buttons do
        = f.commit_button "Modifier"

- plages.each do |plage|
  %br
  %ol.info
    .header_02= "Plage contractuelle #{plage[:no_plage]}"
    %br
    .header_04= "Du #{plage[:date_debut].strftime("%d-%m")} au #{plage[:date_fin].strftime("%d-%m")}"
    .header_04= "Taux d'activité: #{plage[:%]}%"
    .header_04= "Horaire journalier: #{heure_en_format_heures_minutes_vx(plage[:hj], true)}"
    - # .header_04= "Horaire: #{plage[:horaire]}"
    - if plage[:compensation]
      = show_image("Compensation des ponts", "ok.png", "16x16" )
    - else 
      = show_image("Compensation des ponts", "ko.png", "16x16" )
    %br
    %table{:class => "table_pc"}
      - row= 0
      - no=plage[:no_plage]
      %tr
        - row += 1
        %td{:class => "col_first_bold"}
        - plage[:mois].each do |mois|
          %th{:class => "col_sep"}
          %th{:class => "col_x", :style => cell_color(row, no, plage[:%])}= h Moi.display_name(mois.no_mois)
          %th{:class => "col_sep"}
      %tr
        - row += 1
        %td{:class => "col_first_bold"} Jours ouvrables
        - plage[:mois].each do |mois|
          %td{:class => "col_sep"}
          %td{:class => "col_x", :style => cell_color(row, no, plage[:%])}= h aff_double(mois.jo, 2)
          %td{:class => "col_sep"}
      %tr
        - row += 1
        %td{:class => "col_first_bold"} Jours fériés
        - plage[:mois].each do |mois|
          %td{:class => "col_sep"}
          %td{:class => "col_x", :style => cell_color(row, no, plage[:%])}= h aff_double(mois.jf, 2)
          %td{:class => "col_sep"}
      %tr
        - row += 1
        %td{:class => "col_first_bold"} Ponts
        - plage[:mois].each do |mois|
          %td{:class => "col_sep"}
          %td{:class => "col_x", :style => cell_color(row, no, plage[:%])}= h aff_double(mois.jp, 2)
          %td{:class => "col_sep"}
    %br
    %br
    %br
    .header_03="Calendrier académique de la plage"
    - premier_jour= plage[:date_debut]
    - dernier_jour= plage[:date_fin]
    - jours_feries = JourAcademique.feries_entre_deux_dates(premier_jour, dernier_jour)
    - jours_compenses = JourAcademique.compenses_entre_deux_dates(premier_jour, dernier_jour)
    - if jours_feries.size > 0
      .header_04= "Jours fériés" 
      %table
        - jours_feries.each do |jour_special|
          %tr
            %td{:style => "text-align:left; width: 90px; padding-left: 20px"}= "#{jour_special.date.day} #{Moi.display_name(jour_special.date.  month)}"
            - if jour_special.descriptif
              %td{:style => "text-align:left; width: 120px"}=jour_special.descriptif.force_encoding("UTF-8")
            - else
              %td{:style => "text-align:left; width: 120px"}=""
            %td{:style => "text-align:left; width: 90px"}=jour_special.periode
    %br
    - if jours_compenses.size > 0
      .header_04= "Ponts"
      %table
        - jours_compenses.each do |jour_special|
          %tr
            %td{:style => "text-align:left; width: 90px; padding-left: 20px"}= "#{jour_special.date.day} #{Moi.display_name(jour_special.date.  month)}"
            - if jour_special.descriptif            
              %td{:style => "text-align:left; width: 120px"}=jour_special.descriptif.force_encoding("UTF-8")
            - else
              %td{:style => "text-align:left; width: 120px"}=""
            %td{:style => "text-align:left; width: 90px"}=jour_special.periode
    %br

