%h1 Editing interet_unite
- form_for(@interet_unite) do |f|
  = f.error_messages
  %p
    = f.label :id
    %br
    = f.text_field :id
  %p
    = f.label :interet
    %br
    = f.text_field :interet
  %p
    = f.submit 'Update'
= link_to 'Show', @interet_unite
|
-#{link_to 'Back', interet_unites_path}
