%h1 Listing interet_unites
%table
  %tr
    %th Id
    %th Interet
  - @interet_unites.each do |interet_unite|
    %tr
      %td= h interet_unite.id
      %td= h interet_unite.interet
      %td= link_to 'Show', interet_unite
      %td= link_to 'Edit', edit_interet_unite_path(interet_unite)
      %td= link_to 'Destroy', interet_unite, data: { :confirm => 'Are you sure?' }, :method => :delete
%br
= link_to 'New interet_unite', new_interet_unite_path
