%h1 New interet_unite
- form_for(@interet_unite) do |f|
  = f.error_messages
  %p
    = f.label :id
    %br
    = f.text_field :id
  %p
    = f.label :interet
    %br
    = f.text_field :interet
  %p
    = f.submit 'Create'
= link_to 'Back', interet_unites_path
