%h1 Gestion des charges d'enseignement de l'institut IICT
%br
%br
%p
  Sélection de l'année académique : #{select "bachelor", "annee_academique", @annees_academiques.reverse.collect {|elt| [ elt.annee, elt.id ] }}
  -#{button_to_remote "Suppression",  :url=>{:action=>"supprimer"}, :confirm=>"Êtes-vous sûr de vouloir effectuer cette opération ?", :with => "'id_annee_academique=' +$('bachelor_annee_academique').value"}
%br
%br
/
  <h2>Gestion des Personnes </h2>
  <haml:loud> link_to 'Gestion des personnes', personnes_path </haml:loud><br />
  
  <haml:loud> link_to 'Gestion des charges', charges_path </haml:loud><br />
  
  
  <br/><h2>Gestion de l'Enseignement </h2>
  <haml:loud> link_to 'Gestion des départements', departements_path </haml:loud><br />
  <haml:loud> link_to 'Gestion des filières', filieres_path </haml:loud><br />
  <haml:loud> link_to 'Gestion des orientations', orientations_path </haml:loud><br />
  <haml:loud> link_to 'Gestion des modules', module_unites_path </haml:loud><br />
  <haml:loud> link_to 'Gestion des unités d\'enseignement', unite_enseignements_path </haml:loud><br />
  
  <br/><h2>Gestion des Projets</h2>
  <haml:loud> link_to 'Gestion des projets', projets_path </haml:loud><br />
  <haml:loud> link_to 'Gestion des suivis', suivis_path </haml:loud><br />
  
  <br/><h2>Gestion des desiderata</h2>
  <haml:loud> link_to 'Visualisation des desiderata', desideratas_path </haml:loud><br />
  <haml:loud> link_to 'Gestion des desiderata de projet', desiderata_projets_path </haml:loud><br />
  
  
  
  
  -## ICI Dupliquer
  
  Dupliquer les données :
  <haml:loud> button_to_remote &amp;quot;Duplicata
  \&amp;quot;,
  \:url=&amp;gt;{:controller=&amp;gt; &amp;quot;Bachelor&amp;quot;, :action=&amp;gt;&amp;quot;dupliquer&amp;quot;},
  \:confirm=&amp;gt;&amp;quot;Êtes-vous sûr de vouloir effectuer cette opération?
  Sachez que cette opération effectue le duplicata des données suivantes:
  \- Année académique
  \- Périodes
  \- Constantes
  \- Départements
  \- Filières
  \- Orientations
  \- Modules
  \- Liens entre des modules et des orientations
  \- Unités d'enseignement
  \- Liens entre des modules et des unité d'enseignement
  \- Compétences sur les unités d'enseignement
  \- Desiderata des professeurs
  \- Liens entre les desiderata et les personnes
  \- Projets de type Enseignement
  \- Desiderata de projet&amp;quot;
  </haml:loud>
  
  
  -## Fin bouton dupliquer
  
  
  
  
  <br/><br/><h2>Gestion des contrats</h2>
  <haml:loud> link_to 'Gestion des contrats', contrat_annuels_path </haml:loud><br />
  
  <br/><h2>Gestion des événements</h2>
  <haml:loud> link_to 'Gestion des événements des personnes', evenement_personnes_path </haml:loud><br />
  <haml:loud> link_to 'Gestion des événements des projets', evenement_projets_path </haml:loud><br />
  
  <br/><h2>Configuration</h2>
  <h3>Gestion des données temporelles </h3>
  <haml:loud> link_to 'Gestion des périodes', periodes_path </haml:loud><br />
  <haml:loud> link_to 'Gestion des années académiques', annee_academiques_path </haml:loud><br />
  <haml:loud> link_to 'Gestion des années civiles', annee_civiles_path </haml:loud><br />
  <haml:loud> link_to 'Gestion des mois', mois_path </haml:loud><br />
  
  <br/><h3>Gestion des types</h3>
  <haml:loud> link_to 'Gestion des types d\'événements des personnes', type_evenement_personnes_path </haml:loud><br />
  <haml:loud> link_to 'Gestion des types d\'événements des projets', type_evenement_projets_path </haml:loud><br />
  <haml:loud> link_to 'Gestion des types d\'unités d\'enseignement', type_unite_enseignements_path </haml:loud><br />
  <haml:loud> link_to 'Gestion des types des périodes', type_periodes_path </haml:loud><br />
  <haml:loud> link_to 'Gestion des types des personnes', type_personnes_path </haml:loud><br />
  <haml:loud> link_to 'Gestion des niveaux', niveau_competences_path </haml:loud><br />
  <haml:loud> link_to 'Gestion des statut de projet', statut_projets_path </haml:loud><br />
  <haml:loud> link_to 'Gestion des types des projets', type_projets_path </haml:loud><br />
  <haml:loud> link_to 'Gestion des activités', type_activites_path </haml:loud><br />
  <haml:loud> link_to 'Gestion des domaines de compétence', competence_domaines_path </haml:loud><br />
  
  <br/><h3>Gestion des constantes</h3>
  <haml:loud> link_to 'Gestion des constantes', constantes_path </haml:loud><br />
