%h1 Gestion des desiderata
%br
  = link_to 'Visualisation des desiderata', desideratas_path
  %br
  = link_to 'Gestion des desiderata de projet', desiderata_projets_path
  %br
  Dupliquer les données :
  -#{button_to_remote "Duplicata ",  :url=>{:action=>"dupliquer"}, :confirm=>"Êtes-vous sûr de vouloir effectuer cette opération? Sachez que cette opération effectue le duplicata des données suivantes: - Année académique - Périodes - Constantes - Départements - Filières - Orientations - Modules - Liens entre des modules et des orientations - Unités d'enseignement - Liens entre des modules et des unité d'enseignement - Compétences sur les unités d'enseignement - Desiderata des professeurs - Liens entre les desiderata et les personnes - Projets de type Enseignement   - Desiderata de projet"}
