%h1 Configuration
%br
%h3 Gestion des données temporelles
= link_to 'Gestion des périodes', periodes_path
%br
= link_to 'Gestion des années académiques', annee_academiques_path
%br
= link_to 'Gestion des années civiles', annee_civiles_path
%br
= link_to 'Gestion des mois', mois_path
%br
%br
%h3 Gestion des types
= link_to 'Gestion des types d\'événements des personnes', type_evenement_personnes_path
%br
= link_to 'Gestion des types d\'événements des projets', type_evenement_projets_path
%br
= link_to 'Gestion des types d\'unités d\'enseignement', type_unite_enseignements_path
%br
= link_to 'Gestion des types des périodes', type_periodes_path
%br
= link_to 'Gestion des types des personnes', type_personnes_path
%br
= link_to 'Gestion des niveaux pour les domaines', niveau_competences_path
%br
= link_to "Gestion des niveaux d'intérêt pour les unités", interet_unites_path
%br
= link_to 'Gestion des types de contrat', type_contrats_path
%br
= link_to 'Gestion des statut de projet', statut_projets_path
%br
= link_to 'Gestion des types des projets', type_projets_path
%br
= link_to 'Gestion des activités', type_activites_path
%br
= link_to 'Gestion des domaines de compétence', competence_domaines_path
%br
= link_to 'Gestion des axes stratégiques', axe_strategiques_path
%br
%br
%h3 Gestion des constantes
= link_to 'Gestion des constantes', constantes_path
%br
