%h1 Editing evenement_projet
- form_for(@evenement_projet) do |f|
  = f.error_messages
  %p
    = f.label :texte
    %br
    = f.text_field :texte
  / ...........................Type Evenement Projet............................
  / Affiche la liste des types d'événement de projet
  %p
    Type :
    -#{f.collection_select :type_evenement_projet_id, @types_evenement_projet, :id, :typeEvenementProjet}
  %p
    = f.submit "Update"
= link_to 'Show', @evenement_projet
|
-#{link_to 'Back', evenement_projets_path}
