%h1 Listing evenement_projets
%table
  %tr
    %th Texte
    %th Type evenement projet
  - for evenement_projet in @evenement_projets
    %tr
      %td= h evenement_projet.texte
      %td= h evenement_projet.type_evenement_projet.typeEvenementProjet
      %td= link_to 'Show', evenement_projet
      %td= link_to 'Edit', edit_evenement_projet_path(evenement_projet)
      %td= link_to 'Destroy', evenement_projet, data: { :confirm => 'Are you sure?' }, :method => :delete
%br
= link_to 'New evenement_projet', new_evenement_projet_path
= link_to 'Menu principal', enseignement_path
