%p
  %b Texte:
  = h @evenement_projet.texte
%p
  %b Type evenement projet:
  = h @evenement_projet.type_evenement_projet.typeEvenementProjet
= link_to 'Edit', edit_evenement_projet_path(@evenement_projet)
|
-#{link_to 'Back', evenement_projets_path}
