- if @type_projet && !@type_projet.new_record?
  = "Actions sur #{@type_projet.display_name}"
  = menu_item "Modifier le type de projet", [:edit, @type_projet], :edit, :type_projets, can?(:edit, @type_projet), params
  = menu_item "Supprimer le type de projet", @type_projet, :destroy, :type_projets, can?(:destroy, @type_projet), params, :method => :delete, data: {:confirm => "Etes-vous sûr ?"}

= "Actions globales"
= menu_item "Liste des types de projet", type_projets_path, :index, :type_projets, can?(:read, TypeProjet), params
= menu_item "Ajouter un type de projet", new_type_projet_path, :new, :type_projets, can?(:create, TypeProjet), params
