= semantic_form_for(@type_projet) do |f|
  - hint = nil
  - if !f.object.new_record? && f.object.has_enfants?
    - hint = "les types enfants du type actuel ne sont pas affichés pour éviter les boucles dans l'arbre des types de projet"
    
  = f.inputs do
    = f.input :nom
    = f.input :type_id_externe, :label => "Type d'identifiant externe", :include_blank => " - Aucun"
    = f.input :compte_sagex_par_defaut, :label => "Compte Sagex par défaut"
    = # f.input :mode_calcul_charge, :label => "Mode de calcul de la charge", :as => :radio, :collection => TypeProjet.modes_calcul_charge, :include_blank => " - Choisissez un mode de calcul"
    = f.hidden_field :mode_calcul_charge
    = f.input :genre_projet, :label => "Genre de projet", :as => :select, :collection => Projet.genres_projets, :include_blank => " - Choisissez un genre de projet"
    = f.input :est_singleton, :label => "Singleton"
    = f.input :saisie_heures_possible_collaborateurs, :label => "Saisie des heures possible pour les collaborateurs"
    = f.input :saisie_heures_possible_profs, :label => "Saisie des heures possible pour les professeurs"
    = f.input :contrat_a_renseigner, :label => "Engagement à renseigner"
    = f.input :affichage_possible_charge_en_jours, :label => "Possibilité d'afficher les charges horaires en jours-heures-minutes"
    = f.input :charge_financiere_renseignee, :label => "Charge financiere renseignée"
    = f.input :date_debut_indeterminee, :label => "Date de début indéterminée"
    = f.input :date_fin_indeterminee, :label => "Date de fin indéterminée"
    = f.input :parent, :label => "Sous type de", :collection => @type_projet.parents_potentiels.order(:nom) ,:include_blank => " - Aucun -", :hint => hint
  = f.buttons do
    = f.commit_button "Valider"