- if type_projets.count > 0
  %ul.liste_type_projets
    - type_projets.each do |tp|
      %li
        = tp.nom
        -#= tp.mode_calcul_charge
        .right
          - unless tp.has_enfants?
            = link_to "Supprimer".html_safe, tp, :method => :delete, data: {:confirm => "Etes-vous sûr de vouloir supprimer le type #{tp.display_name}?"}
            = " | "
          = link_to "Modifier", [:edit, tp]

      = render :partial => "liste_type_projets", :locals => {:type_projets => tp.enfants_directs}
  