- content_for :left_menu do
  = render :partial => 'actions'
%h1= "Types de projet"
%br
- if @type_projets_racines.count == 0
  %p= "Aucun type de projet pour le moment"
- else
  = render :partial => "liste_type_projets", :locals => {:type_projets => @type_projets_racines}