- for coll in 0..@assistants_vert_ardent.size() - 1
  %div{:id => "collaborateur_#{@assistants_vert_ardent[coll].id}"}
    %table.cadreCollaborateurVertArdent
      %tr
        %td{:colspan => "2"}
          %b= h @assistants_vert_ardent[coll].initiale
          -#{h @assistants_vert_ardent[coll].prenom} #{h @assistants_vert_ardent[coll].nom}
      %tr
        %td{:width => "15px"}
        - define_cahier = false
        - @cahier_des_charges.each { |cahier|
        - if cahier.personne_id == @assistants_vert_ardent[coll].id
          %td
            Heure d'enseignement disponible : #{h cahier.heures_ens - @heure_affectee[cahier.personne_id]} / #{h cahier.heures_ens}
          - heures_ens = cahier.heures_ens
          - define_cahier = true
        - }
        - if define_cahier == false
          %td
            %font{:color => "red"} Définir le contrat et le cahier des charges
      - if define_cahier == true
        %tr
          %td{:width => "15px"}
          %td Occupation :
        %tr
          %td{:width => "15px"}
          %td
            %div{:style => "border:1px solid black;width:285px;height:5px;float:left;"}
              - if @largeur_heure[@assistants_vert_ardent[coll].id] > 285
                %div{:style => "float:left;width:285px;height:5px;background-color:red;"}
              - else
                %div{:style => "float:left;width:#{@largeur_heure[@assistants_vert_ardent[coll].id]}px;height:5px;background-color:#66cc66;"}
              \&nbsp;
- for coll in 0..@assistants_vert_moyen.size() - 1
  %div{:id => "collaborateur_#{@assistants_vert_moyen[coll].id}"}
    %table.cadreCollaborateurVertMoyen
      %tr
        %td{:colspan => "2"}
          %b= h @assistants_vert_moyen[coll].initiale
          -#{h @assistants_vert_moyen[coll].prenom} #{h @assistants_vert_moyen[coll].nom}
      %tr
        %td{:width => "15px"}
        - define_cahier = false
        - @cahier_des_charges.each { |cahier|
        - if cahier.personne_id == @assistants_vert_moyen[coll].id
          %td
            Heure d'enseignement disponible : #{h cahier.heures_ens - @heure_affectee[cahier.personne_id]} / #{h cahier.heures_ens}
          - heures_ens = cahier.heures_ens
          - define_cahier = true
        - }
        - if define_cahier == false
          %td
            %font{:color => "red"} Définir le contrat et le cahier des charges
      - if define_cahier == true
        %tr
          %td{:width => "15px"}
          %td Occupation :
        %tr
          %td{:width => "15px"}
          %td
            %div{:style => "border:1px solid black;width:285px;height:5px;float:left;"}
              - if @largeur_heure[@assistants_vert_moyen[coll].id] > 285
                %div{:style => "float:left;width:285px;height:5px;background-color:red;"}
              - else
                %div{:style => "float:left;width:#{@largeur_heure[@assistants_vert_moyen[coll].id]}px;height:5px;background-color:#66cc66;"}
              \&nbsp;
- for coll in 0..@assistants_vert_pale.size() - 1
  %div{:id => "collaborateur_#{@assistants_vert_pale[coll].id}"}
    %table.cadreCollaborateurVertPale
      %tr
        %td{:colspan => "2"}
          %b= h @assistants_vert_pale[coll].initiale
          -#{h @assistants_vert_pale[coll].prenom} #{h @assistants_vert_pale[coll].nom}
      %tr
        %td{:width => "15px"}
        - define_cahier = false
        - @cahier_des_charges.each { |cahier|
        - if cahier.personne_id == @assistants_vert_pale[coll].id
          %td
            Heure d'enseignement disponible : #{h cahier.heures_ens - @heure_affectee[cahier.personne_id]} / #{h cahier.heures_ens}
          - heures_ens = cahier.heures_ens
          - define_cahier = true
        - }
        - if define_cahier == false
          %td
            %font{:color => "red"} Définir le contrat et le cahier des charges
      - if define_cahier == true
        %tr
          %td{:width => "15px"}
          %td Occupation :
        %tr
          %td{:width => "15px"}
          %td
            %div{:style => "border:1px solid black;width:285px;height:5px;float:left;"}
              - if @largeur_heure[@assistants_vert_pale[coll].id] > 285
                %div{:style => "float:left;width:285px;height:5px;background-color:red;"}
              - else
                %div{:style => "float:left;width:#{@largeur_heure[@assistants_vert_pale[coll].id]}px;height:5px;background-color:#66cc66;"}
              \&nbsp;
- for coll in 0..@assistants_orange_ardent.size() - 1
  %div{:id => "collaborateur_#{@assistants_orange_ardent[coll].id}"}
    %table.cadreCollaborateurOrangeArdent
      %tr
        %td{:colspan => "2"}
          %b= h @assistants_orange_ardent[coll].initiale
          -#{h @assistants_orange_ardent[coll].prenom} #{h @assistants_orange_ardent[coll].nom}
      %tr
        %td{:width => "15px"}
        - define_cahier = false
        - @cahier_des_charges.each { |cahier|
        - if cahier.personne_id == @assistants_orange_ardent[coll].id
          %td
            Heure d'enseignement disponible : #{h cahier.heures_ens - @heure_affectee[cahier.personne_id]} / #{h cahier.heures_ens}
          - heures_ens = cahier.heures_ens
          - define_cahier = true
        - }
        - if define_cahier == false
          %td
            %font{:color => "red"} Définir le contrat et le cahier des charges
      - if define_cahier == true
        %tr
          %td{:width => "15px"}
          %td Occupation :
        %tr
          %td{:width => "15px"}
          %td
            %div{:style => "border:1px solid black;width:285px;height:5px;float:left;"}
              - if @largeur_heure[@assistants_orange_ardent[coll].id] > 285
                %div{:style => "float:left;width:285px;height:5px;background-color:red;"}
              - else
                %div{:style => "float:left;width:#{@largeur_heure[@assistants_orange_ardent[coll].id]}px;height:5px;background-color:#66cc66;"}
              \&nbsp;
- for coll in 0..@assistants_orange_moyen.size() - 1
  %div{:id => "collaborateur_#{@assistants_orange_moyen[coll].id}"}
    %table.cadreCollaborateurOrangeMoyen
      %tr
        %td{:colspan => "2"}
          %b= h @assistants_orange_moyen[coll].initiale
          -#{h @assistants_orange_moyen[coll].prenom} #{h @assistants_orange_moyen[coll].nom}
      %tr
        %td{:width => "15px"}
        - define_cahier = false
        - @cahier_des_charges.each { |cahier|
        - if cahier.personne_id == @assistants_orange_moyen[coll].id
          %td
            Heure d'enseignement disponible : #{h cahier.heures_ens - @heure_affectee[cahier.personne_id]} / #{h cahier.heures_ens}
          - heures_ens = cahier.heures_ens
          - define_cahier = true
        - }
        - if define_cahier == false
          %td
            %font{:color => "red"} Définir le contrat et le cahier des charges
      - if define_cahier == true
        %tr
          %td{:width => "15px"}
          %td Occupation :
        %tr
          %td{:width => "15px"}
          %td
            %div{:style => "border:1px solid black;width:285px;height:5px;float:left;"}
              - if @largeur_heure[@assistants_orange_moyen[coll].id] > 285
                %div{:style => "float:left;width:285px;height:5px;background-color:red;"}
              - else
                %div{:style => "float:left;width:#{@largeur_heure[@assistants_orange_moyen[coll].id]}px;height:5px;background-color:#66cc66;"}
              \&nbsp;
- for coll in 0..@assistants_orange_pale.size() - 1
  %div{:id => "collaborateur_#{@assistants_orange_pale[coll].id}"}
    %table.cadreCollaborateurOrangePale
      %tr
        %td{:colspan => "2"}
          %b= h @assistants_orange_pale[coll].initiale
          -#{h @assistants_orange_pale[coll].prenom} #{h @assistants_orange_pale[coll].nom}
      %tr
        %td{:width => "15px"}
        - define_cahier = false
        - @cahier_des_charges.each { |cahier|
        - if cahier.personne_id == @assistants_orange_pale[coll].id
          %td
            Heure d'enseignement disponible : #{h cahier.heures_ens - @heure_affectee[cahier.personne_id]} / #{h cahier.heures_ens}
          - heures_ens = cahier.heures_ens
          - define_cahier = true
        - }
        - if define_cahier == false
          %td
            %font{:color => "red"} Définir le contrat et le cahier des charges
      - if define_cahier == true
        %tr
          %td{:width => "15px"}
          %td Occupation :
        %tr
          %td{:width => "15px"}
          %td
            %div{:style => "border:1px solid black;width:285px;height:5px;float:left;"}
              - if @largeur_heure[@assistants_orange_pale[coll].id] > 285
                %div{:style => "float:left;width:285px;height:5px;background-color:red;"}
              - else
                %div{:style => "float:left;width:#{@largeur_heure[@assistants_orange_pale[coll].id]}px;height:5px;background-color:#66cc66;"}
              \&nbsp;
- for coll in 0..@assistants_jaune_ardent.size() - 1
  %div{:id => "collaborateur_#{@assistants_jaune_ardent[coll].id}"}
    %table.cadreCollaborateurJauneArdent
      %tr
        %td{:colspan => "2"}
          %b= h @assistants_jaune_ardent[coll].initiale
          -#{h @assistants_jaune_ardent[coll].prenom} #{h @assistants_jaune_ardent[coll].nom}
      %tr
        %td{:width => "15px"}
        - define_cahier = false
        - @cahier_des_charges.each { |cahier|
        - if cahier.personne_id == @assistants_jaune_ardent[coll].id
          %td
            Heure d'enseignement disponible : #{h cahier.heures_ens - @heure_affectee[cahier.personne_id]} / #{h cahier.heures_ens}
          - heures_ens = cahier.heures_ens
          - define_cahier = true
        - }
        - if define_cahier == false
          %td
            %font{:color => "red"} Définir le contrat et le cahier des charges
      - if define_cahier == true
        %tr
          %td{:width => "15px"}
          %td Occupation :
        %tr
          %td{:width => "15px"}
          %td
            %div{:style => "border:1px solid black;width:285px;height:5px;float:left;"}
              - if @largeur_heure[@assistants_jaune_ardent[coll].id] > 285
                %div{:style => "float:left;width:285px;height:5px;background-color:red;"}
              - else
                %div{:style => "float:left;width:#{@largeur_heure[@assistants_jaune_ardent[coll].id]}px;height:5px;background-color:#66cc66;"}
              \&nbsp;
- for coll in 0..@assistants_jaune_moyen.size() - 1
  %div{:id => "collaborateur_#{@assistants_jaune_moyen[coll].id}"}
    %table.cadreCollaborateurJauneMoyen
      %tr
        %td{:colspan => "2"}
          %b= h @assistants_jaune_moyen[coll].initiale
          -#{h @assistants_jaune_moyen[coll].prenom} #{h @assistants_jaune_moyen[coll].nom}
      %tr
        %td{:width => "15px"}
        - define_cahier = false
        - @cahier_des_charges.each { |cahier|
        - if cahier.personne_id == @assistants_jaune_moyen[coll].id
          %td
            Heure d'enseignement disponible : #{h cahier.heures_ens - @heure_affectee[cahier.personne_id]} / #{h cahier.heures_ens}
          - heures_ens = cahier.heures_ens
          - define_cahier = true
        - }
        - if define_cahier == false
          %td
            %font{:color => "red"} Définir le contrat et le cahier des charges
      - if define_cahier == true
        %tr
          %td{:width => "15px"}
          %td Occupation :
        %tr
          %td{:width => "15px"}
          %td
            %div{:style => "border:1px solid black;width:285px;height:5px;float:left;"}
              - if @largeur_heure[@assistants_jaune_moyen[coll].id] > 285
                %div{:style => "float:left;width:285px;height:5px;background-color:red;"}
              - else
                %div{:style => "float:left;width:#{@largeur_heure[@assistants_jaune_moyen[coll].id]}px;height:5px;background-color:#66cc66;"}
              \&nbsp;
- for coll in 0..@assistants_jaune_pale.size() - 1
  %div{:id => "collaborateur_#{@assistants_jaune_pale[coll].id}"}
    %table.cadreCollaborateurJaunePale
      %tr
        %td{:colspan => "2"}
          %b= h @assistants_jaune_pale[coll].initiale
          -#{h @assistants_jaune_pale[coll].prenom} #{h @assistants_jaune_pale[coll].nom}
      %tr
        %td{:width => "15px"}
        - define_cahier = false
        - @cahier_des_charges.each { |cahier|
        - if cahier.personne_id == @assistants_jaune_pale[coll].id
          %td
            Heure d'enseignement disponible : #{h cahier.heures_ens - @heure_affectee[cahier.personne_id]} / #{h cahier.heures_ens}
          - heures_ens = cahier.heures_ens
          - define_cahier = true
        - }
        - if define_cahier == false
          %td
            %font{:color => "red"} Définir le contrat et le cahier des charges
      - if define_cahier == true
        %tr
          %td{:width => "15px"}
          %td Occupation :
        %tr
          %td{:width => "15px"}
          %td
            %div{:style => "border:1px solid black;width:285px;height:5px;float:left;"}
              - if @largeur_heure[@assistants_jaune_pale[coll].id] > 285
                %div{:style => "float:left;width:285px;height:5px;background-color:red;"}
              - else
                %div{:style => "float:left;width:#{@largeur_heure[@assistants_jaune_pale[coll].id]}px;height:5px;background-color:#66cc66;"}
              \&nbsp;
- for coll in 0..@assistants_gris_ardent.size() - 1
  %div{:id => "collaborateur_#{@assistants_gris_ardent[coll].id}"}
    %table.cadreCollaborateurGrisArdent
      %tr
        %td{:colspan => "2"}
          %b= h @assistants_gris_ardent[coll].initiale
          -#{h @assistants_gris_ardent[coll].prenom} #{h @assistants_gris_ardent[coll].nom}
      %tr
        %td{:width => "15px"}
        - define_cahier = false
        - @cahier_des_charges.each { |cahier|
        - if cahier.personne_id == @assistants_gris_ardent[coll].id
          %td
            Heure d'enseignement disponible : #{h cahier.heures_ens - @heure_affectee[cahier.personne_id]} / #{h cahier.heures_ens}
          - heures_ens = cahier.heures_ens
          - define_cahier = true
        - }
        - if define_cahier == false
          %td
            %font{:color => "red"} Définir le contrat et le cahier des charges
      - if define_cahier == true
        %tr
          %td{:width => "15px"}
          %td Occupation :
        %tr
          %td{:width => "15px"}
          %td
            %div{:style => "border:1px solid black;width:285px;height:5px;float:left;"}
              - if @largeur_heure[@assistants_gris_ardent[coll].id] > 285
                %div{:style => "float:left;width:285px;height:5px;background-color:red;"}
              - else
                %div{:style => "float:left;width:#{@largeur_heure[@assistants_gris_ardent[coll].id]}px;height:5px;background-color:#66cc66;"}
              \&nbsp;
- for coll in 0..@assistants_gris_moyen.size() - 1
  %div{:id => "collaborateur_#{@assistants_gris_moyen[coll].id}"}
    %table.cadreCollaborateurGrisMoyen
      %tr
        %td{:colspan => "2"}
          %b= h @assistants_gris_moyen[coll].initiale
          -#{h @assistants_gris_moyen[coll].prenom} #{h @assistants_gris_moyen[coll].nom}
      %tr
        %td{:width => "15px"}
        - define_cahier = false
        - @cahier_des_charges.each { |cahier|
        - if cahier.personne_id == @assistants_gris_moyen[coll].id
          %td
            Heure d'enseignement disponible : #{h cahier.heures_ens - @heure_affectee[cahier.personne_id]} / #{h cahier.heures_ens}
          - heures_ens = cahier.heures_ens
          - define_cahier = true
        - }
        - if define_cahier == false
          %td
            %font{:color => "red"} Définir le contrat et le cahier des charges
      - if define_cahier == true
        %tr
          %td{:width => "15px"}
          %td Occupation :
        %tr
          %td{:width => "15px"}
          %td
            %div{:style => "border:1px solid black;width:285px;height:5px;float:left;"}
              - if @largeur_heure[@assistants_gris_moyen[coll].id] > 285
                %div{:style => "float:left;width:285px;height:5px;background-color:red;"}
              - else
                %div{:style => "float:left;width:#{@largeur_heure[@assistants_gris_moyen[coll].id]}px;height:5px;background-color:#66cc66;"}
              \&nbsp;
- for coll in 0..@assistants_gris_pale.size() - 1
  %div{:id => "collaborateur_#{@assistants_gris_pale[coll].id}"}
    %table.cadreCollaborateurGrisPale
      %tr
        %td{:colspan => "2"}
          %b= h @assistants_gris_pale[coll].initiale
          -#{h @assistants_gris_pale[coll].prenom} #{h @assistants_gris_pale[coll].nom}
      %tr
        %td{:width => "15px"}
        - define_cahier = false
        - @cahier_des_charges.each { |cahier|
        - if cahier.personne_id == @assistants_gris_pale[coll].id
          %td
            Heure d'enseignement disponible : #{h cahier.heures_ens - @heure_affectee[cahier.personne_id]} / #{h cahier.heures_ens}
          - heures_ens = cahier.heures_ens
          - define_cahier = true
        - }
        - if define_cahier == false
          %td
            %font{:color => "red"} Définir le contrat et le cahier des charges
      - if define_cahier == true
        %tr
          %td{:width => "15px"}
          %td Occupation :
        %tr
          %td{:width => "15px"}
          %td
            %div{:style => "border:1px solid black;width:285px;height:5px;float:left;"}
              - if @largeur_heure[@assistants_gris_pale[coll].id] > 285
                %div{:style => "float:left;width:285px;height:5px;background-color:red;"}
              - else
                %div{:style => "float:left;width:#{@largeur_heure[@assistants_gris_pale[coll].id]}px;height:5px;background-color:#66cc66;"}
              \&nbsp;
