- logger.info @nbr_charge
- for groupe in 1..@nbr_charge
  %fieldset
    %legend
      = link_to "Groupe " + groupe.to_s, :remote => true,          |
        :url =>{:action=>"maj_coll", :id => @unite.id},            |
        :with => "  'prof_id=' +#{@professeurs_charge[groupe].id}" |
    %table
      %tr
        %td Professeur :
        %td{:width => "200px"}
          (#{h @professeurs_charge[groupe].initiale}) #{h @professeurs_charge[groupe].prenom} #{h @professeurs_charge[groupe].nom}
      %tr
        %td Assistant :
        %td{:style => "border:dashed 1px black;"}
          %span{:id => "#{@unite.id}_#{groupe}"}
            - if @assistant_charge[groupe] == nil
              Glissez un assistant ici
            - else
              = link_to("[X]", :remote => true, :url => {:action=>'del_coll', :element => @unite.id.to_s + "_" + groupe.to_s, :charge_id => @charge_id[groupe], :personne_id => @assistant_charge[groupe].id})
              = " (" + @assistant_charge[groupe].initiale + ") " + @assistant_charge[groupe].prenom + " " + @assistant_charge[groupe].nom
        = drop_receiving_element (@unite.id.to_s + "_" + groupe.to_s, :url => {:action=>"drop_collaborateur", :groupe=>groupe, :unite=>@unite.id}, |
          :with =>"'coll=' + element.id.split('_').last() +                                                                                        |
          '&prof=' + #{@professeurs_charge[groupe].id}")                                                                                           |
- @nbr_charge += 1
- for reste in @nbr_charge..@unite.nbGroupes
  %fieldset
    %legend
      = link_to "Groupe " + reste.to_s, :remote => true,                                                   |
        :url =>{:action=>"maj_coll", :id => @unite.id},                                                    |
        :with => "  'prof_id=' +$('list_professeurs_id_' + #{@unite.id.to_s} + '_' + #{reste.to_s}).value" |
    %table
      %tr
        %td Professeur :
        %td{:width => "200px"}= select "list_professeurs_id", @unite.id.to_s + "_" + reste.to_s, @professeurs.collect {|elt| [ "("+elt.initiale + ") " + elt.prenom + " " + elt.nom, elt.id ]}
        = observe_field "list_professeurs_id_" + @unite.id.to_s + "_" +  reste.to_s, :url=>{:action=>"modification_prof", :groupe=>reste, :unite=>@unite.id}, :with => 'id_prof'
      %tr
        %td Assistant :
        %td{:style => "border:dashed 1px black;"}
          %span{:id => "#{@unite.id}_#{reste}"}
            - if @assistant_charge[reste] == nil
              Glissez un assistant ici
            - else
              = link_to("[X]", :remote => true, :url => {:action=>'del_coll', :element => @unite.id.to_s + "_" + reste.to_s, :charge_id => @charge_id[reste], :personne_id => @assistant_charge[reste].id})
              = " (" + @assistant_charge[reste].initiale + ") " + @assistant_charge[reste].prenom + " " + @assistant_charge[reste].nom
        = drop_receiving_element (@unite.id.to_s + "_" + reste.to_s, :url => {:action=>"drop_collaborateur", :groupe=>reste, :unite=>@unite.id}, |
          :with =>"'coll=' + element.id.split('_').last() +                                                                                      |
          '&prof=' +$('list_professeurs_id_' + #{@unite.id.to_s} + '_' + #{reste.to_s}).value")                                                  |
