- for groupe in 1..@unite.nbGroupes
  %fieldset
    %legend
      = link_to "Groupe " + groupe.to_s, :remote => true,  |
        :url =>{:action=>"maj_coll", :id => @unite.id}    |
    %table
      %tr
        %td Professeur :
        %td= select "list_professeurs_id", groupe.to_s, @professeurs.collect {|elt| [ "("+elt.initiale + ") " + elt.prenom + " " + elt.nom, elt.id ]}
        = observe_field "list_professeurs_id_" + groupe.to_s, :url=>{:action=>"modification_prof", :groupe=>groupe, :unite=>@unite.id}, :with => "id_prof"
      %tr
        %td Assistant :
        %td{:style => "border:dashed 1px black;"}
          %span{:id => "#{@unite.id}_#{groupe}"} Glissez un assistant ici
        = drop_receiving_element (@unite.id.to_s + "_" + groupe.to_s, :url => {:action=>"drop_collaborateur", :groupe=>groupe, :unite=>@unite.id}, |
          :with =>"'coll=' + element.id.split('_').last() +                                                                                        |
          '&prof=' +$('list_professeurs_id_' + #{groupe.to_s}).value")                                                                             |
