= # S'il y a plus de desiderata par rapport au charge, alors on doit faire l'exportation
- if @charge_effectives.size() >= @desideratas.size()
  = # Au chargement de la page  on effectue l'action LOAD
  = set_onload_remote_function(:url=>{:action=>'load'}) 
  %h1 Charges effectives
  %h2 Formulaire d'attribution des laboratoires aux professeurs et aux assistants
  %br
  %table
    %tr
      %td
        %p
          \&nbsp;&nbsp;
          %b Liste des cours
        %div{:style => "height:500px;width:300px;"}
          - unite_courante = 0
          - @liste_unites.each do |unite|
            %div{:id => "unite_#{unite.id}"}
              - if @unites_avertissement[unite_courante] == "Aucun"
                %table.cadreChargeVide{:id => "tab_#{unite.id}"}
              - elsif @unites_avertissement[unite_courante] == "PasAssez"
                %table.cadreChargeIncomplet{:id => "tab_#{unite.id}"}
              - elsif @unites_avertissement[unite_courante] == "Complet"
                %table.cadreChargeComplet{:id => "tab_#{unite.id}"}
              %tr
                %td{:colspan => "3"}
                  = link_to "<b>" + unite.abreviation + "</b> - " +  unite.nom, :remote => true, |
                    :url =>{:action => "show_unite", :id => unite.id}                            |
                  %div{:id => "info_#{unite.id}"}
            - unite_courante += 1
  %td{:style => "width:100px;"}
  %td
    %p
      \&nbsp;&nbsp;
      %b Liste des collaborateurs
    #collaborateur{:style => "height:500px;width:300px;"}
      %b Sélectionner un groupe d'cours !
- else
  = # Afficher le bouton d'exportation desiderata -> charge
  %h1 Charges effectives
  %br
  %fieldset
    %legend Charges effectives
    %b Les désiderata n'ont pas encore été transformés en charges effectives
    %br
    %br
    %font{:color => "red"} Veuillez vous assurer que les désiderata ne contiennent pas d'avertissement de type : "L'unité possède un nombre trop élevé de desiderata"
    %br
    %br
    = link_to "Transformer les desiderata en charges effectives", :action => "transformer_en_charge"
