%h1 Listing sous_type_projets
%table
  %tr
    %th Soustypeprojet
    %th Type projet
  - for sous_type_projet in @sous_type_projets
    %tr
      %td= h sous_type_projet.sousTypeProjet
      %td= h sous_type_projet.type_projet_id
      %td= link_to 'Show', sous_type_projet
      %td= link_to 'Edit', edit_sous_type_projet_path(sous_type_projet)
      %td= link_to 'Destroy', sous_type_projet, data: {:confirm => 'Are you sure?'}, :method => :delete
%br
= link_to 'New sous_type_projet', new_sous_type_projet_path
= link_to 'Menu principal', enseignement_path
