%h1 New sous_type_projet
- form_for(@sous_type_projet) do |f|
  = f.error_messages
  %p
    = f.label :sousTypeProjet
    %br
    = f.text_field :sousTypeProjet
  %p
    Type :
    -#{f.collection_select :type_projet_id, @types_projet, :id, :typeProjet}
  %p
    = f.submit "Create"
= link_to 'Back', sous_type_projets_path
