%p
  %b Soustypeprojet:
  = h @sous_type_projet.sousTypeProjet
%p
  %b Type projet:
  = h @sous_type_projet.type_projet_id
= link_to 'Edit', edit_sous_type_projet_path(@sous_type_projet)
|
-#{link_to 'Back', sous_type_projets_path}
