%h1 Détails personnels d'une personne
%table{:border => ""}
  %tr
    %th Date de naissance
    %th Rue
    %th Code postal
    %th Ville
    %th Pays
    %th Tel externe
    %th Tel urgence
    %th Appel autorisé
    %th Email prive
  - @personne_prives.each do |personne_prive|
    %tr
      %td= h personne_prive.date_naissance
      %td= h personne_prive.rue
      %td= h personne_prive.codePostal
      %td= h personne_prive.ville
      %td= h personne_prive.pays
      %td= h personne_prive.telExterne
      %td= h personne_prive.telUrgence
      %td= h personne_prive.communication_tel_autorisee
      %td= h personne_prive.emailPrive
      %td= link_to 'Show', personne_prive
      %td= link_to 'Edit', edit_personne_prive_path(personne_prive)
      %td= link_to 'Destroy', personne_prive, data: { :confirm => 'Are you sure?'}, :method => :delete
%br
= link_to 'New personne_prive', :controller => 'personne_prives', :action => 'new'
