%h1
  = h @personne.prenom
  = h @personne.nom
  (#{h @personne.initiale})
%h2 Données privées
%br
- semantic_form_for(@personne_prive) do |f|
  = f.error_messages
  - # = f.hidden_field :personne_id, :value=>@personne.id
  = f.inputs do 
    = hidden_field_tag :personne_id, :value=>@personne.id
    = f.input :date_naissance, :as => :calendar, :label => "Date de naissance"
    = f.input :rue, :label => "Rue"
    = f.input :codePostal, :label => "Code postal"
    = f.input :ville, :label => "Ville"
    = f.input :pays, :label => "Pays"
    = f.input :telExterne, :label => "Téléphone externe"
    = f.input :telUrgence, :label => "Téléphone d'urgence"
    = f.input :communication_tel_autorisee, :as => :check_boxes, :collection => ["Oui"], :value=> false, :label => "Appel privé autorisé"
    = f.input :emailPrive, :label => "Adresse e-mail privée"
    %br
    %h2 Données de configuration
    = f.input :mode_saisie_simple, :label => "Saisie des heures en mode simple, sans curseur"
    = f.input :saisie_par_pas_de_15mn, :label => "Saisie avec curseur: tranches de 15' (plutôt que 1')"
  = f.buttons do
    = f.commit_button "Valider"
= link_to 'Retour aux données personnelles', :controller => "personnes", :action => "edit", :id => @personne.id
