%p
  %b Date naissance:
  = h @personne_prive.date_naissance
%p
  %b Rue:
  = h @personne_prive.rue
%p
  %b Code postal:
  = h @personne_prive.codePostal
%p
  %b Ville:
  = h @personne_prive.ville
%p
  %b Pays:
  = h @personne_prive.pays
%p
  %b Tel externe:
  = h @personne_prive.telExterne
%p
  %b Tel urgence:
  = h @personne_prive.telUrgence
%p
%p
  %b Appel privé autorisé:
  = h @personne_prive.communication_tel_autorisee
%p
  %b Emailprive:
  = h @personne_prive.emailPrive

= link_to 'Edit', edit_personne_prive_path(@personne_prive)


-#{link_to 'Back', personne_prives_path}
