%h1 Editing personne_charge_enseignement
- form_for(@personne_charge_enseignement) do |f|
  = f.error_messages
  %p
    = f.submit 'Update'
= link_to 'Show', @personne_charge_enseignement
|
-#{link_to 'Back', personne_charge_enseignements_path}
