%h1 Listing personne_charge_enseignements
%table
  %tr
  - @personne_charge_enseignements.each do |personne_charge_enseignement|
    %tr
      %td= link_to 'Show', personne_charge_enseignement
      %td= link_to 'Edit', edit_personne_charge_enseignement_path(personne_charge_enseignement)
      %td= link_to 'Destroy', personne_charge_enseignement, data: { :confirm => 'Are you sure?'}, :method => :delete
%br
= link_to 'New personne_charge_enseignement', new_personne_charge_enseignement_path
