%h1 Editing annee_academique
- form_for(@annee_academique) do |f|
  = f.error_messages
  %p
    = f.label :annee
    %br
    = f.text_field :annee
  %p
    = f.submit "Update"
= link_to 'Show', @annee_academique
|
-#{link_to 'Back', annee_academiques_path}
