%h1 Listing annee_academiques
%table
  %tr
    %th Annee
  - for annee_academique in @annee_academiques
    %tr
      %td= h annee_academique.annee
      %td= link_to 'Show', annee_academique
      %td= link_to 'Edit', edit_annee_academique_path(annee_academique)
      %td= link_to 'Destroy', annee_academique, data: { :confirm => 'Are you sure?' }, :method => :delete
%br
= link_to 'New annee_academique', new_annee_academique_path
= link_to 'Menu principal', enseignement_path
