%h1 New annee_academique
- form_for(@annee_academique) do |f|
  = f.error_messages
  %p
    = f.label :annee
    %br
    = f.text_field :annee
  %p
    = f.submit "Create"
= link_to 'Back', annee_academiques_path
