%h1 Listing annee_civiles
%table
  %tr
    %th Annee
  - for annee_civile in @annee_civiles
    %tr
      %td= h annee_civile.annee
      %td= link_to 'Show', annee_civile
      %td= link_to 'Edit', edit_annee_civile_path(annee_civile)
      %td= link_to 'Destroy', annee_civile, data: { :confirm => 'Are you sure?' }, :method => :delete
%br
= link_to 'New annee_civile', new_annee_civile_path
= link_to 'Menu principal', enseignement_path
