%h1 New annee_civile
- form_for(@annee_civile) do |f|
  = f.error_messages
  %p
    = f.label :annee
    %br
    = f.text_field :annee
  %p
    = f.submit "Create"
= link_to 'Back', annee_civiles_path
