= semantic_form_for @commentaire, :remote => true, :html => {:id => "form-commentaire"} do |f|
  = f.inputs do
    - if !@affectation_id.nil?
      = hidden_field_tag 'comm_affectation_id', @affectation_id
      = hidden_field_tag 'comm_date', @date
    - else
      = f.input :planification_id, :as => :hidden, :id => "hidden-comm-planif_id"

    = f.input :texte, :id => "input-comm-texte"