%h1 Editing type_evenement_personne
- form_for(@type_evenement_personne) do |f|
  = f.error_messages
  %p
    = f.label :type
    %br
    = f.text_field :type
  %p
    = f.submit "Update"
= link_to 'Show', @type_evenement_personne
|
-#{link_to 'Back', type_evenement_personnes_path}
