%h1 Liste des types d'événements concernant les personnes
%table
  %tr
    %th Type
  - for type_evenement_personne in @type_evenement_personnes
    %tr
      %td= h type_evenement_personne.type_evenement
      %td= link_to 'Show', type_evenement_personne
      %td= link_to 'Edit', edit_type_evenement_personne_path(type_evenement_personne)
      %td= link_to 'Destroy', type_evenement_personne, data: {:confirm => 'Are you sure?'}, :method => :delete
%br
= link_to 'New type_evenement_personne', new_type_evenement_personne_path
= link_to 'Menu principal', enseignement_path
