%h1 Editing type_unite_enseignement
- form_for(@type_unite_enseignement) do |f|
  = f.error_messages
  %p
    = f.label :type_unite
    %br
    = f.text_field :type_unite
  %p
    = f.submit "Update"
= link_to 'Show', @type_unite_enseignement
|
-#{link_to 'Back', type_unite_enseignements_path}
