%h1 Liste des types d'unités d'enseignement
%table
  %tr
    %th Type d'unite d'enseignement
  - for type_unite_enseignement in @type_unite_enseignements
    %tr
      %td= h type_unite_enseignement.type_unite
      %td= link_to 'Show', type_unite_enseignement
      %td= link_to 'Edit', edit_type_unite_enseignement_path(type_unite_enseignement)
      %td= link_to 'Destroy', type_unite_enseignement, data: {:confirm => 'Are you sure?'}, :method => :delete
%br
= link_to 'New type_unite_enseignement', new_type_unite_enseignement_path
= link_to 'Menu principal', enseignement_path
