%h1 New type_unite_enseignement
- form_for(@type_unite_enseignement) do |f|
  = f.error_messages
  %p
    = f.label :type_unite
    %br
    = f.text_field :type_unite
  %p
    = f.submit "Create"
= link_to 'Back', type_unite_enseignements_path
