= set_onload_remote_function(:url=>{:action=>'annee_mise_a_jour', :id_annee_academique=> @annee_academique.id, :index=> "true"}) 
%h1 Liste des périodes
%table
  %tr
    %td
      -#= collection_select "periode", "annee_academique", @annees_academiques.collect {|elt| [ elt.annee, elt.id ] }
  %tr
    %table
      \------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      %tr
        %td.espace100
          %b Descriptif
        %td.espace100
          %b Durée en Semaine
        %td.espace200
          %b Type
        %td.espace200
          %b Année Académique
  %tr
    %td
      - for periode in @periodes
        %div{:id => "periode_#{periode.id}"}
          %table
            %tr
              %td.espace200= h periode.descriptif
              %td.espace100= h periode.dureeSemaine
              %td.espace200= h periode.type_periode.typePeriode
              %td.espace200= h periode.annee_academique.annee
              %td
                %table
                  %tr.espace100
                    %td= link_to 'Visualiser', periode
                    %td= link_to 'Modifier', edit_periode_path(periode)
                    %td= link_to 'Effacer', periode, data: { :confirm => 'Etes-vous sûr de vouloir effacer cette période ? Cette suppression peut rendre plusieurs éléments orphelins'}, :method => :delete
    \------------------------------------------------------------------------------------------------------------------------------------------------------------------------
%br
= link_to 'Nouvelle période', new_periode_path
= link_to 'Menu principal', enseignement_path
.clear
= image_tag "ajax-loader.gif", :id=>"wait_icon", :style=>"display:none"
/ Lorsque le filtre des années académiques est modifié
= observe_field 'periode_annee_academique',         |
  :url=>{:action=>"annee_mise_a_jour"},             |
  :before => "Element.toggle('wait_icon')",         |
  :complete => "Element.toggle('wait_icon')",       |
  :with => "'id_annee_academique=' + escape(value)" |
