%h1 Nouvelle période
- form_for(@periode) do |f|
  = f.error_messages
  %p
    Descriptif : #{f.text_field :descriptif}
  %p
    Durée en Semaine#{f.text_field :dureeSemaine}
  %p
    Type de la période : #{f.collection_select :type_periode_id, @types_periode, :id, :typePeriode}
  %p
    Année académique : #{f.collection_select :annee_academique_id, @annee_academique, :id, :annee}
  %p
    = f.submit "Créer"
= link_to 'Retour', periodes_path
