%p
  %b Descriptif:
  = h @periode.descriptif
%p
  %b Dureesemaine:
  = h @periode.dureeSemaine
%p
  %b Type de la période :
  / On affiche le type de la période
  = h @periode.type_periode.typePeriode
%p
  %td
    %b Année académique:
    / On affiche l'année académique
    = h @periode.annee_academique.annee
= link_to 'Edit', edit_periode_path(@periode)
|
-#{link_to 'Back', periodes_path}
