%h1 Configuration
%br
.header_02= "Gestion des données temporelles"
%ol.info
  = link_to 'Périodes', periodes_path
  %br        
  = link_to 'Années académiques', annee_academiques_path
  %br        
  = link_to 'Années civiles', annee_civiles_path
  %br        
  = link_to 'Mois', mois_path
  %br
  = link_to 'Calendrier Académique', jour_academiques_path
%br
.header_02= "Gestion des types"
%ol.info
  = link_to 'Personnes', type_personnes_path
  %br
  = link_to 'Evénements des personnes', type_evenement_personnes_path
  %br        
  = link_to 'Engagements', type_engagements_path
  %br        
  = link_to 'Unités d\'enseignement', type_unite_enseignements_path
  %br        
  = link_to 'Périodes', type_periodes_path
  %br              
  = link_to 'Projets', type_projets_path
  %br        
  = link_to 'Budgets', type_budgets_path
  %br        
  = link_to 'Identifiants externes (pour les projets)', type_id_externes_path
  %br        
  = link_to 'Niveaux pour les domaines', niveau_competences_path
  %br        
  = link_to "Niveaux d'intérêt pour les unités", interet_unites_path
  %br        
  = link_to 'Domaines de compétence', competence_domaines_path
  %br        
  = link_to 'Axes stratégiques', axe_strategiques_path
%br
.header_02= "Gestion des constantes"
%ol.info
  = link_to 'Constantes', constantes_path
  %br
  = link_to "Liées à l'année civile", cst_heures_path 
  %br
  = link_to "Module de planification", configurations_planifications_path 

