%h1 Gestion de l'Enseignement
%br
= link_to 'Gestion des départements', departements_path
%br
= link_to 'Gestion des filières', filieres_path
%br
= link_to 'Gestion des orientations', orientations_path
%br
= link_to 'Gestion des unités d\'enseignement', unite_enseignements_path
%br
