%h1= "Exportation des heures pour SAGEX"
= semantic_form_for :exportation, :url => do_exportation_heures_sagex_path do |f|
  = f.inputs do 
    = f.input :date_debut, :as => :calendar, :value => @date_debut
    = f.input :date_fin, :as => :calendar, :value => @date_fin
    - if Configuration.saisie_avec_commentaire?
      = f.input :avec_commentaires, :as => :check_boxes, :collection => ["Oui"], :value=> false
  = f.buttons do 
    = f.commit_button "Générer le fichier Excel"