%h1 Modification du département
- form_for(@departement) do |f|
  = f.error_messages
  %p
    Abreviation :
    %br
    = f.text_field :abreviation
  %p
    Texte :
    %br
    = f.text_field :texte
  / ...........................Annee Academique............................
  / Affiche la liste des années académiques
  %p
    Année académique :
    %br
    = f.collection_select :annee_academique_id, @annee_academique, :id, :annee
  / ...............................Personne................................
  / Affiche une liste contenant la personne qui supervise ce departement et
  / les personnes ne supervisant encore aucun departement
  %p
    Superviseur :
    %br
    = f.collection_select :personne_id, @personnes, :id, :initiale
  %p
    = f.submit "Modifier"
= link_to 'Visualiser', @departement
|
-#{link_to 'Retour', departements_path}
