= set_onload_remote_function(:url=>{:action=>'annee_mise_a_jour', :id_annee_academique=>  @annee_academique.id}) 
%h1 Liste des départements #{@annee_academique.annee}
%table
  %tr
    %td
      - #Sélection de l'année académique : #{select "departement", "annee_academique", @annees_academiques.collect {|elt| [ elt.annee, elt.id ] }}
  %tr
    %table
      \------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      %tr
        %td.espace200
          %b Abreviation
        %td.espace500
          %b Texte
        %td.espace100
          %b Superviseur
        %td.espace100
          %b Liens
  %tr
    %td
      - for departement in @departements
        %div{:id => "departement_#{departement.id}"}
          %table
            %tr
              %td.espace200= h departement.abreviation
              %td.espace500= h departement.texte
              - if !(departement.personne==nil)
                %td.espace100= h departement.personne.initiale
              - else
                %td.espace100= "---"
              %td
                %table
                  %tr.espace100
                    %td= link_to 'Détails', departement
                    - if can? :manage, :enseignement
                      %td= link_to 'Modifier', edit_departement_path(departement)
                      %td= link_to 'Effacer', departement, data: { :confirm => 'Etes-vous-sûr?' }, :method => :delete
    \------------------------------------------------------------------------------------------------------------------------------------------------------------------------
%br
= link_to 'Ajouter un département', new_departement_path
= link_to 'Menu principal', enseignement_path
.clear
= image_tag "ajax-loader.gif", :id=>"wait_icon", :style=>"display:none"
/ Lorsque le filtre des années académiques est modifié
= observe_field 'departement_annee_academique',     |
  :url=>{:action=>"annee_mise_a_jour"},             |
  :before => "Element.toggle('wait_icon')",         |
  :complete => "Element.toggle('wait_icon')",       |
  :with => "'id_annee_academique=' + escape(value)" |
