%p
  %b Abreviation :
  = h @departement.abreviation
%p
  %b Texte :
  = h @departement.texte
/ ...........................Annee Academique............................
%p
  %b Année académique :
  / On affiche l'année académique
  %td= h @departement.annee_academique.annee
/ ...............................Personne................................
%p
  %b Superviseur :
  / On affiche les initiales du superviseur
  - if !(@departement.personne==nil)
    %td= h @departement.personne.initiale
  - else
    %td= "---"
= link_to 'Modifier', edit_departement_path(@departement)
= link_to 'Retour', departements_path
