- if @engagements.count > 0
  - @engagements.each do |eng|
    - type=eng.type_engagement.sigle
    - if mode.eql?("actuels")
      - contrats= @structure_contrats[type][:en_cours]
    - elsif mode.eql?("historique")
      - contrats= @structure_contrats[type][:tous]
    - elsif mode.eql?("futurs")
      - contrats= @structure_contrats[type][:futurs]
    - if contrats.count > 0
      = h "Engagement #{eng.type_engagement.libelle} - Contrats"
      %table{:style => "border-collapse: collapse;"}
        %tr
          %th{:align => "left", :width => "80"} Début
          %th{:align => "left", :width => "80"} Fin
          %th{:align => "left", :width => "40"} %
          %th{:align => "left", :width => "10"} 
            - if (can? :manage, eng) and mode.eql?("actuels")
              = link_to image_tag('report_add_small.png'), new_contrat_path({:personne=> @personne.id, :engagement=>eng.id})
        - date = "0000-00-00"
        - contrats.each do |contrat|
          %tr
            %td{:align => "left", :width => "80"}
              = contrat.start_date.strftime("%d-%m-%Y")
            %td{:align => "left", :width => "80"}
              - if contrat.end_date == nil
                Indéterminé
              - else
                = h contrat.end_date.strftime("%d-%m-%Y")
            %td{:align => "left", :width => "40"}
              = h contrat.pourcentage
            - if can? :manage, contrat
              %td{:align => "center", :width => "10"}
                =""
              %td{:align => "center", :width => "40"}
                = link_to image_tag('report_edit_small.png'), edit_contrat_path(contrat)
              %td{:align => "center", :width => "60"}
                = link_to image_tag('destroy_small.png'), contrat, :method => :delete, data: { :confirm => 'Suppression du contrat - Etes-vous sûr?' }
      %br
    - else
      - if ! mode.eql?("futurs")
        = h "Engagement #{eng.type_engagement.libelle} - Contrats"
        %table{:style => "border-collapse: collapse;"}
          %tr
            %th{:align => "left", :width => "80"} Début
            %th{:align => "left", :width => "80"} Fin
            %th{:align => "left", :width => "40"} %
            %th{:align => "left", :width => "10"} 
              - if (can? :manage, eng) and mode.eql?("actuels")
                = link_to image_tag('report_add_small.png'), new_contrat_path({:personne=> @personne.id, :engagement=>eng.id})
        %p{:align => "left", :style => "font-size:10px; margin-left:20px"}
          = h "Aucun contrat"
          - if mode.eql?("actuels")
            = h " en cours"
          - elsif mode.eql?("futurs")
            = h " futur"
          - if @structure_contrats[type][:tous].count<=0
            - if (can? :manage, eng) and mode.eql?("actuels")
              = h ", ni passé, ni futur"
              %br
              = link_to "Supprimer l'engagement", destroy_engagement_contrats_path({:engagement=> eng.id}), :confirm => "Suppression de l'engagement - Etes-vous sûr?"
        %br

- else
  %p{:align => "left", :style => "font-size:10px; margin-left:20px"}Aucun engagement