= semantic_form_for(@contrat) do |f|
  - contrat = f.object
  = f.inputs do 
    .header_02="Engagement #{@contrat.engagement.type_engagement.libelle}"
    %br
    %br
    %br
    = f.hidden_field :engagement_id
    = f.input :start_date, :label => "Débute le", :as => :calendar
    = f.input :end_date, :label => "Prends fin le", :as => :calendar, :hint => "Laissez ce champ vide pour indiquer un contrat à durée indéterminée"
    = f.input :pourcentage, :label => "Pourcentage", :hint => "Entre 10 et 100"
  = f.buttons do
    = f.commit_button "Valider"
