-#- if @contrat
-#  = "Actions sur le contrat : #{@contrat.display_name}"
= "Actions globales sur les contrats"
-#= menu_item "Nouveau contrat", new_contrat_path, :new, :contrats, can?(:create, Contrat), params
= menu_item "Liste des contrats", index_global_contrats_path, :index_global, :contrats, can?(:index_global, Contrat), params
= menu_item "Statistiques", stats_contrats_path, :stats, :contrats, can?(:stats, Contrat), params
%br