- content_for :left_menu do
  = render :partial => 'personnes/left_menu'
  %br
  = render :partial => 'contrats/left_menu'
%h1= "#{@personne.display_name} - Contrats et engagements"
%br
.header_02="Plages contractuelles de l'année #{@annee_civile}"
= render :partial => 'plage_contractuelles/plages_contractuelles', :locals => {:contrats => @contrats_de_lannee, :plages => @plages_contractuelles, :personne => @personne, :annee => Date.today.year}
%br
%br
.header_02="En cours - Taux d'activité #{@taux_activite_actuel}%"
%ol.info
  = render :partial => 'contrats', :locals => {:mode=>"actuels"}
  %br
  - if Contrat.types_engagements_possibles(@personne).count > 0 and can? :manage, Contrat
    = link_to 'Nouvel engagement', nouvel_engagement_contrats_path({:personne=> @personne.id})
%br
%br
- if @contrats_futurs.count>0
  .header_02="Futur"
  %ol.info
    = render :partial => 'contrats', :locals => {:mode=>"futurs"}
  %br
  %br
.header_02="Historique"
%ol.info
  = render :partial => 'contrats', :locals => {:mode=>"historique"}

