- content_for :left_menu do
  = render :partial => 'left_menu'
%h1 Liste des contrats actuels
%br

%fieldset
  %legend= "Filtres"
  = search_form_for @search, :url => index_global_contrats_path, :html => {:method => :get} do |f|
    = f.label :end_date_lt, "Se termine avant le :"
    /= f.calendar_date_select :end_date_less_than, :size => 10
    = f.text_field :end_date_lt, :class => "datepicker", :size => 10
    = f.submit "Appliquer"
.spacer
- if @contrats.count == 0
  = "Aucun contrat"
- else
  %table
    %tr
      %th{:style => "text-align:left; width : 190px"}= sortable "personnes.nom", "Collaborateur"
      %th{:style => "text-align:center; width : 100px"}= sortable "type_engagements.libelle", "Engagement"
      %th{:style => "text-align:center; width : 60px"}= sortable "pourcentage", "%"
      %th{:style => "text-align:left; width : 85px"}= sortable "start_date", "A débuté le"
      %th{:style => "text-align:left; width : 85px"}= sortable "end_date", "Se termine le"
      %th{:style => "text-align:center; width : 80px"}= "Axe"
      - if can? :manage, Contrat
        %th{:style => "text-align:center; width : 100px"} Options
    - @contrats.each do |contrat|
      %tr
        %td
          - if can? :show, contrat.engagement.personne
            = link_to contrat.engagement.personne.display_name, [contrat.engagement.personne,:contrats]
          - else
            = contrat.engagement.personne.display_name
        %td{:align => "center"}= contrat.engagement.type_engagement.libelle
        %td{:align => "center"}= contrat.pourcentage
        %td= l contrat.start_date
        - if contrat.end_date==nil
          %td{:align => "left"} Indéterminé
        - else
          %td{:align => "left"}= l contrat.end_date
        %td{:align => "center"}= contrat.engagement.personne.axe_strategique.sigle
        - if can? :manage, contrat
          %td{:align => "center"}
            = link_to 'Modifier', edit_contrat_path(contrat)
            = link_to 'Supprimer', contrat, data: { :confirm => 'Etes-vous sûr de supprimer le contrat?' }, :method => :delete
  