- content_for :left_menu do
  = render :partial => 'left_menu'
%h1= "Nouvel engagement pour #{@personne.display_name}"
%br
= semantic_form_for(@engagement, :url=>create_engagement_contrats_path({:personne=> @personne.id})) do |f|
  = f.inputs do 
    %br
    %br
    = f.hidden_field :personne_id, :value => @personne.id 
    = f.input :type_engagement, :label => "Type de l'engagement", :collection => @types_engagements_possibles, :label_method => :libelle, :include_blank => " - Choisissez un type d'engagement -"
  = f.buttons do
    = f.commit_button "Valider"