- content_for :left_menu do
  = render :partial => 'left_menu'
%h1 Statistiques
%br
%h2 Contrats actuellement en cours
%fieldset
  %legend Tous les axes confondus
  %div{:style => "margin-left:20px;float:left;text-align:right;margin-top:50px;"}
    - i=0
    - for typeEngagement in @types_engagements
      Nombre de contrats de type #{h @statistique[0][1][i][0]} :
      %br
      - i=i+1
    Nombre de collaborateurs sous contrat :
    %br
    Nombre d'heures d'enseignement :
    %br
    Nombre d'heures de R&D :
    %br
    %br
  %div{:style => "margin-left:20px;float:left; align:left;margin-top:50px;"}
    - i=0
    - for typeEngagement in @types_engagements
      = h @statistique[0][1][i][1]
      %br
      - i=i+1
    = h @statistique[0][0]
    %br
    = h @statistique[0][2]
    %br
    = h @statistique[0][3]
  %div{:style => "margin-left:50px;float:left;"}
    - if @statistique[0][0] != 0
      = bar_graph(@statistique[0][4]).html_safe
  .clear
- for axe in @axes
  %br
  %fieldset
    %legend
      Axe : #{h axe.nom}
    %div{:style => "margin-left:20px;float:left;text-align:right;margin-top:50px;"}
      - i=0
      - for typeEngagement in @types_engagements
        Nombre de contrats de type #{h @statistique[axe.id][1][i][0]} :
        %br
        - i=i+1
      Nombre de collaborateurs sous contrat :
      %br
      Nombre d'heures d'enseignement :
      %br
      Nombre d'heures de R&D :
      %br
      %br
    %div{:style => "margin-left:20px;float:left; align:left;margin-top:50px;"}
      - i=0
      - for typeEngagement in @types_engagements
        = h @statistique[axe.id][1][i][1]
        %br
        - i=i+1
      = h @statistique[axe.id][0]
      %br
      = h @statistique[axe.id][2]
      %br
      = h @statistique[axe.id][3]
    %div{:id => "axe_#{axe.id}", :style => "margin-left:50px;float:left; width: 100px; height: 100px"}
      - if @statistique[axe.id][0] != 0
        = bar_graph(@statistique[axe.id][4]).html_safe
    .clear
