%h1 Editing charge_enseignement
- form_for(@charge_enseignement) do |f|
  = f.error_messages
  %p
    = f.submit 'Update'
= link_to 'Show', @charge_enseignement
|
-#{link_to 'Back', charge_enseignements_path}
