%h1 Listing charge_enseignements
%table
  %tr
  - @charge_enseignements.each do |charge_enseignement|
    %tr
      %td= link_to 'Show', charge_enseignement
      %td= link_to 'Edit', edit_charge_enseignement_path(charge_enseignement)
      %td= link_to 'Destroy', charge_enseignement, data: { :confirm => 'Are you sure?' }, :method => :delete
%br
= link_to 'New charge_enseignement', new_charge_enseignement_path
