%h1 Editing contrat_annuel
- form_for(@contrat_annuel) do |f|
  = f.error_messages
  %p
    Collaborateur :
    -#{f.collection_select :personne_id, @personnes, :id, :initiale}
  %p
    Année du contrat  :
    -#{f.collection_select :annee_civile_id, @annees_civiles, :id, :annee}
  %p
    = f.submit 'Update'
= link_to 'Show', @contrat_annuel
|
-#{link_to 'Back', contrat_annuels_path}
