%h1 Gestion des contrats sur l'année
Collaborateur : #{h @contrat_annuel.personne.nom} #{h @contrat_annuel.personne.prenom} (#{h @contrat_annuel.personne.initiale})
%br
Année : #{h @contrat_annuel.annee_civile.annee}
%br
%br
%table
  %th{:align => "left"} Mois
  %th Contrat
  / <th>Quotient</th>
  %th{:width => "200"} Options
  - for contrat_mensuels in @contrat_mensuel
    %tr
      %td{:width => "100"}= h contrat_mensuels.moi.mois
      - for type_contrat in @type_contrat
        - if type_contrat.id == contrat_mensuels.type_contrat_id
          %td{:align => "center", :width => "100"}= h type_contrat.typeContrat
      / <td align="center"><haml:loud>h contrat_mensuels.quotient</haml:loud></td>
      %td{:align => "center"}
        = link_to 'Edit', :controller => "contrat_mensuels", :action => "edit", :id => contrat_mensuels.id
        = link_to 'Delete', :controller => "contrat_mensuels", :action => "destroy", :id => contrat_mensuels.id
%br
%br
%br
= link_to 'Nouveau contrat', :controller => "contrat_mensuels", :action => "new", :id => @contrat_annuel.id
= link_to 'Retour à la gestion des contrats annuels', :controller => "contrat_annuels"
= link_to 'Menu principal', enseignement_path
