%h1 Liste des contrats
%br
%table
  %tr
    %th Initiales
    %th Employé
    %th Contrat actuel
    %th Axe
    %th Options
  - @contrat_annuel.each do |contrat_annuel|
    %tr
      %td{:align => "center", :width => "50"}= h contrat_annuel.personne.initiale
      %td{:align => "center"}
        = h contrat_annuel.personne.nom
        = h contrat_annuel.personne.prenom
      %td{:align => "center"}= h contrat_annuel.annee_civile.annee
      %td{:align => "center"}= h contrat_annuel.personne.axe_strategique.nom
      %td{:align => "center", :width => "300"}
        = link_to 'Gestion du contrat sur l\'année', {:action => 'gestion_charges_annee', :id=> contrat_annuel.id}
        = link_to 'Show', contrat_annuel
        = link_to 'Edit', edit_contrat_annuel_path(contrat_annuel)
        = link_to 'Destroy', contrat_annuel, data: { :confirm => 'Are you sure?' }, :method => :delete
%br
= link_to 'Nouveau contrat', new_contrat_annuel_path
= link_to 'Menu principal', enseignement_path
