%h1 Modification de contrat
- form_for(@nouveau_type) do |f|
  = f.error_messages
  %p
    Personne :  #{@contrat_annuels.personne.nom}
  %p
    Débute au mois de :
    -#{f.collection_select :moi_id, @mois, :id, :mois}
