%h1 Ajout d'un contrat
- form_for(@contrat_annuel) do |f|
  = f.error_messages
  %p
    Collaborateur :
    -#{f.collection_select :personne_id, @personnes, :id, :initiale}
  %p
    Année du contrat  :
    -#{f.collection_select :annee_civile_id, @annees_civiles, :id, :annee}
  %p
    = f.submit "Créer"
= link_to 'Retour', contrat_annuels_path
