%p
  %b Collaborateur :
  = h @contrat_annuel.personne.nom
  = h @contrat_annuel.personne.prenom
  (#{h @contrat_annuel.personne.initiale})
%p
  %b Année de contrat :
  = h @contrat_annuel.annee_civile.annee
= link_to 'Edit', edit_contrat_annuel_path(@contrat_annuel)
|
-#{link_to 'Back', contrat_annuels_path}
