%h1 Editing desiderata_projet
- form_for(@desiderata_projet) do |f|
  = f.error_messages
  %p
    = f.label :nbHeuresRetD
    %br
    = f.text_field :nbHeuresRetD
  %p
    = f.label :nbHeuresEnseignement
    %br
    = f.text_field :nbHeuresEnseignement
  %p
    Personne :
    %br
    = f.collection_select :personne_id, @personnes, :id, :initiale
  %p
    Année académique :
    -#{f.collection_select :annee_academique_id, @annees_academiques, :id, :annee}
  %p
    = f.submit "Update"
= link_to 'Show', @desiderata_projet
|
-#{link_to 'Back', desiderata_projets_path}
