= set_onload_remote_function(:url=>{:action=>'annee_mise_a_jour', :id_annee_academique=> @annee_academique.id}) 
%h1 Liste des desiderata de projet
%table
  %tr
    %td
      Sélection de l'année académique : #{select "desiderata_projet", "annee_academique", @annees_academiques.collect {|elt| [ elt.annee, elt.id ] }}
  %tr
    %table
      \------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      %tr
        %td.espace100
          %b Nombre d'heures R&D
        %td.espace100
          %b Nombre d'heures d'enseignement
        %td.espace200
          %b Personne
  %tr
    %td
      - for desiderata_projet in @desiderata_projets
        %div{:id => "desiderata_projet_#{desiderata_projet.id}"}
          %table
            %tr
              %td.espace100= h desiderata_projet.nbHeuresRetD
              %td.espace100= h desiderata_projet.nbHeuresEnseignement
              %td.espace200
                = h desiderata_projet.personne.prenom
                = h desiderata_projet.personne.nom
                (#{h desiderata_projet.personne.initiale})
              %td
                %table
                  %tr.espace100
                    %td= link_to 'Visualiser', desiderata_projet
                    %td= link_to 'Modifier', edit_desiderata_projet_path(desiderata_projet)
                    %td= link_to 'Effacer', desiderata_projet, data: { :confirm => 'Etes-vous-sûr?' }, :method => :delete
    \------------------------------------------------------------------------------------------------------------------------------------------------------------------------
%br
= link_to 'Ajouter un desideratum de projet', new_desiderata_projet_path
= link_to 'Menu principal', enseignement_path
.clear
= image_tag "ajax-loader.gif", :id=>"wait_icon", :style=>"display:none"
/ Lorsque le filtre des années académiques est modifié
= observe_field 'desiderata_projet_annee_academique', |
  :url=>{:action=>"annee_mise_a_jour"},               |
  :before => "Element.toggle('wait_icon')",           |
  :complete => "Element.toggle('wait_icon')",         |
  :with => "'id_annee_academique=' + escape(value)"   |
