%p
  %b Nbheuresretd:
  = h @desiderata_projet.nbHeuresRetD
%p
  %b Nbheuresenseignement:
  = h @desiderata_projet.nbHeuresEnseignement
%p
  %b Personne:
  = h @desiderata_projet.personne.initiale
  (#{h @desiderata_projet.personne.prenom} #{h @desiderata_projet.personne.nom})
%p
  %b Annee academique:
  = h @desiderata_projet.annee_academique.annee
= link_to 'Edit', edit_desiderata_projet_path(@desiderata_projet)
|
-#{link_to 'Back', desiderata_projets_path}
