%h1 Editing type_periode
- form_for(@type_periode) do |f|
  = f.error_messages
  %p
    = f.label :typePeriode
    %br
    = f.text_field :typePeriode
  %p
    = f.submit "Update"
= link_to 'Show', @type_periode
|
-#{link_to 'Back', type_periodes_path}
