%h1 Listing type_periodes
%table
  %tr
    %th Type periode
  - for type_periode in @type_periodes
    %tr
      %td= h type_periode.typePeriode
      %td= link_to 'Show', type_periode
      %td= link_to 'Edit', edit_type_periode_path(type_periode)
      %td= link_to 'Destroy', type_periode, data: {:confirm => 'Are you sure?'}, :method => :delete
%br
= link_to 'New type_periode', new_type_periode_path
= link_to 'Menu principal', enseignement_path
