%h1 New type_periode
- form_for(@type_periode) do |f|
  = f.error_messages
  %p
    = f.label :typePeriode
    %br
    = f.text_field :typePeriode
  %p
    = f.submit "Create"
= link_to 'Back', type_periodes_path
