%h1 Editing road_map_action
- form_for(@road_map_action) do |f|
  = f.error_messages
  %p
    = f.label :action
    %br
    = f.text_field :action
  %p
    = f.submit 'Update'
= link_to 'Show', @road_map_action
|
-#{link_to 'Back', road_map_actions_path}
