%h1 Listing road_map_actions
%table
  %tr
    %th Action
  - @road_map_actions.each do |road_map_action|
    %tr
      %td= h road_map_action.action
      %td= link_to 'Show', road_map_action
      %td= link_to 'Edit', edit_road_map_action_path(road_map_action)
      %td= link_to 'Destroy', road_map_action, data: {:confirm => 'Are you sure?'}, :method => :delete
%br
%br
Dupliquer les données :
-#{button_to_remote "Duplicata ",  :url=>{:controller=> "Bachelor", :action=>"dupliquer"}, :confirm=>"Êtes-vous sûr de vouloir effectuer cette opération? Sachez que cette opération effectue le duplicata des données suivantes: - Année académique - Périodes - Constantes - Départements - Filières - Orientations - Modules - Liens entre des modules et des orientations - Unités d'enseignement - Liens entre des modules et des unité d'enseignement - Compétences sur les unités d'enseignement - Desiderata des professeurs - Liens entre les desiderata et les personnes - Projets de type Enseignement   - Desiderata de projet"}
%br
= link_to 'New road_map_action', new_road_map_action_path
