%div{:align => "center"}
  %font{:color => "red"}
    %b
      Une erreur est survenue.
      %br
      Veuillez recommencer.
      %br
      %br
      Si l'erreur persiste, veuillez contacter l'administrateur
