%h1 Ouvrir une session
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %p
    = f.label "Identifiant EINET"
    %br/
    = f.text_field :username
  %p
    = f.label "Mot de passe"
    %br/
    = f.password_field :password
  - if devise_mapping.rememberable?
    %p
      = f.check_box :remember_me
      = f.label "Conserver ma session après fermeture du navigateur"
  %p= f.submit "Ouvrir une session"
= render :partial => "devise/shared/links"
