- if @axe_strategique && !@axe_strategique.new_record?
  = "Actions sur l'axe #{@axe_strategique.sigle}"
  = menu_item "Supprimer l'axe", axe_strategique_path(@axe_strategique), :destroy, :axe_strategiques, can?(:destroy, @axe_strategique), params, :method => :delete, data: {:confirm => "Etes-vous sûr ?"}
%br
= "Actions globales sur les axes strategiques"
= menu_item "Liste des axes", axe_strategiques_path, :index, :axe_strategiques, can?(:read, AxeStrategique), params
= menu_item "Ajouter un axe", new_axe_strategique_path, :new, :axe_strategiques, can?(:create, AxeStrategique), params
%br