= semantic_form_for(@axe_strategique) do |f|
  - axe = f.object
  = f.inputs do
    = f.input :nom, :label => "Nom complet de l'axe", :input_html => {:size => 40, :maxlength => 50} 
    = f.input :sigle, :label => "Nom abrégé", :input_html => {:size => 10, :maxlength => 10} , :hint => "Utilisé dans l'affichage des contrats et les données d'une personne"

  = f.buttons do
    = f.commit_button "Valider"