%ol.info
  %table
    %tr
      %th{:style => "text-align:left; width: 160px"}="Nom complet"
      %th{:style => "text-align:left; width: 90px"}="Abrégé"
    - @axe_strategiques.each do |axe_strategique|
      %tr
        %td= h axe_strategique.nom
        %td= h axe_strategique.sigle
        %td= link_to image_tag('report_edit.png'), edit_axe_strategique_path(axe_strategique)
  %br
