- content_for :left_menu do
  = render :partial => 'actions'
%h1= "Axes stratégiques"
%br
- if @axe_strategiques.count == 0
  = "Aucun axe stratégique pour le moment"
= render :partial => "liste_axes"

