- if @vient_de.eql?("projet")
  - path = @projet.becomes(Projet) # required because of the inheritance in the genres of projects
- else
  - path = @personne
- if mode.eql?("update")
  - if @affectation_projet.est_active
    = menu_item "Desactiver l'affectation", desactiver_projet_affectation_projet_path(@projet, @affectation_projet), :desactiver, :affectation_projets, can?(:edit, @projet), params, data: { :confirm => "Etes-vous sûr ?" }
  - if !@affectation_projet.est_active
    = menu_item "Activer l'affectation", activer_projet_affectation_projet_path(@projet, @affectation_projet), :activer, :affectation_projets, can?(:edit, @projet), params, data: { :confirm => "Etes-vous sûr ?" }
= link_to "Annuler", path, :class => "menu"