.spacer
.affectation_attributes
  .header_03= "Détails de l'affectation"
  - if !ap.en_activite?
    - if ap.hors_date?
      - if !ap.est_active
        .affectation_info= " !! Hors date & désactivée"
      - else
        .affectation_info= " !! Hors date"
    - if !ap.est_active
      .affectation_info= " !! Désactivée"
    - if !ap.projet.en_activite?
      .affectation_info= " !! Projet désactivé"
  - if ap.charge_horaire
    .affectation_info= "Charge: #{ap.charge_horaire} heures"
  - if ap.cout_horaire
    .affectation_info= "Coût horaire: #{ap.cout_horaire} CHF / heure"
  - if ap.engagement
    .affectation_info= "Engagement: #{ap.engagement.display_name}"
  - if ap.date_debut
    .affectation_info= "Date début: #{d(ap.date_debut)}"
  - if ap.date_fin
    .affectation_info= "Date fin: #{d(ap.date_fin)}"
  - if ap.display_name
    .affectation_info= "Etiquette: #{ap.display_name}"
  - if ap.projet.type_projet.saisie_heures_possible_profs || ap.projet.type_projet.saisie_heures_possible_collaborateurs
    .affectation_info= "Export Sagex: #{ap.export_sagex ? 'oui' : 'non'}"
    .affectation_info= "Saisie RH uniquement: #{ap.saisie_heures_par_RH_uniquement ? 'oui' : 'non'}"
  - if ap.description && !ap.description.empty?
    .affectation_info= "Description: #{ap.description}"
  .affectation_info
    - if !ap.projet.is_archive?
      - if can? :edit, ap
        = link_to "Modifier", edit_personne_affectation_projet_path(ap.personne, ap.becomes(AffectationProjet), {:vient_de => vient_de})
      - if can? :destroy, ap
        = " | "
        = link_to "Supprimer", personne_affectation_projet_path(ap.personne, ap.becomes(AffectationProjet), {:vient_de => vient_de}), :method => :delete, data: { :confirm => "Etes-vous sûr de vouloir supprimer cette affectation ?" }
      - if ap.plage_horaire_saisies.length!=0
        - if can? :manage, :supprimer_heures_saisies
          %br
          = link_to "Supprimer heures saisies", supprimer_heures_saisies_projet_affectation_projet_path(ap.projet.id, ap.id, {:vient_de => vient_de}), data: { :confirm => "Etes-vous sûr ?" }
  .clear
.affectation_consommation
  .header_03
    = "Heures saisies"
    - if !ap.projet.is_archive?
      - if can? :consulter_heures_saisies, ap.personne
        = " - "
        = link_to "Détail des heures saisies", [:semaine, ap.personne, :plage_horaire_saisies]
  .affectation_consommation_graph{:"data-ap_id" => ap.id}

