- content_for :head do
  = javascript_include_tag('affectation_projets')

- if @vient_de=="projet"
  - @path = @projet
  - path = @path.becomes(Projet)
  - if @affectation_projet.new_record? 
    - url = projet_affectation_projets_path(@projet.id, :vient_de => @vient_de)
  - else
    - url = projet_affectation_projet_path(@projet.id, @affectation_projet.id, :vient_de => @vient_de)
- else
  - @path= @personne
  - path = @path
  - if @affectation_projet.new_record? 
    - url = personne_affectation_projets_path(@personne.id, :vient_de => @vient_de)
  - else
    - url = personne_affectation_projet_path(@personne.id, @affectation_projet.id, :vient_de => @vient_de)
 
-# OU: = semantic_form_for [@path, @affectation_projet], :as => :affectation_projet, :url => [path, @affectation_projet] do |f|
-# Ressources imbriquées => deux objets utilisés, le conteneur d'abord, le contenu ensuite
= semantic_form_for [@path, @affectation_projet], :as => :affectation_projet, :url => url do |f|
  -#= f.object.errors
  = f.inputs do
    - if @projet
      = f.hidden_field :projet_id
    - else
      = f.input :projet, :collection => @projets, :include_blank => " - Choisissez un projet -" if f.object.new_record?
    - if @personne
      = f.hidden_field :personne_id
    - else
      = f.input :personne, :collection => @personnes, :include_blank => " - Choisissez une personne -" if f.object.new_record?
    = render :partial => "project_specific_fields", :locals => {:o => f.object}

  = f.buttons do 
    = f.commit_button "Valider"
    .clear
    = link_to "Annuler", path

 
 