.clear
.spacer
- affectations.each do |ap|
  - if (!ap.projet.is_archive?) ||(m.kind_of? Projet)
    - if can? :show, ap
      .affectation_projet{:"data-ap_id" => ap.id}
        .affectation_label
          - if m.kind_of? Personne
            - if ap.projet==nil
              = "**"
            - else
              - if can? :show, ap.projet
                = link_to(ap.display_name, ap.projet.becomes(Projet))
              - else
                = ap.display_name
            - if !ap.en_activite?
              = image_tag('inactif.png')
          - if m.kind_of? Projet
            - m = m.becomes(Projet)
            - if can? :show, ap.personne
              - if ap.engagement
                = link_to(ap.personne.display_name + '-' + ap.engagement.type_engagement.libelle+ '', ap.personne)
              - else
                = link_to(ap.personne.display_name + '--', ap.personne)
            - else
              - if ap.engagement
                = ap.personne.display_name + '-' + ap.engagement.type_engagement.libelle+ ''
              - else
                = ap.personne.display_name + '--' 
            - if ap.hors_date? || ap.est_desactivee?
              = image_tag('inactif.png')
          - if (ap.heures_saisies.to_f / ap.charge_horaire.to_f) > 1.0
            - barclass = "progressbar_depassement"
          - else
            - barclass = ""
        - if ap.charge_horaire
          %div{:class => "affectation_progressbar #{barclass}", :"data-charge" => ap.charge_horaire, :"data-heures_saisies" => ap.heures_saisies}
          -#.affectation_ratio1= "#{ap.heures_saisies.truncate}h#{((ap.heures_saisies%1)*60).to_i}m"
          .affectation_ratio1= heure_en_format_jours_heures_minutes(ap.heures_saisies, ap.projet.affichage_charge_en_jours)        
          .affectation_ratio2= " /"
          -#.affectation_ratio3= "#{ap.charge_horaire.truncate}h#{((ap.charge_horaire%1)*60).to_i}m"
          .affectation_ratio3= heure_en_format_jours_heures_minutes(ap.charge_horaire, ap.projet.affichage_charge_en_jours)
        - else
          %div{:style => "width: 35%; float: left"}= "&nbsp;".html_safe
          -#.affectation_ratio1= "#{sprintf("%0.01f", ap.heures_saisies)}"
          .affectation_ratio1= heure_en_format_jours_heures_minutes(ap.heures_saisies, ap.projet.affichage_charge_en_jours) 
          .affectation_ratio2= "&nbsp;".html_safe
          .affectation_ratio3= "&nbsp;".html_safe
        
        %button.affectation_button= "Détails"
        .clear
        - if m.kind_of? Projet # On vient de projet
          .affectation_details{:"data-ap_id" => ap.id, :"data-projet_id" => ap.projet.id, :"vient_de" => "projet"}
        - else # On vient de personne
          .affectation_details{:"data-ap_id" => ap.id, :"data-projet_id" => ap.projet.id, :"vient_de" => "personne"}
      .clear
      .spacer