= semantic_fields_for :affectation_projet, o do |f|
  = f.inputs(:id=>"project_specific_fields") do
    - if o.projet
      = render :partial => "engagements_select", :locals => {:o => f.object, :engagements => @engagements}
      - if o.projet.type_projet.charge_financiere_renseignee
        = f.input :cout_horaire, :label => "Coût horaire", :hint => "en CHF"
      - if o.projet.kind_of? ProjetAcademique
        - if o.projet.kind_of? ProjetEnseignement
          =# f.hidden_field :charge_horaire
          = f.input :charge_horaire, :label => "Charge horaire", :hint => "Nombre d'heures"
        - else
          = f.input :charge_horaire, :label => "Charge horaire", :hint => "Nombre d'heures"
        = f.input :taux, :hint => "entre 10 et 100"
      - else
        = f.input :charge_horaire, :label => "Charge horaire", :hint => "Nombre d'heures"
      = f.input :date_debut, :as => :calendar
      = f.input :date_fin, :as => :calendar
      = f.input :display_name, :label => "Etiquette", :hint => "Nom apparaissant dans la liste des affectations - Max 30 car. - Recommandé 20"
      - if o.projet.type_projet.saisie_heures_possible_profs || o.projet.type_projet.saisie_heures_possible_collaborateurs
        = f.input :export_sagex, :label => "Exporter les heures saisies dans sagex ?"
        = f.input :saisie_heures_par_RH_uniquement, :label =>  "Saisie des heures uniquement par le responsable RH ?"

      = f.input :description
    
