- content_for :left_menu do
  = render :partial => 'actions', :locals =>{:mode=>"update"}
%h1
  = "Modification d'une affectation"
%br
.header_03= "Pour #{@affectation_projet.personne.display_name}"
.header_03= "Projet #{@affectation_projet.projet.display_name}"
%h2
  - if @affectation_projet.hors_date? || @affectation_projet.est_desactivee?
    = image_tag('inactif.png')
    - if @affectation_projet.hors_date?
      - if @affectation_projet.est_desactivee?
        = " Hors date & désactivée"
      - else
        = " Hors date"
    - else
      = " Désactivée"
    %br
%br
= render :partial => "form"