- content_for :left_menu do
  = render :partial => 'actions', :locals =>{:mode=>"new"}
%h1
  = "Nouvelle affectation"
%br
- if @personne
  .header_03= "Pour #{@affectation_projet.personne.display_name}"
- if @projet
  .header_03= "Projet #{@affectation_projet.projet.display_name}"
%br
= render :partial => "form"