= semantic_form_for @jalon, :remote => true, :html => {:id => "form-jalon"} do |f|
  = f.inputs do
    = f.input :affectation_projet_id, :as => :hidden
    = f.input :titre
    = f.input :date#, :as => :string, :input_html => {:class => 'datepicker'}
    = f.input :description

  -#= f.actions do
  -#  = f.action :submit, :as => :input
