%p#notice= notice

%p
  %b Affectation projet:
  = @jalon.affectation_projet_id
%p
  %b Mail:
  = @jalon.mail_id
%p
  %b Date:
  = @jalon.date
%p
  %b Titre:
  = @jalon.titre
%p
  %b Description:
  = @jalon.description

= link_to 'Edit', edit_jalon_path(@jalon)
\|
= link_to 'Back', jalons_path
