%h1 Editing niveau_competence
- form_for(@niveau_competence) do |f|
  = f.error_messages
  %p
    = f.label :niveau
    %br
    = f.text_field :niveau
  %p
    = f.submit "Update"
= link_to 'Show', @niveau_competence
|
-#{link_to 'Back', niveau_competences_path}
