%h1 Listing niveau_competences
%table
  %tr
    %th Niveau
  - for niveau_competence in @niveau_competences
    %tr
      %td= h niveau_competence.niveau
      %td= link_to 'Show', niveau_competence
      %td= link_to 'Edit', edit_niveau_competence_path(niveau_competence)
      %td= link_to 'Destroy', niveau_competence, data: { :confirm => 'Are you sure?' }, :method => :delete
%br
= link_to 'New niveau_competence', new_niveau_competence_path
= link_to 'Menu principal', enseignement_path
