%h1 New niveau_competence
- form_for(@niveau_competence) do |f|
  = f.error_messages
  %p
    = f.label :niveau
    %br
    = f.text_field :niveau
  %p
    = f.submit "Create"
= link_to 'Back', niveau_competences_path
