- for orientation in @orientations
  %div{:style => "float:left;width:100px;text-align:left;"}
    = h orientation.abreviation
  %div{:style => "float:left;width:200px;text-align:left;"}
    = h orientation.texte
  %div{:style => "float:left;width:100px;text-align:left;"}
    = h orientation.filiere.abreviation
  %div{:style => "float:left;", :width => "200px"}
    = link_to 'Détails', orientation
  - if can? :manage, :enseignement
    %div{:style => "float:left;", :width => "200px"}
      = link_to 'Modifier', edit_orientation_path(orientation)
    %div{:style => "float:left;", :width => "200px"}
      = link_to 'Effacer', orientation, data: { :confirm => 'Etes-vous sûr de vouloir effacer cette orientation ? Cette suppression peut rendre des modules orphelins' }, :method => :delete
  %div{:style => "clear:both;"}
  %br
