%h1 Liste des orientations #{@annee_academique.annee}
%br
- #%fieldset
- #  %legend Filres
- #  %table
- #    %tr
- #      %td{:width => "280px"}
- #        Sélection de l'année académique : #{select "orientation", "annee_academique", @annees_academiques.collect {|elt| [ elt.annee, elt.id ] }}
%br
%div{:style => "float:left;width:100px;text-align:left;"}
  %b Abreviation
%div{:style => "float:left;width:200px;text-align:left;"}
  %b Texte
%div{:style => "float:left;width:100px;text-align:left;"}
  %b Filière
%br
%br
#liste_orientations{:width => "500px"}
  - for orientation in @orientations
    %div{:style => "float:left;width:100px;text-align:left;"}
      = h orientation.abreviation
    %div{:style => "float:left;width:200px;text-align:left;"}
      = h orientation.texte
    %div{:style => "float:left;width:100px;text-align:left;"}
      = h orientation.filiere.abreviation
    %div{:style => "float:left;width:50px;text-align:left;"}
      = link_to 'Détails', orientation
    - if can? :manage, :enseignement
      %div{:style => "float:left;width:50px;text-align:left;"}
        = link_to 'Modifier', edit_orientation_path(orientation)
      %div{:style => "float:left;width:50px;text-align:left;"}
        = link_to 'Effacer', orientation, data: { :confirm => 'Etes-vous sûr de vouloir effacer cette orientation ? Cette suppression peut rendre des modules orphelins' }, :method => :delete
    %div{:style => "clear:both;"}
    %br
%br
= link_to 'Ajouter une orientation', new_orientation_path
= link_to 'Menu principal', enseignement_path
/ Lorsque le filtre des années académiques est modifié
= observe_field 'orientation_annee_academique',      |
  :url=>{:action=>"annee_mise_a_jour"},              |
  :with => "'&id_annee_academique=' + escape(value)+ |
  '&index=' + '#{true}'"                             |
