%h1 Ajout d'une nouvelle orientation
- form_for(@orientation) do |f|
  = f.error_messages
  %p
    Abreviation : #{f.text_field :abreviation}
  %p
    Texte : #{f.text_field :texte}
  %p
    Année académique : #{f.collection_select :annee_academique_id, @annees_academiques, :id, :annee}
  %p
    Filières : #{f.collection_select :filiere_id, @filieres_annee, :id, :abreviation}
  %p
    = f.submit "Créer"
= link_to 'Retour', orientations_path
.clear
= image_tag "ajax-loader.gif", :id=>"wait_icon", :style=>"display:none"
/ Lorsque le filtre des années académiques est modifié
= observe_field 'orientation_annee_academique_id',  |
  :url=>{:action=>"annee_mise_a_jour"},             |
  :before => "Element.toggle('wait_icon')",         |
  :complete => "Element.toggle('wait_icon')",       |
  :with => "'id_annee_academique=' + escape(value)+ |
  '&index=' + '#{false}'"                           |
