%p
  %b Abreviation:
  = h @orientation.abreviation
%p
  %b Texte:
  = h @orientation.texte
%p
  %b Filière:
  = h @orientation.filiere.abreviation
%p
  %b Année académique:
  = h @orientation.annee_academique.annee
- if can? :edit, @orientation
  = link_to 'Edit', edit_orientation_path(@orientation)
= link_to 'Retour', orientations_path
