%h1 Editing role
- form_for(@role) do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.submit 'Update'
= link_to 'Show', @role
|
-#{link_to 'Back', roles_path}
