%h1 Listing roles
%table
  %tr
    %th Title
  - @roles.each do |role|
    %tr
      %td= h role.title
      %td= link_to 'Show', role
      %td= link_to 'Edit', edit_role_path(role)
      %td= link_to 'Destroy', role, data: {:confirm => 'Are you sure?'}, :method => :delete
%br
= link_to 'New role', new_role_path
