%h1 Liste des types de projet
%table
  %tr
    %th Nom
    %th Calcul
    %th Hiérarchie
  - iteration = 0
  - test1 = @liste_chemins
  - while iteration < @liste_chemins[0].size
    - for type_projet in @type_projets
      - test2 = @liste_chemins[1][iteration]
      - if type_projet.id == @liste_chemins[1][iteration]
        %tr
          %td= h type_projet.typeProjet
          %td= h type_projet.calcul
          %td= h @liste_chemins[0][iteration]
          - iteration += 1
          %td= link_to 'Visualisation', type_projet
          %td= link_to 'Modification', edit_type_projet_path(type_projet)
          %td= link_to 'Suppression', type_projet, data: {:confirm => 'Etes-vous-sûr?'}, :method => :delete
%br
= link_to 'Nouveau type de projet', new_type_projet_path
= link_to 'Menu principal', enseignement_path
