= set_onload_remote_function(:url=>{:action=>'creation', :type_projet=> @type_projet}) 
%h1 Création d'un nouveau type de projet
%table
  %tr
    %td
      %h2 Informations sur le type de projet
      .boiteTypeProjetInfo
        %p
          Nom :
          -#{text_field "type_projet", "typeProjet", :size=>'35'}
        %p
          Calcul :
          -#{text_field "type_projet", "calcul", :size=>'35'}
        %p
          Chemin : #{select "type_projet", "type_projet_id", []}
  %tr
    %td
      %h2 Liens sur les types d'activité
      /
        \......................................................................................................
        Première boîte représentant tous les types d'activité
        \.......................................................................................................
      #activites_concernees.boiteTypeProjetDeplacable
        %p
          %b Type d'activité liées au type de projet :
        - @activites_concernees.each do |activite|
          %span.cadre_activites_concernees{:id => activite.typeActivite}
            = activite.typeActivite
            %br
      /
        \......................................................................................................
        Deuxième boîte représentant tous les types d'activité
        \.......................................................................................................
      #activites_non_concernees.boiteTypeProjetDeplacable
        %p
          %b Type d'activité non liées au type de projet :
        - @activites_non_concernees.each do |activite|
          %span.cadre_activites_non_concernees{:id => activite.typeActivite}
            = activite.typeActivite
            %br
      .clear
      = image_tag "ajax-loader.gif", :id=>"wait_icon", :style=>"display:none"
  %tr
    %td
      = link_to "Créer", :remote => true,                                                                                                |
        :url=>{:action=>"enregistrer_type_projet", :type_projet=> @type_projet.id},                                                      |
        :with=>"'activites=' + Element.findChildren($('activites_concernees'), null, false, 'span').map(function(elt){return elt.id;}) + |
        '&typeProjet=' + $('type_projet_typeProjet').value +                                                                             |
        '&calcul=' +$('type_projet_calcul').value +                                                                                      |
        '&type_projet_id=' +$('type_projet_type_projet_id').value +                                                                      |
        '&creer=' + #{true} "                                                                                                            |
      %br
      %br
      = link_to 'Retour', type_projets_path
/
  \......................................................................................................
  Permet le déplacement de la deuxième boîte à la première
  \.......................................................................................................
= drop_receiving_element "activites_concernees",                                                                  |
  :url=>{:action=>"deplacement_activite", :target=>"activites_concernees", :class=>"cadre_activites_concernees"}, |
  :before => "Element.toggle('wait_icon')",                                                                       |
  :complete => "Element.toggle('wait_icon')",                                                                     |
  :accept=>'cadre_activites_non_concernees'                                                                       |
-#
/
  \......................................................................................................
  Permet le déplacement de la première boîte à la deuxième
  \.......................................................................................................
= drop_receiving_element "activites_non_concernees",                                                                      |
  :url=>{:action=>"deplacement_activite", :target=>"activites_non_concernees", :class=>"cadre_activites_non_concernees"}, |
  :before => "Element.toggle('wait_icon')",                                                                               |
  :complete => "Element.toggle('wait_icon')",                                                                             |
  :accept=>'cadre_activites_concernees'                                                                                   |
