%h1
  Visualisation du type de projet #{@type_projet.typeProjet}
%h2 Informations sur le type de projet
%p
  %b Type projet:
  = h @type_projet.typeProjet
%p
  %b Calcul:
  = h @type_projet.calcul
%p
  %b Hiérarchie:
  = h @chemin
%h2 Liens sur les activités
- for activite in @activites_concernees
  -#{activite.typeActivite}
  %br
%br
%br
= link_to 'Modification', edit_type_projet_path(@type_projet)
|
-#{link_to 'Retour', type_projets_path}
