%h1 Listing salles
%table
  %tr
  - @salles.each do |salle|
    %tr
      %td= link_to 'Show', salle
      %td= link_to 'Edit', edit_salle_path(salle)
      %td= link_to 'Destroy', salle, data: {:confirm => 'Are you sure?'}, :method => :delete
%br
= link_to 'New salle', new_salle_path
