- if @jour_academique && !@jour_academique.new_record?
  = "Actions sur #{@jour_academique.display_name}"
  = menu_item "Modifier le jour académique", [:edit, @jour_academique], :edit, :jour_academiques, can?(:edit, @jour_academique), params
  = menu_item "Supprimer le jour académique", @jour_academique, :destroy, :jour_academiques, can?(:destroy, @jour_academique), params, :method => :delete, data: {:confirm => "Etes-vous sûr ?"}

= "Actions globales"
= menu_item "Calendrier académique", jour_academiques_path, :index, :jour_academiques, can?(:read, JourAcademique), params
= menu_item "Ajouter un jour au calendrier", new_jour_academique_path, :new, :jour_academiques, can?(:create, JourAcademique), params