= semantic_form_for(@jour_academique) do |f|
  = f.inputs do
    = f.input :date, :as => :calendar
    = f.input :descriptif
    = f.input :periode, :as => :select, :collection => JourAcademique::PERIODES, :include_blank => "- Choisissez une période"
    = f.input :type_jour, :as => :select, :collection => JourAcademique::TYPES, :include_blank => "- Choisissez un type"
  = f.buttons do
    = f.commit_button "Valider"