- # -*- encoding : utf-8 -*-
- content_for :left_menu do
  = render :partial => 'actions'

%h1="Calendrier académique"
%br
= semantic_form_for(@annee_civile, :url => index_pour_annee_jour_academiques_path()) do |f|
  = f.inputs do
    = f.input :annee, :label => "Année civile", :collection => @annees_civiles, :label_method => :annee, :include_blank => " - Choisissez une année civile -"
  = f.buttons do
    = f.commit_button "Valider"

.header_02= "#{@annee_civile.annee}"
%br
%ol.info
  - if @jour_academiques.count == 0
    %p= "Aucun jour dans le calendrier académique pour le moment"
  - else
    %table{:style => "min-width: 400px"}
      %tr
        %th{:style => "text-align:left; width: 90px"}= "Date"
        %th{:style => "text-align:left; width: 120px"}= "Descriptif"
        %th{:style => "text-align:left; width: 90px"}= "Période"
        %th{:style => "text-align:left; width: 120px"}= "Type"
        %th{:style => "text-align:left; width: 40px"}
        %th{:style => "text-align:left; width: 40px"}
      - @jour_academiques.each do |ja|
        %tr
          %td= "#{ja.date.day} #{Moi.display_name(ja.date.month)}"
          - if ja.descriptif
            %td= ja.descriptif.force_encoding("UTF-8")
          - else
            %td= ja.descriptif
          %td= ja.periode
          %td= ja.type_jour
          %td
            = link_to image_tag('report_edit_small.png'), edit_jour_academique_path(ja)
          %td
            = link_to image_tag('destroy_small.png'), jour_academique_path(ja), :method => :delete, data: { :confirm => "Etes vous sûr ?" }