= form_for @configurations_planification do |f|
  - if @configurations_planification.errors.any?
    #error_explanation
      %h2= "#{pluralize(@configurations_planification.errors.count, "error")} prohibited this configurations_planification from being saved:"
      %ul
        - @configurations_planification.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :valeur
    = f.text_field :valeur
  .actions
    = f.submit 'Save'
