%h1 Configuration du module de planification

%table
  %thead
    %tr
      %th Nom
      %th Description
      %th Valeur
      %th
      %th
      %th

  %tbody
    - @configurations_planifications.each do |configurations_planification|
      %tr
        %td= configurations_planification.variable
        %td= configurations_planification.description
        %td= configurations_planification.valeur
        %td= link_to 'Show', configurations_planification
        %td= link_to 'Edit', edit_configurations_planification_path(configurations_planification)
        %td= link_to 'Destroy', configurations_planification, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br