%p#notice= notice

%p
  %b Description:
  = @configurations_planification.description
%p
  %b Valeur:
  = @configurations_planification.valeur

= link_to 'Edit', edit_configurations_planification_path(@configurations_planification)
\|
= link_to 'Back', configurations_planifications_path
