body {
  margin: 0;
  padding: 0;
  background: #FFFFFF  repeat-x left top;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #66665E;
}

.left{
  float : left;
}

.right{
  float : right;
}

.clear {
  clear: both;
}

tr, td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

h1, h2, h3 {
  margin: 0;
  line-height : 25px;
  text-transform: uppercase;
  font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  color: #999999;
}

input[type=text], input[type=password], textarea{
  border : 1px solid #888888;
  background-color : #f1f1f1;
  padding : 2px;
}

h1 { font-size: 25px; margin-bottom : 10px;}

h2 { 
  font-size: 12px;
  padding-top: 7px; }

h3 { }

h4 {
  margin: 0;
  line-height : 25px;
}
p, ul, ol {
  margin-top: 0;
}

ul, ol { }

blockquote { }

a { color: #41ACE7; }

/*a:hover { background-color: #DDD; }*/

a:visited { color: #41ACE7; }

input { font-size: 10px; }

input.menu, a.menu {
   font-size:10px;
   color:black;
   height:15px;
   margin-bottom:5px;
   background-color:white;
   border-top-style:none;
   border-bottom-style:solid;
   border-bottom-color:#41ACE7;
   border-bottom-width:1px;
   border-left-style:solid;
   border-left-color:#41ACE7;
   border-left-width:5px;
   border-right-style:none;
}

#sidebar a.menu {display : block;
        padding : 1px;
        padding-left : 10px;
        font-size : 11px;
        color: #000000;
        text-decoration : none;}

select { font-size: 10px; }
textarea { font-size: 10px }

a img {
  border: none;
}

img.left {
  float: left;
  margin: 7px 30px 0 0;
}

img.right {
  float: right;
  margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
  float: left;
  line-height: normal;
}

.list1 li img {
  margin: 0 30px 30px 0;
}

.list1 li.alt img {
  margin-right: 0;
}

#wrapper {
}

/* Header */

#header-wrapper {
}

#header {
  width: 1000px;
  height: 64px;
  margin: 0 auto;
  background: url(images/img02.jpg) no-repeat left top;
}


/* Menu */

#menu {
  float: left;
  /*width: 540px;*/
  height: 64px;
}

#menu ul {
  margin: 0;
  padding: 0px 0px 0px 5px;
  list-style: none;
  line-height: normal;
}

#menu li {
  display: block;
  float: left;
}

#menu a {
  display: block;
  float: left;
  height: 20px;
  margin-right: 3px;
  padding: 28px 20px 15px 20px;
  background: url(images/img07.jpg) no-repeat right 32px;
  text-decoration: none;
  /*text-transform: uppercase;*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}

#menu a:hover { text-decoration: underline; }

#menu .current_page_item a {
  height: 20px;
  color: #FFFFFF;
}

#menu .first {
  background: none;
}

/* Page */


#page {
  width: 1000px;
  margin: 0 auto;
  background: url(images/img04.jpg) repeat-y left top;
  /** background-image:url(images/rhino1.jpg); **/
}

#page-bgtop {
  padding-top: 30px;
  background: url(images/img03.jpg) no-repeat left top;
}

  /** LOGO */

#logo {
  width: 960px;
  height: 170px;
  margin: 0 auto;
}

#logo h1, #logo p {
  margin: 0px;
  line-height: normal;
  font-weight: normal;
  color: #FFFFFF;
}

#logo p {
  text-transform: uppercase;
  font-size: 10px;
}

#logo h1 {
  padding-top: 80px;
  font-size: 34px;
}

#logo a {
  text-decoration: none;
  color: #FFFFFF;
}

/* Content */

#content {
  float: right;
  width: 738px;
  padding-top: 10px;
  padding-right: 40px;
}

/* Post */

.post {
  margin-bottom: 25px;
}

.post .title {
  height: 30px;
  color: #42423E;
}

.post .title a {
  text-decoration: none;
  color: #42423E;
}

.post .date {
}

.post .meta {
  margin-top: -10px;
  padding: 2px 30px 2px 16px;
  background: url(images/img08.jpg) no-repeat left 10px;
  border-bottom: 1px #BDBDBB dotted;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #66665E;
}

.post .meta span {
  display: block;
  margin-top: -10px;
}

.post .meta a { }

.post .entry {
  padding: 10px 0;
}

.post .links {
  margin: 0 250px 0 0;
  padding: 0 0 0 0px;
}

.post .links .comments {
}

.post .links .permalink {
  padding-left: 17px;
}

/* Sidebar */

#sidebar {
  float: left;
  width: 162px;
  padding-left: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px; }

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: normal; }

#sidebar li {
  margin-bottom: 30px;
  padding: 0 0 10px 0px; }

#sidebar li ul { }

#sidebar li li {
  margin: 0 0 0 5px;
  padding-left: 10px;
  background: url(images/img09.jpg) no-repeat left 4px; }

#sidebar p {
  margin: 0;
  padding: 0px 10px; }

#sidebar h2 {
  height: 26px;
  margin: 0 0 10px 0px;
  padding: 8px 0 2px 10px;
  background: url(images/img06.jpg) no-repeat left top;
  text-transform: capitalize;
  font-size: 11px;
  font-weight: bold;
  color: #42423E; }

#sidebar p {
  line-height: 200%; }
  
#sidebar a {
  color: #696969;
  font-size: 10px; }



/* Footer */

#footer {
  width: 1000px;
  height: 95px;
  margin: 0 auto;
  padding: 0;
  background: url(images/img05.jpg) no-repeat left top;
}

#footer p {
  margin: 0;
  padding: 56px 0;
  text-align: center;
  line-height: normal;
  text-transform: uppercase;
  font-size: 10px;
  color: #66665E;
}

#footer a {
  color: #000000;
}

#filtre_unite {
  max-width : 300px;
}

.info_box, .notice_box, .error_box {
    border: 1px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0px 0px 20px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size: 12px;
}
.info_box {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('/images/info.png');
}
.notice_box {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('/images/notice.png');
}
.error_box {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/images/error.png');
}

ul.liste_type_projets {
  width: 500px;
}

ul.liste_type_projets ul.liste_type_projets {
  width: auto;
}

.header_01 {
  font-size : 24px;
  margin-bottom : 10px;
}

.header_02 {
  font-size : 20px;
  margin-bottom : 10px;
  color: #555555;
}

.header_03 {
  font-size : 16px;
  margin-bottom : 10px;
  color: #555555;
}

.header_04 {
  font-size : 12px;
  margin-bottom : 10px;
  color: #555555;
}

.header_05_italique{
  font-size : 9px;
  margin-bottom : 10px;
  font-style : italic;
  color: #555555;
}


ol.info {
  background : #EEEEEE;
  padding : 10px;
  border: 1px solid #777777;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom:0px;
}

ol.info li {
  font-size: 12px;
  list-style:none outside none;
  display:block;
  clear : both;
  padding-bottom : 5px;
  line-height : 22px;
}

ol.info li label{
  font-size: 11px;
  display:block;
  float:left;
  padding-top:0.2em;
  width:25%;
  font-style : italic;
}

ol.info li .value{
  float : left;
  width : 65%;
  font-size: 14px;
  color : #444444;
}

ol.info ol {
  padding-left: 0px;
}

.spacer {
  margin-bottom : 10px;
}

.jour, #projets {
  background : #EEEEEE;
  padding : 10px;
  border: 1px solid #777777;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom : 10px;
}

#projets .projet_drag{
  border : 1px solid black;
  text-align : center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color : white;
  padding : 5px;
  font-size : 11px;
  cursor: default;
  font-weight: bold;
}

#axe_strategiques {
  border : 1px solid black;
  text-align : center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color : white;
  padding : 5px;
  font-size : 12px;
  cursor: default;
  font-weight: bold;
}

#jours_container{
  width : 74%;
}

#projets_container{
  float: right;
  margin-top: 35px;
  width: 23%;
  margin-bottom: 0px;
}

#sidebar #projets_container{
  float: none;
  margin-top: 0px;
  width: 100%;
  margin-bottom: 0px;
}

#sidebar #projets_container p{
  padding: 0px;
  margin-top: 0px;
  margin-bottom : 10px;
  line-height : 18px;
}

/* Liste des unités d'enseignement --------------------*/

.liste_ue {
  color : #444444;  /* Couleur gris foncé */
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.liste_ue a {
  color : #1060F0;
}

.liste_ue .sigle a {
  font-weight: bold;
  color : #1060F0;
}

.liste_ue .OK {
  font-weight: bold;
  color : #1060F0;
}

.liste_ue .OK a {
  font-weight: bold;
  color : #1060F0;
}

.liste_ue .erreur {
  font-weight: bold;
  color : #FF0000;
}

.liste_ue .erreur a {
  font-weight: bold;
  color : #FF0000;
}


/* FIN - Liste des unités d'enseignement  ---------------- */


/* Liste Eduardo --------------------*/
/* Couleur classique des liens: #41ACE7 ; */

.eduardo {
  color : #444444;  /* Couleur gris foncé */
}

.eduardo a {
  font-weight: bold;
  color : #1060F0;
}

.eduardo .OK {
  font-weight: bold;
  color : #1060F0;
}

.eduardo .OK a {
  font-weight: bold;
  color : #1060F0;
}

.eduardo .erreur {
  font-weight: bold;
  color : #FF0000;
}

.eduardo .erreur a {
  font-weight: bold;
  color : #FF0000;
}

.eduardo .ass_non_reconnu {
  font-weight: normal;
  color : #1060F0;
  background-color : #F0B000;
}
.eduardo .ass_non_reconnu a {
  font-weight: normal;
  color : #1060F0;
  background-color : #F0B000;
}

/* FIN - Liste Eduardo ---------------- */


/* Plages contractuelles & Heures ------- */
/* Note implémentation: Le padding ne s'hérite pas! ---- */

.table_pc {
  /* border-collapse: collapse;  */
  border-spacing: 1px 0px; 
  /* border-style:solid; */
  border-color:#FFFFFF;
}

.table_pc_no_plages {
  /* border-collapse: collapse;  */
  border-spacing: 1px 0px; 
  border-style:solid;
  border-color:#DDDDDD;
}

.table_pc_no_plages tr{
  /* border-collapse: collapse;  */
  border-spacing: 1px 0px; 
  border-style:solid;
  border-color:#DDDDDD;
  font-size: 1.0em;
}

.table_pc_no_plages .head_plage{
  font-size: 1.0em;
  text-align: left;
  color: #333333;   /* Gris très foncé */
}


.table_pc_no_plages .no_plage{
  font-size: 1.1em;
  font-weight: bold;
  text-align: left;
  color: #333333; /* Gris très foncé */
}

.table_pc th{
  text-align: left;
  font-size: 1.0em;
  /* width: 40px; */
}

.table_pc tr{
  font-size: 1.0em;
}

.table_pc .nom_mois{
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  color: #333333; /* Gris très foncé */
}

.table_pc .col_first{
  font-size: 0.8em;
  text-align: left;
  color: #2618B1;   /* Bleu marine */
}

.table_pc .col_first_bold{
  font-size: 0.8em;
  font-weight: bold;
  text-align: left;
  color: #333333; /* Gris très foncé */
}

.table_pc .col_first_ponts{
  font-size: 0.8em;
  text-align: left;
  font-style: italic;
  color: #DD9030;   /* Bleu marine */
}

.table_pc .col_x{
  /* border-style:solid; */
  /* border-color:#FFFFFF;  */
  padding-right: 2px;
  text-align: right;
  font-size: 0.7em;
  color: #000000;
}
.table_pc .col_x_bold{
  /* border-style:solid; */
  /* border-color:#FFFFFF;  */
  padding-right: 2px;
  font-weight: bold;
  text-align: right;
  font-size: 0.7em;
  color: #000000;
}

.table_pc .col_x_ponts{
  /* border-style:solid; */
  /* border-color:#FFFFFF;  */
  padding-right: 2px;
  text-align: right;
  font-size: 0.7em;
  font-style: italic;
  color: #DD9030;
}

.table_pc .col_last{
  font-weight: bold;
  text-align: right;
  color: #333333;  
}

.table_pc .col_last_ponts{
  font-weight: bold;
  text-align: right;
  font-style: italic;
  color: #DD9030;  
}

.table_pc .col_sep{
  /* border-style:solid;  */
  /* border-color:#555555; */
  /* background-color:#555555; */ 
}

.plages_calendrier_button {
  width: 12%; 
  float: left;
  color: #2618B1;   /* Bleu marine */ 
  background-color:#7B72D8;

}

/* Fin Plages contractuelles & Heures */

#projets {

}

#projets p{
  font-size: 10px;
}

.plage_horaire {
  margin-bottom : 0px;
  font-size: 12px;
}

.champ_commentaire {
  margin-top : 5px;
  font-size: 40px;
}

.plage_horaire .slider {
  width : 80%;
  margin-left : 5px;
  margin-right : 5px;
}

.slider {
  margin-top : 9px;
  font-size: 10px;
}

.plage_horaire button.destroy {
  width : 15%;  
  float : right;
  font-size : 10px;
  top : 1px;
}

.plage_horaire button.submit {
  width : 15%;  
  float : right;
  font-size : 10px;
  top : 1px;
}

.drophover {
  border-width: 3px;
}

.dropactive {
  background-color: #F1F1F1;
}

.moisdrophover {
  background-color: #DDDDDD;
}


.error {
  color : red;
}

.success {
  color : blue;
}

#projets_index{
  padding-left : 25px;
}

#projets_index li.closed ul {
  display: none;
}

#projets_index li.open {
  list-style-image: url("/images/minus.png");
}

#projets_index li.closed {
  list-style-image: url("/images/plus.png");
}

#projets_index li.empty {
  list-style: none;
}

#projets_index li.not_empty {
  cursor: pointer;
}

#projets_index li.not_empty li.empty  {
  cursor: default;
}

#projets_index li.projet {
  /*list-style-image: url('/images/report_go.png');*/
  list-style: none;
}

#projets_index li.projet a {
  text-decoration : none;
}


.affectation_label{
  width: 29%; 
  float: left;
  line-height: 30px;
  font-weight: bold;
}

.affectation_progressbar {
  width: 35%;
  float: left;
}

.progressbar_depassement .ui-widget-header {
  background-image : url('/images/progressbar_red.png');
  border : 1px solid red;
}

.affectation_ratio1, .affectation_ratio2, .affectation_ratio3{
  float:left;
  line-height: 30px;
  font-weight: bold;
  font-size: 10px;	
}

.affectation_ratio1{
  padding-left: 10px;
  width: 55px;
  text-align: right;
}

.affectation_ratio2{
  padding-left: 3px;
  width: 15px;
  text-align: center;
}

.affectation_ratio3{
  padding-left: 5px;
  width: 55px;
  text-align: left;
}
.affectation_button, .affectation_button_global {
  margin-left : 20px;
  float: left;
}

.affectation_details{
}

.charges{
}
.charges_label{
  width: 40%; 
  float: left;
  line-height: 20px;
  font-size : 12px;
  color: #1482CC;
}
.charges_label_head{
  width: 40%; 
  float: left;
  line-height: 20px;
  font-size : 12px;
  font-weight: bold;
  color: #1482CC;
}
.charges_effectives_montant{
  width: 20%; 
  float: left;
  line-height: 20px;
  font-weight: bold;
  font-size : 12px;
  color: #FF9933;  
}
.charges_previsionnelles_montant{
  width: 25%; 
  float: left;
  line-height: 20px;
  font-weight: bold;
  font-size : 12px;
  color: #00CC99;  
}
.charges_button {
  width: 12%; 
  float: left;
}
.charges_personne_button {
  float: left;
  font-weight: bold;
  font-size : 8px;
  margin-left : 4px;
  margin-top : 1px;
}
.charges_liste{
  width: 20%; 
  float: left;
  line-height: 30px;
  font-weight: bold;
}


.ruler {
  border-bottom : 1px solid #AAAAAA;
  width: 70%;
  margin-left : 14%;
  margin-right: 14%;
  margin-bottom : 10px;
}

.affectation_attributes {
  width: 30%;
  float: left;
  border-right : 1px solid #666666;
}

.affectation_consommation
 {
  padding-left : 10px;
  width: 65%;
  float: left; 
}

.affectation_consommation_graph{
  height: 120px;
  width: 480px;
}

.affectation_consommation_graph_global{
  height: 400px;
  width: 100%;
}

.graphe_des_affectations{
  height: 400px;
  width: 100%;
}

.budget {
  width: 45%;
  float: left;
  margin-right: 10px;
}

th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: url(/images/up_arrow.gif);
}

th .desc {
  background-image: url(/images/down_arrow.gif);
}


/* PLANIFIFCATION */

#contenu_planif {
  width: 1000px;
  margin: 0 auto;
  background: url(img04-2.jpg) repeat-y left top;
  /** background-image:url(images/rhino1.jpg); **/
}

#tableur_planif {
  padding: 80px 25px 0px 25px;
  background: url(img03-2.jpg) no-repeat left top;
}

#tableur {
  width: 100%;
}