/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset > ol > li {
overflow:hidden;
}

html form.formtastic fieldset > ol > li {
  clear : both;
}
form.formtastic legend {
  color: #666666;
}

form.formtastic input[type=text], form.formtastic input[type=password], form.formtastic textarea{
  padding : 2px;
}

form.formtastic fieldset > ol > li p.inline-hints {
  color: #5e8ed0;
  margin:0.5em 0 0 25%;
}

form.formtastic fieldset.budget, .budget, form.formtastic fieldset.budget_inputs, .show_affectation_projet {
  border : 1px solid black;
  background-color : #d8e3ed;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 10px;
  margin-bottom : 10px;
}