/*MENU*/

#menu-consultation div {
  /*margin-top: 25px;*/
  float: left;
  display: inline;
}

#menu-datepicker {
  margin-right: 20px;
}

#menu-filtre {
  font-size: 11pt;
}

#menu-format {
  margin-right: 20px;
  font-size: 11pt;
}

#menu-mode {
  font-size: 11pt;
  margin-left: 600px;
}

/*PAGE*/

#tableur_planif {
  /*padding-bottom: 35px;*/
}

/*OVERRIDE HANDSONTABLE*/

.handsontable {
  /*height: 500px;*/
  /*overflow: scroll;*/
}

.handsontable tr:first-child td:first-child {
  border-top: 0;
  border-left: 0;
  border-bottom: 3px solid #999;
}

.handsontable tr:nth-child(2) td {
  line-height: normal;
  border-bottom: 3px solid #999;
}

.handsontable td {
  padding:0 !important;
  font-size: 10pt;
  vertical-align: middle;
  height: 45px;
}

.htComments {
  display: none !important;
}

/*PERSONNALISATIONS*/

.handsontable td.head-cell {
  font-weight: bold;
  border: 1px solid #999;
  background-color: #ddd;
  width: 100%;
  height: 45px;
  /*line-height: 45px;*/
  margin: 0;
}

.handsontable td.head-cell a:link,a:visited {
  color: #777;
  text-decoration: none;
}

.handsontable td.head-cell a:hover {
  color: #777;
  text-decoration: underline;
}

.handsontable td.head-cell:first-child {
  border-right: 0;
}

.handsontable td.double-head-cell {
  background-color: #eee;
  border-top: 0;
  border-bottom: 0;
}

.handsontable td.head-content-cell {
  border-left: 1px solid #999;
}

.handsontable td.td-bookmark {
  background: url(bookmark.png) no-repeat left top;
}

.handsontable td.td-comment {
  background: url(comment.png) no-repeat right top;
}

.handsontable td.td-bookmark.td-comment {
  background: url(bookmark.png) no-repeat left top,
              url(comment.png) no-repeat right top;
}

/*Hack pour la sélection bleue du tableau (utilise des backgrounds, évidemment...)*/
.handsontable td.area, .handsontable td.td-bookmark.td-comment.area {
  background: -moz-linear-gradient(top,  rgba(181,209,255,0.34) 0%, rgba(181,209,255,0.34) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,209,255,0.34)), color-stop(100%,rgba(181,209,255,0.34))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(181,209,255,0.34) 0%,rgba(181,209,255,0.34) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(181,209,255,0.34) 0%,rgba(181,209,255,0.34) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(181,209,255,0.34) 0%,rgba(181,209,255,0.34) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(181,209,255,0.34) 0%,rgba(181,209,255,0.34) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57b5d1ff', endColorstr='#57b5d1ff',GradientType=0 ); /* IE6-9 */
  background-color: #fff;
}

.handsontable td.td-absence {
  background: repeating-linear-gradient(
    -45deg,
    #fff,
    #fff 10px,
    #eee 10px,
    #eee 20px
  )
}

/*CLIC DROIT*/

.htContextMenu tr:first-child td:first-child {
  border-bottom: 0 !important;
}

.htContextMenu td {
  height: auto !important;
  background: white !important;
  border-left: solid 1px #ccc !important;
  border-right: solid 1px #ccc !important;
}

.htContextMenu table tbody tr td.current {
  background:#e9e9e9 !important;
}

.ht_clone_top {
  z-index: 10;
}

.ui-dialog {
  z-index: 110;
  transform: translate3d(0px, 0px, 0px)
}

/*Divers*/

.today {
  background-color: #ccc;
}

#ui-datepicker-div {
  z-index: 20 !important;
  transform: translate3d(0px, 0px, 0px)
}

.formtastic textarea {
  width: 98% !important;
  height: 15em;
}

.loading-modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 ) url(ajax-loader2.gif) 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.plan-loading {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.plan-loading .loading-modal {
  display: block;
}

/* TEST NOTIFICATIONS */
.bg-light-green {
  background: rgba( 156, 255, 89, .8 ) !important;
}

.bg-dark-green {
  background: rgba( 87, 135, 38, .8 ) !important;
}

.bg-light-red {
  background: rgba( 255, 95, 95, .8 ) !important;
}

.bg-dark-red {
  background: rgba( 175, 25, 25, .8 ) !important;
}

.bg-orange {
  background: rgba( 209, 127, 21, .8 ) !important;
}
