/* --------------------------------------------------------------------------------------------------
 * Cette partie contient les sytles utiles à la vue de visualisation générales des desiderata
 -------------------------------------------------------------------------------------------------- */
.cadreFiltre{
  width:200px;
    background-color:#E0E0E0;
  float:left; 
  border-style: solid;
  border-color: Black;
  margin-top:10px; 
  padding:5px 5px 5px 5px; }
  
.cadreLegende{
  width:330px;
    background-color:#E0E0E0;
  float:left; 
  border-style: solid;
  border-color: Black;
  margin-top:10px; 
    margin-left:12px; 
  padding:5px 5px 5px 5px; }
  
.cadreUnite{ 
  width:740px;
  height:200px;
    background-color:#E0E0E0;
  float:left; 
  border-style: solid;
  border-color: Black;
  margin-top:10px; 
    margin-left:12px; 
  padding:5px 5px 5px 5px; }

.cadreCours{ 
  width:100%;
  float:left; 
  border-style: solid;
  border-color: Black;
  border-width: 1px;
  margin-bottom:5px; }
  
.cadreInformationUnite{ 
  width:700px;
  height:auto;
  float: left; 
  margin-bottom:20px;
  padding:5px 5px 5px 5px; }
  
.cadreTitreDesiderata{ 
  width:700px;
  height:auto;
    background-color:#C8C8C8;
  border-style: solid;
  border-color: Black;
  float: left; 
  padding:5px 5px 5px 5px; }
  
.cadreDesiderata{ 
  /*width:790px;*/
  width: 700px;
  height:auto;
  background-color:#F2F2F2;
  border-left-style: solid;
  border-left-color: Black;
  border-right-style: solid;
  border-right-color: Black;
  float: left; 
  padding:5px 5px 5px 5px; }
  
.cadreFinDesiderata{ 
  width:700px;
  height:0px;
  background-color:#F2F2F2;
  float: left; 
  border-bottom-style: solid;
  border-bottom-color: Black;
  padding:0px 5px 0px 5px; }
  
.cadreChargeIncomplet{ 
  width:100%;
  float:left; 
  border-style: solid;
  border-color: Black;
  background-color:#ffcc99;
  border-width: 1px;
  margin-bottom:5px; 
}

.cadreChargeVide{ 
  width:100%;
  float:left; 
  border-style: solid;
  border-color: Black;
  background-color:#ffcccc;
  border-width: 1px;
  margin-bottom:5px;
}

.cadreChargeComplet{ 
  width:100%;
  float:left; 
  border-style: solid;
  border-color: Black;
  background-color:#ccffcc;
  border-width: 1px;
  margin-bottom:5px; 
}


.cadreCollaborateurVertArdent{ 
  width:100%;
  float:left; 
  border-style: solid;
  border-color: Black;
  background-color:#66ff66;
  border-width: 1px;
  margin-bottom:5px; 
}
.cadreCollaborateurVertMoyen{ 
  width:100%;
  float:left; 
  border-style: solid;
  border-color: Black;
  background-color:#99ff99;
  border-width: 1px;
  margin-bottom:5px; 
}
.cadreCollaborateurVertPale{ 
  width:100%;
  float:left; 
  border-style: solid;
  border-color: Black;
  background-color:#ccffcc;
  border-width: 1px;
  margin-bottom:5px; 
}

.cadreCollaborateurOrangeArdent{ 
  width:100%;
  float:left; 
  border-style: solid;
  border-color: Black;
  background-color:#ff9933;
  border-width: 1px;
  margin-bottom:5px; 
}
.cadreCollaborateurOrangeMoyen{ 
  width:100%;
  float:left; 
  border-style: solid;
  border-color: Black;
  background-color:#ff9966;
  border-width: 1px;
  margin-bottom:5px; 
}
.cadreCollaborateurOrangePale{ 
  width:100%;
  float:left; 
  border-style: solid;
  border-color: Black;
  background-color:#ffcc99;
  border-width: 1px;
  margin-bottom:5px; 
}

.cadreCollaborateurJauneArdent{ 
  width:100%;
  float:left; 
  border-style: solid;
  border-color: Black;
  background-color:#ffff66;
  border-width: 1px;
  margin-bottom:5px; 
}
.cadreCollaborateurJauneMoyen{ 
  width:100%;
  float:left; 
  border-style: solid;
  border-color: Black;
  background-color:#ffff99;
  border-width: 1px;
  margin-bottom:5px; 
}
.cadreCollaborateurJaunePale{ 
  width:100%;
  float:left; 
  border-style: solid;
  border-color: Black;
  background-color:#ffffcc;
  border-width: 1px;
  margin-bottom:5px; 
}
.cadreCollaborateurGrisArdent{ 
  width:100%;
  float:left; 
  border-style: solid;
  border-color: Black;
  background-color:#999999;
  border-width: 1px;
  margin-bottom:5px; 
}
.cadreCollaborateurGrisMoyen{ 
  width:100%;
  float:left; 
  border-style: solid;
  border-color: Black;
  background-color:#cccccc;
  border-width: 1px;
  margin-bottom:5px; 
}
.cadreCollaborateurGrisPale{ 
  width:100%;
  float:left; 
  border-style: solid;
  border-color: Black;
  background-color:#FFFFFF;
  border-width: 1px;
  margin-bottom:5px; 
}
    
  
  
  
/* --------------------------------------------------------------------------------------------------
 * Cette partie contient les sytles utiles aux vues de gestion des compétences et des desiderata
 -------------------------------------------------------------------------------------------------- */
#niveau { 
    background-color:#D0D0D0; 
    float:left; 
    margin-left:10px; 
    margin-left:10px;
  border-style: solid;
  border-color: Black;
  padding:0px 5px 5px 5px;
  text-align:center;
}

.boite { 
  width:200px;
  height:200px;
    background-color:#F4F4F4;
  float:left; 
    margin-left:10px; 
  border-style: solid;
  border-color: Black;
  padding:0px 5px 25px 5px;
  overflow:auto;
}
.cadreInformationsUniteDesiderata { 
  /*width:630px;*/
  width:410px;
  height:120px;
    background-color:#E0E0E0;
  float:left; 
  margin-top:10px; 
    margin-left:12px; 
  padding:15px 5px 25px 5px;
}
.cadrePrincipalDesiderata { 
  /*width:908px;*/
  width:708px;
  height:400px;
    background-color:#F4F4F4;
  float:left; 
  margin-top:10px; 
    margin-left:12px; 
  border-style: solid;
  border-color: Black;
  padding:15px 5px 25px 5px;
  overflow:auto;
}
.cadreDroiteDesiderata{
  width:200px;
  height:570px;
    background-color:#F4F4F4;
  float:left; 
  margin-left:10px;
  padding:10px 0px 40px 20px;
  border-left-style:dashed;
  border-left-color: Black;
  overflow:auto;
}
.sousCadreDesiderata { 
  width:185px;
  height:100px;
    background-color:#F4F4F4;
  float:left; 
    margin-left:10px; 
  border-style:dotted;
  border-color: Black;
  padding:0px 5px 25px 5px;
  overflow:auto;
}

.cadreTitreAffichageDesiderata{ 
  /*width:742 - 752px;*/
  width:726px;
  height:30px;
    background-color:#C8C8C8;
  float:left; 
    margin-left:0px; 
  border-style: solid;
  border-color: Black;
  padding:5px 5px 5px 5px;
  overflow:auto;
}
.cadreLigneAffichageDesiderata{ 
  /*width:692px;*/
  width:726px;
    background-color:#F4F4F4;
  float:left; 
    margin-left:0px;
  border-right: solid;
  border-right-color: Black;
  border-left: solid;
  border-left-color: Black;
  padding:5px 5px 5px 5px;
  overflow:auto;
}
.cadreDerniereLigneAffichageDesiderata{ 
  /*width:702px;*/
  width:736px;
  height:auto;
  background-color:#C8C8C8;
  float:left; 
    margin-left:0px;
  border: solid;
  border-color: Black;

}
.cadreTitreAffichageUe{ 
  /*width:692px;*/
  width:726px;
  height:30px;
    background-color:#C8C8C8;
  float:left; 
    margin-left:0px; 
  border-style: solid;
  border-color: Black;
  padding:5px 5px 5px 5px;
  overflow:auto;
}
.cadreLigneAffichageUe{ 
  /*width:692px;*/
  width:726px;
    background-color:#F4F4F4;
  float:left; 
    margin-left:0px;
  border-right: solid;
  border-right-color: Black;
  border-left: solid;
  border-left-color: Black;
  padding:5px 5px 5px 5px;
  overflow:auto;
}
.cadreDerniereLigneAffichageUe{ 
  /*width:702px;*/
  width:726px;
  height:auto;
  background-color:#C8C8C8;
  float:left; 
    margin-left:0px;
  border: solid;
  border-color: Black;

}

/* --------------------------------------------------------------------------------------------------
 * Cette partie contient les sytles utiles aux vues des modules
 -------------------------------------------------------------------------------------------------- */
.boiteOrientationDeplacable { 
  width:300px;
  height:300px;
    background-color:#F4F4F4;
  float:left; 
    margin-left:10px; 
  border-style: solid;
  border-color: Black;
  padding:0px 5px 25px 5px;
  overflow:auto;
}
.boiteOrientationInfo { 
  width:350px;
  height:120px;
    background-color:#FFFFFF;
  float:left; 
    margin-left:10px; 
  border-style: solid;
  border-color: Black;
  padding:0px 0px 0px 25px;
  overflow:auto;
}
/* --------------------------------------------------------------------------------------------------
 * Cette partie contient les sytles utiles aux vues des unités d'enseignement
 -------------------------------------------------------------------------------------------------- */
.boiteModuleDeplacable { 
  width:350px;
  height:300px;
    background-color:#F4F4F4;
  float:left; 
    margin-left:10px; 
  border-style: solid;
  border-color: Black;
  padding:0px 5px 25px 5px;
  overflow:auto;
}
.boiteModuleInfo { 
  width:500px;
    background-color:#FFFFFF;
  float:left; 
    margin-left:10px; 
  border-style: solid;
  border-color: Black;
  padding:25px 0px 25px 25px;
  overflow:auto;
}
/* --------------------------------------------------------------------------------------------------
 * Cette partie contient les sytles utiles aux vues des type de projet
 -------------------------------------------------------------------------------------------------- */
.boiteTypeProjetDeplacable { 
  width:300px;
  height:300px;
    background-color:#F4F4F4;
  float:left; 
    margin-left:10px; 
  border-style: solid;
  border-color: Black;
  padding:0px 5px 25px 5px;
  overflow:auto;
}
.boiteTypeProjetInfo { 
  width:500px;
    background-color:#FFFFFF;
  float:left; 
    margin-left:10px; 
  border-style: solid;
  border-color: Black;
  padding:0px 0px 0px 25px;
  overflow:auto;
}
/* --------------------------------------------------------------------------------------------------
 * Cette partie contient les sytles utiles aux espacement
 -------------------------------------------------------------------------------------------------- */
.espace5{
  width:5px;
  text-align:left;
}
.espaceCenter5{
  width:5px;
  text-align:center;
}
.espace50{
  width:50px;
  text-align:left;
}
.espaceCenter50{
  width:50px;
  text-align:center;
}
.espace80{
  width:80px;
  text-align:left;
}

.espace100{
  width:100px;
  text-align:left;
}
.espaceCenter100{
  width:100px;
  text-align:center;
}
.espace150{
  width:150px;
  text-align:left;
}
.espace200{
  width:200px;
  text-align:left;
}
.espace250{
  width:250px;
  text-align:left;
}
.espace500{
  width:500px;
  text-align:left;
}
.clear { 
    clear:both; 
    } 
  
.vertical_text {
  text-align: center;
  -moz-transform: rotate(90deg);
  border-bottom-width:0px;
  border-style:none;
  writing-mode: tb-rl;
}
