%h1 Editing variable
- form_for(@variable) do |f|
  = f.error_messages
  %p
    = f.label :nom
    %br
    = f.text_field :nom
  %p
    = f.label :valeur
    %br
    = f.text_field :valeur
  %p
    = f.submit 'Update'
= link_to 'Show', @variable
|
-#{link_to 'Back', variables_path}
