%h1 Listing variables
%table
  %tr
    %th Nom
    %th Valeur
  - @variables.each do |variable|
    %tr
      %td= h variable.nom
      %td= h variable.valeur
      %td= link_to 'Show', variable
      %td= link_to 'Edit', edit_variable_path(variable)
      %td= link_to 'Destroy', variable, data: {:confirm => 'Are you sure?'}, :method => :delete
%br
= link_to 'New variable', new_variable_path
