- if @type_budget && !@type_budget.new_record?
  = "Actions sur #{@type_budget.display_name}"
  = menu_item "Modifier le type de budget", [:edit, @type_budget], :edit, :type_budgets, can?(:edit, @type_budget), params
  = menu_item "Supprimer le type de budget", @type_budget, :destroy, :type_budgets, can?(:destroy, @type_budget), params, :method => :delete, data: {:confirm => "Etes-vous sûr ?"}

= "Actions globales"
= menu_item "Liste des types de budgets", type_budgets_path, :index, :type_budgets, can?(:read, TypeBudget), params
= menu_item "Ajouter un type de budgets", new_type_budget_path, :new, :type_budgets, can?(:create, TypeBudget), params