- content_for :left_menu do
  = render :partial => 'actions'
%h1= "Types de budgets"
%br
- if @type_budgets.count == 0
  %p= "Aucun type de budget pour le moment"
- else
  %table{:style => "min-width: 400px"}
    %tr
      %th= "Nom"
      %th= "Description"
    - @type_budgets.each do |tb|
      %tr
        %td= tb.nom
        %td= tb.description
        %td
          = link_to 'Modifier', [:edit, tb]
          = " | "
          = link_to 'Supprimer', tb, :method => :delete, data: {:confirm => "Etes vous sûr ?"}