%h1
  Ajout d'un événement au projet "#{h @projet.id_Projet}"
- form_for :dateEvenement, @dateEvenement, :url => {:controller => 'projets', :action => 'update_evenement', :id => @projet.id} do |f|
  %p
    Date :
    -#{f.date_select :date}
  %p
    Evenement :
    -#{f.collection_select :evenement_projet_id, @evenements_non_associes, :id, :texte}
  %p
    = f.submit "Ajouter"
= link_to 'Annuler', projets_path
