= set_onload_remote_function(:url=>{:action=>'annee_mise_a_jour', :id_annee_academique=> @annee_academique.id}) 
/
  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Nom : affichage
  But : Cette methode permet d'afficher tous les projets qui lui sont passés en paramètre
  Paramètre : projets => projets à afficher
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
- def affichage(projets)
  %table
    %tr
      %td{:style => "width:50px;"}
        %b Id
      %td{:style => "width:100px;"}
        %b Nom Outlook
      %td{:style => "width:150px;"}
        %b Nom
      %td{:style => "width:200px;"}
        %b Type projet
      %td{:style => "width:50px;"}
        %b Personne
      %td
        %b Options
    - for projet in projets
      %div{:id => "projet_#{projet.id}"}
        %tr
          %td{:style => "width:50px;"}= h projet.id
          %td{:style => "width:100px;"}= h projet.nomOutlook
          %td{:style => "width:150px;"}= h projet.nom
          %td{:style => "width:200px;"}= h projet.type_projet.typeProjet
          %td{:style => "width:50px;"}= h projet.personne.initiale
          %td
            = link_to "Ajouter un événement", {:action => "ajout_evenement", :id => projet.id}
            = link_to 'Visualisation', projet
            = link_to 'Modification', edit_projet_path(projet)
            = link_to 'Suppression', projet, data: { :confirm => 'Etes-vous sûr?'}, :method => :delete
%h1 Liste des projets
%br
/ Affichage des projets de types "Recherche et Développement"
%fieldset
  %legend Liste des projets de type "Recherche et Développement"
  - affichage(@projets_retd)
%br
/ Affichage des projets de types "IICT"
%fieldset
  %legend Liste des projets de type "IICT"
  - affichage(@projets_iict)
%br
/ Affichage des projets de types "Enseignement"
%fieldset
  %legend Liste des projets de type "Enseignement"
  Sélection de l'année académique : #{select "projet", "annee_academique", @annees_academiques.collect {|elt| [ elt.annee, elt.id ] }}
  - affichage(@projets_enseignement_annee)
/ Liens de retour"
= link_to 'Ajouter un projet', new_projet_path
= link_to 'Menu principal', enseignement_path
/ Activation de l'Ajax
.clear
= image_tag "ajax-loader.gif", :id=>"wait_icon", :style=>"display:none"
/ Lorsque le filtre des années académiques est modifié
= observe_field 'projet_annee_academique',          |
  :url=>{:action=>"annee_mise_a_jour"},             |
  :before => "Element.toggle('wait_icon')",         |
  :complete => "Element.toggle('wait_icon')",       |
  :with => "'id_annee_academique=' + escape(value)" |
