= set_onload_remote_function(:url=>{:action=>'creation', :type_projet=> @projet}) 
%h1 Création d'un projet
%p
  Id : #{text_field "projet", "id_Projet", :size=>'35'}
%p
  Nom Outlook : #{text_field "projet", "nomOutlook", :size=>'35'}
%p
  Nom : #{text_field "projet", "nom", :size=>'35'}
%p
  Description : #{text_field "projet", "description", :size=>'35'}
%p
  Budget Financier Planifié: #{text_field "projet", "budgetFinancierPlanifie", :size=>'35'}
%p
  Budget Horaire Planifié : #{text_field "projet", "budgetHorairePlanifie", :size=>'35'}
/ ...............................Statut................................
/ Affiche une liste contenant tous les statuts
%p
  Statut : #{select "projet", "statut_projet_id", []}
/ ...............................Type................................
/ Affiche une liste contenant tous les types
%p
  Type : #{select "projet", "type_projet_id", []}
/ ...............................Personne................................
/ Affiche une liste avec toutes les personnes
%p
  Superviseur : #{select "projet", "personne_id", []}
/ ...............................Unité d'enseignement................................
/ Affiche une liste avec toutes les UE
%p
  Unité d'enseignement : #{select "projet", "unite_enseignement_id", []}
= link_to "Créer", :remote => true,                                        |
  :url=>{:action=>"enregistrer_projet", :type_projet=> @projet.id},        |
  :with=>"'id_Projet=' + $('projet_id_Projet').value +                     |
  '&nomOutlook=' +$('projet_nomOutlook').value +                           |
  '&nom=' +$('projet_nom').value +                                         |
  '&description=' +$('projet_description').value +                         |
  '&budgetFinancierPlanifie=' +$('projet_budgetFinancierPlanifie').value + |
  '&budgetHorairePlanifie=' +$('projet_budgetHorairePlanifie').value +     |
  '&statut_projet_id=' +$('projet_statut_projet_id').value +               |
  '&type_projet_id=' +$('projet_type_projet_id').value +                   |
    '&personne_id=' +$('projet_personne_id').value+                        |
  '&unite_enseignement_id=' +$('projet_unite_enseignement_id').value+      |
  '&creer=' + #{true}"                                                     |
= link_to 'Retour', projets_path
