%p
  %b Id:
  = h @projet.id
%p
  %b Nomoutlook:
  = h @projet.nomOutlook
%p
  %b Nom:
  = h @projet.nom
%p
  %b Description:
  = h @projet.description
%p
  %b Budget:
  = h @projet.budgetFinancierPlanifie
%p
  %b Nbheures:
  = h @projet.budgetHorairePlanifie
%p
  %b Statut:
  = h @projet.statut_projet.statut
%p
  %b Type projet:
  = h @projet.type_projet.typeProjet
%p
  %b Superviseur:
  = h @projet.personne.initiale
- if @projet.unite_enseignement != nil
  %p
    %b Unité d'enseignement:
    = h @projet.unite_enseignement.nom
%br
  %p
    %b -------------------------------------------------------------
    %br
    %b Evénements du projet
    %br
    %b -------------------------------------------------------------
    %br
    - ## Liste de tous les événements liés au projet
      - for evenement in @evenements_associees
        = h evenement.texte
        %br
      %br
= link_to 'Edit', edit_projet_path(@projet)
|
-#{link_to 'Back', projets_path}
