%h1 Editing statut_projet
- form_for(@statut_projet) do |f|
  = f.error_messages
  %p
    = f.label :statut
    %br
    = f.text_field :statut
  %p
    = f.submit "Update"
= link_to 'Show', @statut_projet
|
-#{link_to 'Back', statut_projets_path}
