%h1 Listing statut_projets
%table
  %tr
    %th Statut
  - for statut_projet in @statut_projets
    %tr
      %td= h statut_projet.statut
      %td= link_to 'Show', statut_projet
      %td= link_to 'Edit', edit_statut_projet_path(statut_projet)
      %td= link_to 'Destroy', statut_projet, data: {:confirm => 'Are you sure?'}, :method => :delete
%br
= link_to 'New statut_projet', new_statut_projet_path
= link_to 'Menu principal', enseignement_path
