%h1 New statut_projet
- form_for(@statut_projet) do |f|
  = f.error_messages
  %p
    = f.label :statut
    %br
    = f.text_field :statut
  %p
    = f.submit "Create"
= link_to 'Back', statut_projets_path
