%h1 Edition de restriction
%br
%fieldset
  - form_for(@road_map) do |f|
    = f.error_messages
    Action
    %br
    = f.collection_select :road_map_action_id, @actions, :id, :action
    %br
    Date d'activation
    %br
    = f.calendar_date_select   :start_date
    %br
    Date de désactivation
    %br
    = f.calendar_date_select   :end_date
    %br
    Type de personne cible
    %br
    = f.collection_select :type_personne, @type_personne, :id, :typePersonne
    %br
    Description
    %br
    = f.text_field :description
    %br
    %br
    = f.submit 'Update'
  = link_to 'Retour', road_maps_path
