%h1 Actions road map
%br
  %ol.info
    .header_03="Road map en cours"
    %table
      %tr
        %th{:align => "left", :width => "120px"} Action
        %th{:width => "75px"} Activation
        %th{:width => "75px"} Désactivation
        %th{:align => "left"} Description
        %th{:width => "100px"} Options
      - for road_map in @road_maps
        %tr
          %td
            = road_map.road_map_action.action
          %td{:align => "center"}
            = road_map.start_date
          %td{:align => "center"}
            = road_map.end_date
          %td
            = road_map.description
          %td{:align => "center"}
            = link_to "Editer", edit_road_map_path(road_map)
            = link_to "Supprimer", road_map, data: {:confirm => 'Are you sure?'}, :method => :delete
    = link_to 'Ajouter une restriction au road map', new_road_map_path
  %br
  %ol.info
    .header_03= "Actions sur les heures des personnes"
    = button_to "Reset heures des personnes", reset_heures_road_maps_path
  %br
  %ol.info
    .header_03= "Action générique"
    = "#{button_to "Doit",  doit_road_maps_path, {:confirm=>"Êtes-vous sûr de vouloir effectuer cette opération?", :method => :get}}".html_safe
  %br
  %ol.info
    .header_03= "Actions sur projets de type labo"
    = "#{button_to "Créer les projets de type labo",  creer_projets_labos_road_maps_path, {:confirm=>"Êtes-vous sûr de vouloir effectuer cette opération? ", :method => :get}}".html_safe
  %br
  %ol.info
    .header_03= "Actions sur les années académiques"
    %br
    Dupliquer les données de l'année académique courante:
    = "#{button_to "Duplicata",  dupliquer_road_maps_path, {:confirm=>"Êtes-vous sûr de vouloir effectuer cette opération? Sachez que cette opération effectue le duplicata des données suivantes: - Année académique - Périodes - Constantes - Départements - Filières - Orientations - Unités d'enseignement - Compétences sur les unités d'enseignement - Charges d'enseignement des professeurs - Charges d'assistanat des collaborateurs ", :method => :get}}".html_safe
    %br
    Supprimer les données de l'année académique #{select "bachelor", "annee_academique", @annees_academiques.reverse.collect {|elt| [ elt.annee, elt.id ] }}
    /= "#{button_to_remote "Suppression", :url=>{:action=>"supprimer"}, :confirm=>"Êtes-vous sûr de vouloir effectuer cette opération ?", :with => "'id_annee_academique=' +$('bachelor_annee_academique').value"}".html_safei
    = button_to("Suppression", {:action=> "supprimer"}, {:onclick => "return confirm('Êtes-vous sûr de vouloir effectuer cette opération ?')", :method => :accept_question, :remote => true})
    %br
    %br
    </fieldset/>
