%h1= "Reset des heures des personnes"
%br
%br
= semantic_form_for :reset_heures, :url => reset_heures_dune_personne_road_maps_path do |f|
  = f.inputs do 
    = f.input :personne_id, :label => "Personne", :collection => @personnes, :label_method => :initiale, :include_blank => " - Choisissez une personne -", :hint => ""
  = f.buttons do 
    = f.commit_button "Reset des heures de la personne"
- if @next_personne
  %br
  = button_to "Reset des heures de #{@next_personne.initiale} (personne suivante)", reset_heures_dune_personne_road_maps_path({:reset_heures => {:personne_id => @next_personne.id}})
%br
= button_to "Reset global de toutes les personnes", reset_global_des_heures_road_maps_path
%br
= link_to "Revenir au Road-Map", road_maps_path 