%h1 Editing contrat_mensuel
- form_for(@contrat_mensuel) do |f|
  = f.error_messages
  %p
    Personne :  #{h @contrat_mensuel.personne.nom} #{h @contrat_mensuel.personne.prenom}
    -#{f.hidden_field :personne_id, {:value => @contrat_mensuel.personne_id }}
    -#{f.hidden_field :contrat_annuel_id, {:value => @contrat_mensuel.contrat_annuel_id }}
  %p
    Mois :
    -#{f.collection_select :moi_id, @mois, :id, :mois}
  %p
    = f.label :quotient
    %br
    = f.text_field :quotient
  %p
    = f.submit "Update"
= link_to 'Back', :controller => 'contrat_annuels', :action=> 'gestion_charges_annee', :id => @contrat_mensuel.contrat_annuel_id
