%h1 Ajout d'une charge à un contrat
- form_for :charge, @charge, :url => {:controller => 'contrat_mensuels', :action => 'update_charges', :id => @contrat.id} do |f|
  %p
    %b Type de contrat :
    = f.collection_select :type_contrat_id, @contrats_non_associes, :id, :typeContrat
  %p
    %b Pourcentage :
    = f.text_field :pourcentage
  %p
    = f.submit "Ajouter"
= link_to 'Annuler', contrat_mensuels_path
