%h1 Liste des contrats
%table
  %tr
    %th Employé
  - for contrat_mensuels in @personnes_sous_contrat
    %tr
      %td
        = h contrat_mensuels.personne.initiale
        \&nbsp;&nbsp;&nbsp; #{h contrat_mensuels.personne.nom} #{h contrat_mensuels.personne.prenom}
      %td{:align => "center", :width => "300"}= link_to 'Gestion du contrat sur l''année', {:action => 'gestion_charges', :id=> contrat_mensuels.id}
%br
= link_to 'Nouveau contrat', new_contrat_mensuel_path
= link_to 'Menu principal', enseignement_path
