%h1 Ajout d'une modification
- form_for(@contrat_mensuel) do |f|
  = f.error_messages
  / ...............................Personne................................
  / Affiche une liste des personnes
  %p
    Personne :  #{h @ContratAnnuel.personne.nom} #{h @ContratAnnuel.personne.prenom}
    -#{f.hidden_field :personne_id, {:value => @ContratAnnuel.personne.id }}
    -#{f.hidden_field :contrat_annuel_id, {:value => @ContratAnnuel.id }}
  %p
    Année : #{h @ContratAnnuel.annee_civile.annee}
  / ...............................Mois................................
  / Affiche gestion_chargesgestion_chargesune liste des mois
  %p
    Débute le :
    
    -#{f.date_select :date, :discard_year => true, :order => [:day, :month]}
  /
    <p>
    Quotient :
    <haml:loud> f.text_field :quotient </haml:loud>
    </p>
  = f.hidden_field :quotient, {:value => "0" }
  %p
    Type de contrat :
    -#{f.collection_select :type_contrat_id, @typeContrat, :id, :typeContrat}
  %p
    = f.submit "Créer"
= link_to 'Retour', {:controller => 'contrat_annuels',:action => 'gestion_charges_annee', :id=> @ContratAnnuel.id}
