%br
%br
= "Charges académiques"
= menu_item "Collaborateurs", charge_des_assistants_charges_path, :charge_des_assistants, :charges, can?(:manage, Charge), params
= menu_item "Professeurs", charge_des_professeurs_charges_path, :charge_des_professeurs, :charges, can?(:manage, Charge), params
%br
= "Unités d'enseignement (UE)"
= menu_item "Liste des UE", unite_enseignements_path(:comes_from => 'charges'), :index, :unite_enseignements, can?(:read, :enseignement), params
%br
= "Affectation des UE"
= menu_item "TIC", liste_eduardo_charges_path(:departement => 'TIC'), nil, :charges, can?(:read, :enseignement), params
= menu_item " > Sem 1", liste_eduardo_charges_path(:departement => 'TIC', :semestre => 'Semestre 1'), nil, :charges, can?(:read, :enseignement), params
= menu_item " > Sem 2", liste_eduardo_charges_path(:departement => 'TIC', :semestre => 'Semestre 2'), nil, :charges, can?(:read, :enseignement), params
= menu_item " > Sem 3", liste_eduardo_charges_path(:departement => 'TIC', :semestre => 'Semestre 3'), nil, :charges, can?(:read, :enseignement), params
= menu_item " > Sem 4", liste_eduardo_charges_path(:departement => 'TIC', :semestre => 'Semestre 4'), nil, :charges, can?(:read, :enseignement), params
= menu_item " > Sem 5", liste_eduardo_charges_path(:departement => 'TIC', :semestre => 'Semestre 5'), nil, :charges, can?(:read, :enseignement), params
= menu_item " > Sem 6", liste_eduardo_charges_path(:departement => 'TIC', :semestre => 'Semestre 6'), nil, :charges, can?(:read, :enseignement), params
= menu_item "TIN", liste_eduardo_charges_path(:departement => 'TIN'), nil, :charges, can?(:read, :enseignement), params
= menu_item " > Sem 1", liste_eduardo_charges_path(:departement => 'TIN', :semestre => 'Semestre 1'), nil, :charges, can?(:read, :enseignement), params
= menu_item " > Sem 2", liste_eduardo_charges_path(:departement => 'TIN', :semestre => 'Semestre 2'), nil, :charges, can?(:read, :enseignement), params
= menu_item " > Sem 3", liste_eduardo_charges_path(:departement => 'TIN', :semestre => 'Semestre 3'), nil, :charges, can?(:read, :enseignement), params
= menu_item " > Sem 4", liste_eduardo_charges_path(:departement => 'TIN', :semestre => 'Semestre 4'), nil, :charges, can?(:read, :enseignement), params
= menu_item " > Sem 5", liste_eduardo_charges_path(:departement => 'TIN', :semestre => 'Semestre 5'), nil, :charges, can?(:read, :enseignement), params
= menu_item " > Sem 6", liste_eduardo_charges_path(:departement => 'TIN', :semestre => 'Semestre 6'), nil, :charges, can?(:read, :enseignement), params
= menu_item "COMEM", liste_eduardo_charges_path(:departement => 'COMEM'), nil, :charges, can?(:read, :enseignement), params
= menu_item "FEE", liste_eduardo_charges_path(:departement => 'FEE'), nil, :charges, can?(:read, :enseignement), params
= menu_item "PREPA", liste_eduardo_charges_path(:departement => 'Prepa'), nil, :charges, can?(:read, :enseignement), params
= menu_item "Masters", liste_eduardo_charges_path(:departement => 'MASTER'), nil, :charges, can?(:read, :enseignement), params
= menu_item "MAS-ICT", liste_eduardo_charges_path(:departement => 'MAS-ICT'), nil, :charges, can?(:read, :enseignement), params


%br
-#%br
-#= "Bilan des charges d'enseignement"
-#= menu_item "Collaborateurs", bilan_charges_des_assistants_charges_path, :bilan_charges_des_assistants, :charges, can?(:manage,-# Charge), params
-#= menu_item "Professeurs", bilan_charges_des_professeurs_charges_path, :bilan_charges_des_professeurs, :charges, can?(:manage, Charge), param