
- if avec_nom_personne && !avec_entete
  .header_03= "#{personne.display_name}"
- if avec_nom_personne && avec_entete
  .header_03= "#{personne.display_name} - Charges prévisionnelles d'enseignement"
- if !avec_nom_personne && avec_entete
  .header_03= "Charges prévisionnelles d'enseignement"
%ol.info
  %table
    %th{:style => "text-align:left; width: 70px"} Unité
    %th{:style => "text-align:left; width: 60px"}  
    %th{:style => "text-align:left; width: 30px"} Th
    %th{:style => "text-align:left; width: 25px"} %
    %th{:style => "text-align:left; width: 50px"} Heures
    %th{:style => "text-align:left; width: 30px"} Labo
    %th{:style => "text-align:left; width: 25px"} %
    %th{:style => "text-align:left; width: 50px"} Heures
    %th{:style => "text-align:left; width: 1px"} 
    %th{:style => "text-align:left; width: 50px"} Periodes
    %th{:style => "text-align:left; width: 50px"} Heures
    %th{:style => "text-align:left; width: 30px"} Exam
    %th{:style => "text-align:left; width: 150px"} Assistants/Responsables
    - if (can? :manage, :creationChargesEffectives) && mode == :update
      %th{:style => "text-align:left; width: 50px"} 
    - row = 0
    - total_heures_enseignement = 0.0
    - total_heures_enseignement_ete = 0.0
    - total_heures_enseignement_hiver = 0.0
    - UniteEnseignement.charges_enseignement(personne, AnneeAcademique.courante.id).each do |charge|
      - row+=1
      - valeur_charge = charge.heures_a_charge
      = render :partial => "charges/une_charge_prev_dune_personne", :locals => {:charge => charge, :valeur => valeur_charge, :row => row, :type_charge => 'Enseignement', :mode => mode}
      - total_heures_enseignement += valeur_charge
      - if charge.unite_enseignement.periode.is_en_hiver?
        - total_heures_enseignement_hiver+= valeur_charge
      - else
        - total_heures_enseignement_ete+= valeur_charge
    - total_heures_assistanat = 0.0
    - total_heures_assistanat_ete = 0.0
    - total_heures_assistanat_hiver = 0.0
    - UniteEnseignement.charges_assistanat(personne, AnneeAcademique.courante.id).each do |charge|
      - row+=1
      - valeur_charge = charge.heures_a_charge
      = render :partial => "charges/une_charge_prev_dune_personne", :locals => {:charge => charge, :valeur => valeur_charge, :row => row, :type_charge => 'Assistanat', :mode => mode}    
      - total_heures_assistanat += valeur_charge
      - if charge.unite_enseignement.periode.is_en_hiver?
        - total_heures_assistanat_hiver+= valeur_charge
      - else
        - total_heures_assistanat_ete+= valeur_charge 
  - total_charge_examen=ChargeEnseignement.total_charge_examen(personne, AnneeAcademique.courante.id)
  - total_charges_previsionnelles = total_heures_enseignement + total_heures_assistanat + total_charge_examen
  %table
    %tr
      %th{:style => "text-align:left; width: 150px"}
      %th{:style => "text-align:left; width: 150px"}
    - if total_heures_assistanat>0
      - if total_heures_enseignement <= 0
        %tr
          %td="Total - Charges prévisionnelles"
          %td{:style => "font-weight:bold; color:#00CC99"}="#{number_with_precision(total_heures_assistanat, :precision=>1, :separator=>'.', :strip_insignificant_zeros => false)}"
        %tr
          %td="~= En périodes"
          %td{:style => "font-weight:bold"}="#{number_with_precision(total_heures_assistanat/16/2.2, :precision=>1, :separator=>'.', :strip_insignificant_zeros => false)}"
        %tr
          %td="> Hiver"
          %td{:style => "font-weight:bold"}="#{number_with_precision(total_heures_assistanat_hiver/16/2.2, :precision=>1, :separator=>'.', :strip_insignificant_zeros => false)}"
        %tr
          %td="> Eté"
          %td{:style => "font-weight:bold"}="#{number_with_precision(total_heures_assistanat_ete/16/2.2, :precision=>1, :separator=>'.', :strip_insignificant_zeros => false)}"
      - else
        %tr
          %td="Total assistanat"
          %td{:style => "font-weight:bold"}="#{number_with_precision(total_heures_assistanat, :precision=>1, :separator=>'.', :strip_insignificant_zeros => false)}"
        %tr
          %td="~= Périodes"
          %td{:style => "font-weight:bold"}="#{number_with_precision(total_heures_assistanat/16/2.2, :precision=>1, :separator=>'.', :strip_insignificant_zeros => false)}"
    - if total_heures_enseignement>0
      %tr
        %td="Heures d'enseignement"
        %td{:style => "font-weight:bold"}="#{number_with_precision(total_heures_enseignement, :precision=>1, :separator=>'.', :strip_insignificant_zeros => false)}"
      %tr
        %td= "Charge d'examen"
        %td{:style => "font-weight:bold"}= "#{number_with_precision(total_charge_examen, :precision=>1, :separator=>'.', :strip_insignificant_zeros => false)} (facteur #{number_with_precision(Constante.facteur_examen(AnneeAcademique.courante.id), :precision=>1, :separator=>'.', :strip_insignificant_zeros => true)})"
    - if total_heures_enseignement>0
      %tr
        %td= "Total - Charges prévisionnelles"
        %td{:style => "font-weight:bold; color:#00CC99"}= "#{number_with_precision(total_charges_previsionnelles, :precision=>1, :separator=>'.', :strip_insignificant_zeros => false)}"

%br
