%br
%ol.info
  %table
    %th{:style => "text-align:left; width: 100px"} *Unités*
    %th{:style => "text-align:left; width: 90px"} Semestre
    %th{:style => "text-align:left; width: 50px"} Heures
    - row = 0
    - total_heures_enseignement = 0.0
    - total_heures_enseignement_ete = 0.0
    - total_heures_enseignement_hiver = 0.0
    - UniteEnseignement.charges_enseignement(personne, AnneeAcademique.courante.id).each do |charge|
      - row+=1
      - valeur_charge = charge.heures_a_charge
      = render :partial => "charges/une_charge_resumee_dune_personne", :locals => {:charge => charge, :valeur => valeur_charge, :row => row, :type_charge => 'Enseignement'}
      - total_heures_enseignement += valeur_charge
      - if charge.unite_enseignement.periode.is_en_hiver?
        - total_heures_enseignement_hiver+= valeur_charge
      - else
        - total_heures_enseignement_ete+= valeur_charge
    - total_heures_assistanat = 0.0
    - total_heures_assistanat_ete = 0.0
    - total_heures_assistanat_hiver = 0.0
    - UniteEnseignement.charges_assistanat(personne, AnneeAcademique.courante.id).each do |charge|
      - row+=1
      - valeur_charge = charge.heures_a_charge
      = render :partial => "charges/une_charge_resumee_dune_personne", :locals => {:charge => charge, :valeur => valeur_charge, :row => row, :type_charge => 'Assistanat'}    
      - total_heures_assistanat += valeur_charge
      - if charge.unite_enseignement.periode.is_en_hiver?
        - total_heures_assistanat_hiver+= valeur_charge
      - else
        - total_heures_assistanat_ete+= valeur_charge
  - total_charge_examen=ChargeEnseignement.total_charge_examen(personne, AnneeAcademique.courante.id)
  - total_charges_previsionnelles = total_heures_enseignement + total_heures_assistanat + total_charge_examen
  %table
    %tr
      %th{:style => "text-align:left; width: 100px"}
      %th{:style => "text-align:left; width: 50px"}
    - if total_heures_assistanat>0
      - if total_heures_enseignement <= 0
        %tr
          %td="Total heures"
          %td{:style => "font-weight:bold; color:#00CC99"}="#{number_with_precision(total_heures_assistanat, :precision=>1, :separator=>'.', :strip_insignificant_zeros => false)}"
        %tr
          %td="~= En périodes"
          %td{:style => "font-weight:bold"}="#{number_with_precision(total_heures_assistanat/16/2.2, :precision=>1, :separator=>'.', :strip_insignificant_zeros => false)}"
        %tr
          %td="> Hiver"
          %td{:style => "font-weight:bold"}="#{number_with_precision(total_heures_assistanat_hiver/16/2.2, :precision=>1, :separator=>'.', :strip_insignificant_zeros => false)}"
        %tr
          %td="> Eté"
          %td{:style => "font-weight:bold"}="#{number_with_precision(total_heures_assistanat_ete/16/2.2, :precision=>1, :separator=>'.', :strip_insignificant_zeros => false)}"
      - else
        %tr
          %td="Total assistanat"
          %td{:style => "font-weight:bold"}="#{number_with_precision(total_heures_assistanat, :precision=>1, :separator=>'.', :strip_insignificant_zeros => false)}"
        %tr
          %td="~= Périodes"
          %td{:style => "font-weight:bold"}="#{number_with_precision(total_heures_assistanat/16/2.2, :precision=>1, :separator=>'.', :strip_insignificant_zeros => false)}"
    - if total_heures_enseignement>0
      %tr
        %td="Total enseignement"
        %td{:style => "font-weight:bold"}="#{number_with_precision(total_heures_enseignement, :precision=>1, :separator=>'.', :strip_insignificant_zeros => false)}"
      %tr
        %td= "Examens"
        %td{:style => "font-weight:bold"}= "#{number_with_precision(total_charge_examen, :precision=>1, :separator=>'.', :strip_insignificant_zeros => false)}"
    - if total_heures_enseignement>0
      %tr
        %td= "Total résultant"
        %td{:style => "font-weight:bold; color:#00CC99"}= "#{number_with_precision(total_charges_previsionnelles, :precision=>1, :separator=> '.', :strip_insignificant_zeros => false)}"


