%br
- if avec_entete
  .header_03= "Charges académiques effectives"
%ol.info
  %table
    %th{:style => "text-align:left; width: 120px"} Type du projet
    %th{:style => "text-align:left; width: 200px"} Nom
    %th{:style => "text-align:left; width: 120px"} Unite d'enseignement
    %th{:style => "text-align:left; width: 80px"} Heures allouées
    %th{:style => "text-align:left; width: 80px"} Heures saisies
    - row = 0
    - total_charge_academique=0.0
    - AffectationProjet.affectations_academiques(personne, AnneeAcademique.courante).each do |ap|
      - row+=1
      %tr{:style => (row % 2 == 0) ? "background-color:#DDDDDD" : "background-color:#C2D0DA"}
        %td="#{ap.projet.type_projet.display_name}"
        %td="#{ap.display_name}"
        - if ap.projet.est_un_projet_enseignement
          %td="#{ap.projet.unite_enseignement.display_name_short}"
        - else
          %td="-"  
        - if ap.charge_horaire 
          - total_charge_academique+=ap.charge_horaire                
          %td=h number_with_precision(ap.charge_horaire, :precision=>1, :separator=>'.', :strip_insignificant_zeros => true)
        - else
          %td=h "-"       
        %td=h number_with_precision(ap.heures_saisies, :precision=>1, :separator=>'.', :strip_insignificant_zeros => true)

  %table
    %tr
      %th{:style => "text-align:left; width: 150px"}
      %th{:style => "text-align:left; width: 150px"}
    %tr
      %td="Total - Charge académique allouée"
      %td{:style => "font-weight:bold; color:#FF9933"}="#{number_with_precision(total_charge_academique, :precision=>1, :separator=>'.', :strip_insignificant_zeros => true)}"
%br
%br
= render :partial => "charges/charges_prev_dune_personne", :locals => {:personne => personne, :avec_entete => true, :avec_nom_personne=> false, :mode=> mode}

