- content_for :head do
  = javascript_include_tag("charges_personne_details")
  = javascript_include_tag("graphe_affectations")
%h1= "Bilan des affectations pour le département #{nom_departement}"
-#%button.bouton_graphe_affectations= "Graphe"
-#.clear
-#.graphe_des_affectations
- @liste_unites[nom_departement].keys.each do |nom_periode|
  %h2= "#{nom_periode}" 
  %table{:class => "eduardo"}
    %tr
      %th{:style => "text-align:left; width: 70px"} Unité
      %th{:style => "text-align:left; width: 45px"} Th
      %th{:style => "text-align:left; width: 45px"} Lab
      %th{:style => "text-align:left; width: 60px"} Orientations
      %th{:style => "text-align:left; width: 60px"}  
      %th{:style => "text-align:center; width: 35px"} Groupe
      %th{:style => "text-align:center; width: 35px"} Taille
      %th{:style => "text-align:left; width: 80px"} Activité
      %th{:style => "text-align:left; width: 60px"} Personne
      %th{:style => "text-align:left; width: 40px"} taux %
      %th{:style => "text-align:left; width: 40px"} Heures
      - if can? :manage, :enseignement
        %th{:style => "text-align:left; width: 50px"} Ass on/off
        -# %th{:style => "text-align:left; width: 10px"} Assistant
    - row = 0
    - @liste_unites[nom_departement][nom_periode].each do |ue|
      - no_charge=0
      - no_charge_theorique=0
      - no_charge_pratique=0
      - tabGroupesTheorie=ue.tableau_des_no_de_groupe('T')
      - tabGroupesLabo=ue.tableau_des_no_de_groupe('L')
      - tabGroupesTheorie.each do |no_groupe|
        - no_charge_par_groupe = 0
        - ue.charges_associees_pour_groupe(no_groupe, 'enseignement', 'T').each do |charge|
          - row+=1
          - no_charge += 1
          - no_charge_theorique += 1
          - no_charge_par_groupe +=1
          %tr{:style => (row % 2 == 0) ? "background-color:#DDDDDD" : "background-color:#C2D0DA"}
            - if no_charge==1
              - if can? :manage, :enseignement
                - if !ue.taux_charge_OK?
                  %td{:class => "erreur"}= link_to ue.abreviation, charges_unite_enseignement_path(ue)
                - else
                  %td= link_to ue.abreviation, charges_unite_enseignement_path(ue)
              - else
                - if !ue.taux_charge_OK?
                  %td{:class => "erreur"}= h ue.abreviation
                - else
                  %td{:class => "OK"}= h ue.abreviation               
              %td= h ue.nbPeriodesTheoriquesSemaine
              %td= h ue.nbPeriodesPratiquesSemaine
              %td= h ue.liste_orientations
            - else
              %td= ""
              %td= ""
              %td= ""
              %td= ""
            - if no_charge_theorique==1
              %td= h "Théorie"
            - else
              %td= h ""
            - if no_charge_par_groupe==1
              %td{:style => "text-align:center"}= h charge.numGroupe
            -else
              %td= h ""
            - if ue.nb_etudiants_potentiels != nil
              %td= h ue.nb_etudiants_potentiels/ue.nbGroupesTh
            - else
              %td= h "--"
            %td= h "Enseignement"
            - if charge.personne.dans_institut?
              %td
                %button.charges_personne_button= "#{charge.personne.initiale}"
                .clear
                .charges_personne_details{:"data-personne-id" => charge.personne.id}
            - else
              %td
                %button.charges_personne_button= "#{charge.personne.initiale}*"
                .clear
                .charges_personne_details{:"data-personne-id" => charge.personne.id}
            - if charge.taux
              %td= h charge.taux.round
            - else
              %td= h ""
            %td=charge.heures
            - if can? :manage, :enseignement
              %td= ""
        - ue.charges_associees_pour_groupe(no_groupe, 'assistanat', 'T').each do |charge|
          - row+=1
          - no_charge += 1
          - no_charge_theorique += 1
          - no_charge_par_groupe +=1
          %tr{:style => (row % 2 == 0) ? "background-color:#DDDDDD" : "background-color:#C2D0DA"}
            - if no_charge==1
              - if can? :manage, :enseignement
                - if !ue.taux_charge_OK?
                  %td{:class => "erreur"}= link_to ue.abreviation, charges_unite_enseignement_path(ue)
                - else
                  %td= link_to ue.abreviation, charges_unite_enseignement_path(ue)
              - else
                - if !ue.taux_charge_OK?
                  %td{:class => "erreur"}= h ue.abreviation
                - else
                  %td{:class => "OK"}= h ue.abreviation       
              %td= h ue.nbPeriodesTheoriquesSemaine
              %td= h ue.nbPeriodesPratiquesSemaine
              %td= h ue.liste_orientations
            - else
              %td= ""
              %td= ""
              %td= ""
              %td= ""
            - if no_charge_theorique==1
              %td= h "Théorie"
            - else
              %td= h ""
            - if no_charge_par_groupe==1
              %td{:style => "text-align:center"}= h charge.numGroupe
            -else
              %td= h ""
            %td= h ""
            %td= h "Assistanat"
            - if charge.personne.dans_institut?
              %td
                %button.charges_personne_button= "#{charge.personne.initiale}"
                .clear
                .charges_personne_details{:"data-personne-id" => charge.personne.id}
            - else
              %td
                %button.charges_personne_button= "#{charge.personne.initiale}*"
                .clear
                .charges_personne_details{:"data-personne-id" => charge.personne.id}
            - if charge.taux
              %td= h charge.taux.round
            - else
              %td= h ""
            %td= h charge.heures
            - if can? :manage, :enseignement
              %td= ""
      - tabGroupesLabo.each do |no_groupe|
        - no_charge_par_groupe = 0
        - ue.charges_associees_pour_groupe(no_groupe, 'enseignement', 'L').each do |charge|
          - row+=1
          - no_charge += 1
          - no_charge_pratique += 1
          - no_charge_par_groupe +=1
          %tr{:style => (row % 2 == 0) ? "background-color:#DDDDDD" : "background-color:#C2D0DA"}
            - if no_charge==1
              - if can? :manage, :enseignement
                - if !ue.taux_charge_OK?
                  %td{:class => "erreur"}= link_to ue.abreviation, charges_unite_enseignement_path(ue)
                - else
                  %td= link_to ue.abreviation, charges_unite_enseignement_path(ue)
              - else
                - if !ue.taux_charge_OK?
                  %td{:class => "erreur"}= h ue.abreviation
                - else
                  %td{:class => "OK"}= h ue.abreviation      
              %td= h ue.nbPeriodesTheoriquesSemaine
              %td= h ue.nbPeriodesPratiquesSemaine
              %td= h ue.liste_orientations
            - else
              %td= ""
              %td= ""
              %td= ""
              %td= ""
            - if no_charge_pratique==1
              %td= h "Labo"
            - else
              %td= h ""
            - if no_charge_par_groupe==1
              %td{:style => "text-align:center"}= h charge.numGroupe
            -else
              %td= h ""
            - if ue.nb_etudiants_potentiels != nil
              %td= h ue.nb_etudiants_potentiels/ue.nbGroupesLab
            - else
              %td= h "--"
            %td= h "Responsabilité"
            - if charge.personne.dans_institut?
              %td
                %button.charges_personne_button= "#{charge.personne.initiale}"
                .clear
                .charges_personne_details{:"data-personne-id" => charge.personne.id}
            - else
              %td
                %button.charges_personne_button= "#{charge.personne.initiale}*"
                .clear
                .charges_personne_details{:"data-personne-id" => charge.personne.id}
            - if charge.taux
              %td= h charge.taux.round
            - else
              %td= h ""
            %td= h charge.heures
            - if can? :manage, :enseignement
              %td= ""
        - #if ue.assistanat_reconnu
        - ue.charges_associees_pour_groupe(no_groupe, 'assistanat', 'L').each do |charge|
          - row+=1
          - no_charge += 1
          - no_charge_pratique += 1
          - no_charge_par_groupe +=1
          %tr{:style => (row % 2 == 0) ? "background-color:#DDDDDD" : "background-color:#C2D0DA"}
            - if no_charge==1
              - if can? :manage, :enseignement
                - if !ue.taux_charge_OK?
                  %td{:class => "erreur"}= link_to ue.abreviation, charges_unite_enseignement_path(ue)
                - else
                  %td= link_to ue.abreviation, charges_unite_enseignement_path(ue)
              - else
                - if !ue.taux_charge_OK?
                  %td{:class => "erreur"}= h ue.abreviation
                - else
                  %td{:class => "OK"}= h ue.abreviation      
              %td= h ue.nbPeriodesTheoriquesSemaine
              %td= h ue.nbPeriodesPratiquesSemaine
              %td= h ue.liste_orientations
            - else
              %td= ""
              %td= ""
              %td= ""
              %td= ""
            - if no_charge_pratique==1
              %td= h "Labo"
            - else
              %td= h ""
            - if no_charge_par_groupe==1
              %td{:style => "text-align:center"}= h charge.numGroupe
            -else
              %td= h ""
            %td= h ""
            - if !ue.assistanat_reconnu?
              %td{:class => "ass_non_reconnu"}
                Assistanat
                = image_tag('no_big_icone.png', :height => "10")
            - else 
              %td= "Assistanat"
            - if charge.personne.dans_institut?
              %td
                %button.charges_personne_button= "#{charge.personne.initiale}"
                .clear
                .charges_personne_details{:"data-personne-id" => charge.personne.id}
            - else
              %td
                %button.charges_personne_button= "#{charge.personne.initiale}*"
                .clear
                .charges_personne_details{:"data-personne-id" => charge.personne.id}
            - if charge.taux
              %td= h charge.taux.round
            - else
              %td= h ""
            %td= h charge.heures
            - if can? :manage, :enseignement
              %td= h link_to image_tag('change_medium_icone.png'), change_assistanat_reconnu_charges_path(:ue => ue.id, :departement => nom_departement)
              - #%td
              - #  = semantic_form_for(charge, :url=>update_charge_unite_enseignement_path(ue, charge, :charge_id => charge.id, :mode=>'  - #assistanat')) do |f|
              - #    = f.inputs do 
              - #      = f.hidden_field :numGroupe, :value => no_groupe
              - #      = f.hidden_field :typeGroupe, :value => 'L'  
              - #      = f.input :personne, :label => "", :collection => @personnes_possibles, :label_method => :initiale, :include_blank => "- #                 - Choisissez une personne -"
              - #    = f.buttons do
              - #      = f.commit_button "Valider"
  %br