%tr{:style => (row % 2 == 0) ? "background-color:#DDDDDD" : "background-color:#C2D0DA"}
  %td="#{charge.unite_enseignement.display_name_short}-#{charge.numGroupe}"
  %td=charge.unite_enseignement.periode.idPeriode
  - if charge.is_charge_de_theorie?
    - if charge.unite_enseignement.coursBloc?
      - nbPeriodes=charge.unite_enseignement.nbPeriodesTheoriquesTotal
      - suffixe = "(total)"
    - else
      - nbPeriodes=charge.unite_enseignement.nbPeriodesTheoriquesSemaine
      - suffixe = "" 
    %td=h "#{number_with_precision(nbPeriodes, :precision=>1, :separator=>'.', :strip_insignificant_zeros => true)} #{suffixe}"
    - if charge.taux
      %td=charge.taux.to_i
      %td="-"
    - else
      %td="-"
      %td=charge.heures
    %td="-"
    %td="-"
    %td="-"
  - else
    - if charge.unite_enseignement.coursBloc?
      - nbPeriodes=charge.unite_enseignement.nbPeriodesPratiquesTotal
      - suffixe = "(total)"
    - else
      - nbPeriodes=charge.unite_enseignement.nbPeriodesPratiquesSemaine
      - suffixe = ""
    %td="-"
    %td="-"
    %td="-"
    %td=h "#{number_with_precision(nbPeriodes, :precision=>1, :separator=>'.', :strip_insignificant_zeros => true)} #{suffixe}"
    - if charge.taux
      %td=charge.taux.to_i
      %td="-"
    - else
      %td="-"
      %td=charge.heures
  %td=""
  - if charge.taux
    %td=h number_with_precision(charge.periodes, :precision=>1, :separator=>'.', :strip_insignificant_zeros => true)
  - else
    %td="-"
  %td=h number_with_precision(valeur, :precision=>1, :separator=>'.', :strip_insignificant_zeros => true)
  - if type_charge.eql?('Enseignement')
    - if charge.is_charge_de_theorie?()
      %td= h number_with_precision(charge.charge_examen, :precision=>1  , :separator=>'.', :strip_insignificant_zeros => true)
    - else
      %td="-"
    - if charge.unite_enseignement.assistanat_reconnu
      %td= h charge.assistants_associes
    - else
      - if charge.typeGroupe.eql?'L'
        %td{:style => "color: #1060F0; background-color: #F0B000"}= "Non assisté (effectif trop faible)"
      - else
        %td= h charge.assistants_associes
  - else 
    %td="-"
    %td=charge.unite_enseignement.professeurs_responsables_pour_groupe(charge.numGroupe, charge.typeGroupe)
  - if can?(:manage, :creationChargesEffectives) && !Variable.phase_planification_enseignement? && mode == :update
    %td= button_to "Créer projet", create_charge_effective_charges_path( {:charge_id => charge.id, :mode => type_charge}), data: { :confirm => "Etes-vous sûr de vouloir créer le projet et son affectation effective?" }