%tr{:style => (row % 2 == 0) ? "background-color:#DDDDDD" : "background-color:#C2D0DA"}
  %td="#{charge.unite_enseignement.display_name_short}-#{charge.numGroupe}"
  %td=charge.unite_enseignement.periode.idPeriode
  %td=h number_with_precision(valeur, :precision=>1, :separator=>'.', :strip_insignificant_zeros => true)
