- content_for :left_menu do
  = render :partial => 'actions'
%h2 Vue globale
%br
%table{:width => "90%"}
  %tr
    %th{:align => "left", :valign => "center", :width => "10%"} Enseignant
    %th{:align => "left", :valign => "center", :width => "10%"} Total
    %th{:align => "left", :valign => "center", :width => "10%"} Solde
    %th{:align => "left", :valign => "center", :width => "10%"} Enseignement
    %th{:align => "left", :valign => "center", :width => "15%"} Diplomes Bachelor
    %th{:align => "left", :valign => "center", :width => "15%"} Diplomes Master
    %th{:align => "left", :valign => "center", :width => "10%"} R&D
    %th{:align => "left", :valign => "center", :width => "10%"} Missions
    %th{:align => "left", :valign => "center", :width => "10%"} Examens
  %tr
    %td{:colspan => "9", :style => "background-color:#BBBBBB"} Professeurs
  - @professeurs.each do |prof|
    %tr
      %td= prof.initiale
      %td= #heures_annuelles_total(prof, @annee_civile_courante)
      %td= #solde(prof, @annee_civile_courante)
      %td= #heures_annuelles_enseignement(prof, @annee_civile_courante)
      %td= #heures_annuelles_bachelor(prof, @annee_civile_courante)
      %td= #heures_annuelles_master(prof, @annee_civile_courante)
      %td= #heures_annuelles_retd(prof, @annee_civile_courante)
      %td= #heures_annuelles_mission(prof, @annee_civile_courante)
%p/
%hr/
%br
