- content_for :left_menu do
  = render :partial => 'actions'
- content_for :head do
  = javascript_include_tag("charges_details")
%h1 Charges académiques
%br
- if @type_personnes.eql?("Collaborateurs")
  .header_02= "Collaborateurs"
- else
  .header_02= "Professeurs"
- annee_academique=AnneeAcademique.courante
- total_charge_effectives_fictifs=0
- total_charge_previsionnelles_fictifs=0
- @personnes_fictives.each do |personne|
  - total_charge_effectives_fictifs+=AffectationProjet.charge_effective_totale_en_heures(personne, annee_academique)
  - total_charge_previsionnelles_fictifs+=ChargeAssistanat.total_heures(personne, annee_academique.id)+ChargeEnseignement.total_heures_avec_examens(personne, annee_academique.id)
- if total_charge_effectives_fictifs>0 || total_charge_previsionnelles_fictifs>0
  %br
  %ol.info
    - if @type_personnes.eql?("Collaborateurs")
      .charges_label_head= h "Collaborateur fictif"
    - else
      .charges_label_head= h "Professeur fictif" 
    .charges_effectives_montant= h "Effectif"
    .charges_previsionnelles_montant= h "Prévisionnel"
    %br
    %br
    - @personnes_fictives.each do |personne|
      - total_charge_effective=AffectationProjet.charge_effective_totale_en_heures(personne, annee_academique)
      - total_charge_previsionnelle=ChargeAssistanat.total_heures(personne, annee_academique.id)+ChargeEnseignement.total_heures_avec_examens(personne, annee_academique.id)
      - if total_charge_effective > 0.0 || total_charge_previsionnelle > 0.0
        .charges{:"data-personne-id" => personne.id}
          .charges_label= link_to(personne.display_name, personne) 
          .charges_effectives_montant= h number_with_precision(total_charge_effective, :precision=>1, :separator=>'.', :strip_insignificant_zeros => true)
          .charges_previsionnelles_montant= h number_with_precision(total_charge_previsionnelle, :precision=>1, :separator=>'.', :strip_insignificant_zeros => true)          
          %button.charges_button= "Détails"
          .clear
          .charges_details{:"data-personne-id" => personne.id}
          .spacer
%br
%ol.info
  - if @type_personnes.eql?("Collaborateurs")
    .charges_label_head= h "Collaborateur"
  - else
    .charges_label_head= h "Professeur" 
  .charges_effectives_montant= h "Effectif"
  .charges_previsionnelles_montant= h "Prévisionnel"
  %br
  %br
  - @personnes.each do |personne|
    .charges{:"data-personne-id" => personne.id}
      - total_charge_effective=AffectationProjet.charge_effective_totale_en_heures(personne, annee_academique)
      - total_charge_previonnelle=ChargeAssistanat.total_heures(personne, annee_academique.id)+ChargeEnseignement.total_heures_avec_examens(personne, annee_academique.id)
      .charges_label= link_to(personne.display_name, personne) 
      .charges_effectives_montant= h number_with_precision(total_charge_effective, :precision=>1, :separator=>'.', :strip_insignificant_zeros => true)
      .charges_previsionnelles_montant= h number_with_precision(total_charge_previonnelle, :precision=>1, :separator=>'.', :strip_insignificant_zeros => true)
      %button.charges_button= "Détails"
      .clear
      .charges_details{:"data-personne-id" => personne.id}
      .spacer
  .clear
  .spacer