%h1 Editer l'assignement
%br
  - form_for(@charge) do |f|
    = f.error_messages
    %div{:align => "right", :style => "float:left;"}
      Nombre d'heures annuelles :
      %br
      Coût horaire :
      %br
      Texte :
      %br
      Projet :
      %br
      Annee civile :
      %br
    %div{:style => "float:left;margin-left:10px;"}
      = f.text_field :nbHeuresAnnuelles
      %br
      = f.text_field :coutHoraire
      %br
      = f.text_field :texte
      %br
      = f.collection_select :projet_id, @projets_non_associees, :id, :nomOutlook
      %br
      = f.collection_select :annee_civile_id, @liste_annnes_civiles, :id, :annee
    .clear
    = f.submit 'Mise à jour'
  = link_to 'Afficher les détails', @charge
  |
  -#{link_to 'Retour', (@charge.personne)}
