- content_for :left_menu do
  = render :partial => 'actions'
- @liste_unites.keys.each do |nom_departement|
  = render(:partial => 'liste_eduardo_pour_departement', :locals =>{:nom_departement=>nom_departement, :semestre=>@semestre})