%h1 New charge
- form_for(@charge) do |f|
  = f.error_messages
  %p
    = f.label :nbHeuresAnnuelles
    %br
    = f.text_field :nbHeuresAnnuelles
  %p
    = f.label :coutHoraire
    %br
    = f.text_field :coutHoraire
  %p
    = f.label :texte
    %br
    = f.text_field :texte
  %p
    = f.submit 'Create'
= link_to 'Back', charges_path
