%h1 Détail de l'assignement
%br
%fieldset
  %legend Collaborateur assigné
  %div{:align => "right", :style => "float:left; width:220px;"}
    %b Prénom :
    %br
    %b Nom :
    %br
    %b Statut :
    %br
    %b Axe :
  %div{:style => "float:left; width:220px; margin-left:10px;"}
    = @personne.prenom
    %br
    = @personne.nom
    %br
    = @personne.type_personne.typePersonne
    %br
    = @personne.axe_strategique.nom
  %div{:style => "clear:both;"}
%br
%fieldset
  %legend Projet
  %div{:align => "right", :style => "float:left; width:220px;"}
    %b Nom Outlook :
    %br
    %b Nom :
    %br
    %b Statut :
    %br
    %b Type de projet :
    %br
    %b Description :
  %div{:style => "float:left; width:220px; margin-left:10px;"}
    = @charge.projet.nomOutlook
    %br
    = @charge.projet.nom
    %br
    = @charge.projet.statut_projet.statut
    %br
    = @charge.projet.type_projet.typeProjet
    %br
    = @charge.projet.description
  %div{:style => "clear:both;"}
%br
%fieldset
  %legend Assignement
  %div{:align => "right", :style => "float:left; width:220px;"}
    %b Nombre d'heures annuelles :
    %br
    %b Cout horaire :
    %br
    %b Année civile :
    %br
    %b Texte :
  %div{:style => "float:left; width:220px; margin-left:10px;"}
    = h @charge.nbHeuresAnnuelles
    %br
    = h @charge.coutHoraire
    %br
    = h @charge.annee_civile.annee
    %br
    = h @charge.texte
  %div{:style => "clear:both;"}
%br
= link_to 'Modifier', edit_charge_path(@charge)
| #{link_to 'Retour', @charge.personne}
