!!!
%html
  %head
    -#/ Activation de javaScript
    = javascript_include_tag 'application'

    -#/= javascript_include_tag :defaults
    -#= javascript_include_tag "nested_forms.js", :defer => "defer"
    -#/= javascript_include_tag "jquery-1.4.2.min.js"
    -#/= javascript_include_tag 'jquery-ui-1.8.4.custom.min.js'
    -#/= javascript_include_tag "jquery-noconflict.js"
    -#/= javascript_include_tag "jquery.easing-1.3.pack.js"
    -#/= javascript_include_tag "jquery.fancybox-1.3.1.js"
    -#= javascript_include_tag "prototype.js", :defer => "defer"
    -#= javascript_include_tag "application_jquery.js", :defer => "defer"

    %meta{:content => "text/html;charset=UTF-8", 'http-equiv' => "content-type"}/
    / Titre de la page
    %title Gestion des charges : #{controller.action_name}
    -#/ Insertion des styles CSS
    = stylesheet_link_tag 'application', media: 'all'

    -#/= stylesheet_link_tag 'jquery-ui-1.8.4.custom'
    -#/= stylesheet_link_tag 'jquery.fancybox-1.3.1'
    -#= stylesheet_link_tag 'formtastic', 'formtastic_changes'
    -#= stylesheet_link_tag '_style'
    -#= stylesheet_link_tag 'stylesDeApplication'
    -#/- CalendarDateSelect.format = :finnish
    -#/= calendar_date_select_includes :locale => "fr"

    = csrf_meta_tag
    = yield :head
  %body
    #wrapper
      #logo
        = image_tag("banniere.jpg")
      %hr/
      / end #logo
      - if current_user
        #header
          / les menus
          #menu
            %ul
              / Menu desiderata
              -# if can? :read, Desiderata
              -#  %li= link_to 'Desiderata', desideratas_path
              -#- if can? :read, ChargeEffective
              -#  %li= link_to 'Attribution', charge_effectives_path
              - if can? :manage, RoadMap
                %li= link_to 'RD MPS', road_maps_path
              - if can? :read, :enseignement
                %li= link_to 'PE', enseignement_path
              - if can? :manage, Charge
                %li= link_to 'Charges académiques', charges_path
              / Menu de gestion des personnes
              - if can? :index, Personne
                %li= link_to 'Personnes',   personnes_path
              / Menu de gestion des droits
              -#- if can? :droits, Personne
              -# %li= link_to 'Droits', droits_personnes_path
              / Menu de gestion des contrats
              - if can? :index_global, Contrat
                %li= link_to 'Contrats', [:index_global, :contrats]
              - elsif can? :read, current_user.contrats.build
                %li= link_to 'Contrats', [current_user, :contrats]
              - if can? :index, Projet
                %li= link_to 'Projets', projets_path
              / Menu de gestion des événements
              / <li><haml:loud> link_to 'Evénements',   :controller=&amp;gt;&amp;quot;bachelor&amp;quot;, :action=&amp;gt;&amp;quot;menu_evenement&amp;quot;     </haml:loud></li>
              - if can? :read, Planification
                / Planification
                %li= link_to 'Planification', planifications_path
              - if can? :manage, :configuration
                / Menu de configuration
                %li= link_to 'Configuration', configuration_path
              - if can? :manage, :configurationRH
                / Menu de configuration
                - # %li= link_to 'Config RH', configurationRH_path
              - if can? :manage, :configurationEnseignement
                / Menu de configuration
                - # %li= link_to 'Config Enseignement', configurationEnseignement_path
              - if can? :read, current_user
                %li= link_to "Mon Profil", current_user
                / Si on est logué, affichage du bouton de logout
              -#%li= link_to "Logout", destroy_personne_session_path, data: { :confirm => "Etes-vous sûr de vous vouloir vous déconnecter?" }

      / end #menu
      / end #header
      / end #header-wrapper
      #page
        #page-bgtop
          #content
            / Affichage des message flash
            - if flash[:info]
              .info_box
                = flash[:info]
            - if flash[:notice]
              .notice_box
                = flash[:notice]
            - if flash[:alert]
              .error_box
                = flash[:alert]
            / Insertion du code de chaque page
            = yield
          / end #content
          / Menu de guache
          #sidebar
            / texte de flash
            %p{:style => "color: #378CDF; text-decoration: none "}= flash[:left]
            / Si on est connecté, affichage du nom et prénom
            - if current_personne
              Vous êtes connecté en tant que
              %br
              = current_personne.prenom
              = current_personne.nom
              = " | "
              = link_to "Déconnexion", destroy_personne_session_path, data: { :confirm => "Etes-vous sûr de vous vouloir vous déconnecter?" }
              %br
              %br
            / Afficahge du menu de gauche
            = (left_menu = yield :left_menu) ? left_menu : render(:partial => 'layouts/left_menu')
            / end #sidebar
          %div{:style => "clear: both;"} &nbsp;
      / end #page
      = yield :planif
      #footer
        %p
          Système de gestion des ressources humaines.
          %br
          © 2009-2010, HEIG-VD, Institute for Information and Communication Technologies
      / end #footer
    / modal de chargement pour le module de planification
    %div{:class => 'loading-modal'}