!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    / Activation de javaScript
    = javascript_include_tag :defaults
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    / Titre de la page
    %title
      Gestion des charges : #{controller.action_name}
    / Insertion des styles CSS
    = stylesheet_link_tag 'scaffold'
    = stylesheet_link_tag '_style'
    = stylesheet_link_tag 'stylesDeApplication'
    = dhtml_calendar_includes
  <body #{@body_extras}>
  #wrapper
    #logo
      = image_tag("banniere.jpg")
    %hr/
    / end #logo
    #header
      #menu
        %ul
          %li= link_to 'Desideratas',   :controller=>"bachelor", :action=>"menu_desiderata"
          %li= link_to 'Projets',     :controller=>"bachelor", :action=>"menu_projet"
          %li= link_to 'Enseignement', :controller=>"bachelor", :action=>"menu_enseignement"
          %li= link_to 'Personnes',   :controller=>"bachelor", :action=>"menu_personne"
          %li= link_to 'Contrats',   :controller=>"bachelor", :action=>"menu_contrat"
          %li= link_to 'Evénements',   :controller=>"bachelor", :action=>"menu_evenement"
          %li= link_to 'Configuration',:controller=>"bachelor", :action=>"menu_configuration"
      / end #menu
    / end #header
    / end #header-wrapper
    #page
      #page-bgtop
        #content
          / Insertion du code de chaque page
          = yield
        / end #content
        #sidebar
          %ul
            %li
              %h2 Accès rapide
              %ul
                %li= link_to 'Listing des charges',     charges_path
                %li= link_to 'Listing des contrats',   contrats_path
                %li= link_to 'Desideratas',         desideratas_path
                %li= link_to 'Desideratas de projet',   desiderata_projets_path
        / end #sidebar
        %div{:style => "clear: both;"} &nbsp;
    / end #page
    #footer
      %p
        Système de gestion des ressources humaines.
        %br
        © 2009-2010, HEIG-VD, Institute for Information and Communication Technologies
    / end #footer
