!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title
      Salles: #{controller.action_name}
    = stylesheet_link_tag 'scaffold'
  %body
    %p{:style => "color: green"}= flash[:notice]
    = yield
